<div class="content" layout-padding>
    <div class="md-body-1">
        <div id="jobs-details" layout="column" layout-align="space-around stretch" layout-margin>
            <h1 layout="column" layout-gt-sm="row" layout-align="space-around stretch" class="md-headline">{{jobs.details.title}}</h1>
            <h3><strong>{{jobs.details.role.title}}:&nbsp</strong></h3>
            <md-list>
                <md-list-item ng-repeat="desc in jobs.details.role.desc">&bull;&nbsp{{desc}}</md-list-item>
            </md-list>
            <h3><strong>{{jobs.details.required.title}}:&nbsp</strong></h3>
            <md-list>
                <md-list-item ng-repeat="desc in jobs.details.required.desc">&bull;&nbsp{{desc}}</md-list-item>
            </md-list>
            <h3><strong>{{jobs.details.offer.title}}:&nbsp</strong></h3>
            <md-list>
                <md-list-item ng-repeat="desc in jobs.details.offer.desc">&bull;&nbsp{{desc}}</md-list-item>
            </md-list>
            <div layout="row" layout-align="start center" layout-margin>
                <a ng-if="false" class="list-align" ui-sref="jobs-list">{{ 'jobs.go-back' | translate }}</a>
                <a href="mailto:contact@listnride.com?Subject=Application%20for%20{{jobs.details.title}}" target="_top" class="md-raised md-primary md-button md-lnr-dark-theme md-ink-ripple list-align">{{ 'jobs.apply' | translate }}</a>
            </div>
        </div>
    </div>
</div>