<md-content class="single-column">
  <div class="content lnr-page-margin" layout="row">
    <div flex="70" flex-sm="80" layout-padding style="width: 100%">
      <md-tabs
        md-no-pagination
        md-dynamic-height
        md-no-ink
        md-no-ink-bars
        md-selected="booking.selectedIndex"
      >

        <!-- sign-in data tab -->
        <signup-tab ng-if="!booking.authentication.loggedIn()"></signup-tab>

        <!-- details data tab -->
        <details-tab ng-if="!booking.user.has_address"></details-tab>
        
        <!-- payment tab -->
        <payment-tab></payment-tab>
        
        <!-- overview tab -->
        <overview-tab></overview-tab>
      
      </md-tabs>
    </div>

    <div flex="30" flex-sm="20" layout-padding layout="column" ng-if="booking.authentication.loggedIn()">
      <div class="spacer-xs"></div>
      <div class="animate-if highlight-tile" style="margin: 64px 16px 0 0" layout="column">
        <receipt start-date="booking.startDate" end-date="booking.endDate" prices="booking.prices" invalid-days="0"></receipt>
        <md-button
          class="md-raised md-primary lnr-margin-lrg"
          ng-disabled="booking.nextDisabled"
          ng-click="booking.nextTab()"
          flex="90"
        >
          {{ 'shared.next' | translate }}
        </md-button>
      </div>
      <div layout="row" layout-align="end none">
        <img
          class="md-card-image lnr-request__img-methods"
          ng-src="app/assets/ui_icons/lnr_ico_lock.svg"
          alt="Secure"
        >
        <div style="margin: 0 16px">
          Secure Shopping
        </div>
      </div>
    </div>
  </div>

  <div class="content" layout-padding ng-if="!booking.authentication.loggedIn()">
    <div class="lnr-section-title" layout="column" layout-align="center center">
      <p class="md-subhead">Pay secure with</p>
      <div layout="row">
        <img
          class="md-card-image lnr-request__img-methods lnr-payment-image"
          ng-src="app/assets/ui_icons/lnr_logo_paypal.svg"
          alt="Paypal"
        >
        <img
          class="md-card-image lnr-request__img-methods lnr-payment-image"
          ng-src="app/assets/ui_icons/lnr_logo_mastercard.svg"
          alt="Mastercard"
        >
        <img
          class="md-card-image lnr-request__img-methods lnr-payment-image"
          ng-src="app/assets/ui_icons/lnr_logo_visa.svg"
          alt="Visa"
        >
      </div>
    </div>
  </div>

  <div class="content" layout-padding>
    <div class="lnr-section-title mt0" layout="column" layout-align="center center">
      <p class="md-body-2"><b>Do you have questions about booking a bike?</b><br>
        Call us +49 (0)30-120870330, Mo-Fr 9-18 pm. <a href="mailto:support@listandride.com">Or write us an email</a>.</p>
      <div class="lnr-row-images" layout="row" layout-align="center center">
        <div class="lnr-row-images__item" layout="column" layout-align="center center">
          <img ng-src="app/assets/ui_images/request-flow/lnr_supportThumb_topbias@2x.png" alt="Tobias">
          <span>Tobias</span>
        </div>
        <div class="lnr-row-images__item" layout="column" layout-align="center center">
          <img ng-src="app/assets/ui_images/request-flow/lnr_supportThumb_lena@2x.png" alt="Lena">
          <span>Lena</span>
        </div>
      </div>
      <p class="md-caption"><b>listnride Support</b></p>
    </div>
  </div>
</md-content>
