<md-tab
  class="categories"
  label="{{ calendar.parent.tabOrder['calendar'] + 1 }}. {{ 'booking.calendar.tab' | translate }} {{ calendar.parent.tabCompleted(0) }}"
  layout="row"
  ng-disabled="calendar.parent.tabsDisabled"
  md-on-select="calendar.parent.onTabChanged()">
  <div class="spacer-xs"></div>
  <md-content layout="column">
    <div class="tab-content" style="min-height: 450px;" layout-align="space-between none" layout-padding>
      <div class="lnr-list-form" layout="column">
        <h2 class="md-title lnr-m-0">{{ 'booking.calendar.bike-rental' | translate }}</h2>
        <p class="md-body-1">{{ 'booking.calendar.intro-description' | translate }}</p>
        <div class="spacer-xs"></div>
      	<div layout="row" layout-align="space-between none" layout-wrap>
          <div flex="25" flex-xs="100">
            <a ui-sref="bike({bikeId: calendar.parent.bike.id})" target="_blank">
              <img flex="100" ng-src="{{ calendar.parent.bike.image_file }}" />
            </a>
          </div>
          <div flex="70" flex-xs="60" layout="column">
            <a class="md-subhead lnr-black" ui-sref="bike({bikeId: calendar.parent.bike.id})" target="_blank">{{ calendar.parent.bike.brand }}, {{ calendar.parent.bikeCategory }}</a>
            <br>
            <div layout="row" layout-align="space-between none">
              <span flex="45" class="md-body-2">{{ 'booking.overview.size' | translate }}</span>
              <span flex="55" class="md-body-1 lnr-lh-body-2">{{ calendar.parent.bikeSize }}</span>
            </div>
            <div layout="row" layout-align="space-between none">
              <span flex="45" class="md-body-2">{{ 'booking.overview.location' | translate }}</span>
              <span flex="55" class="md-body-1 lnr-lh-body-2">{{ calendar.parent.bike.city }}</span>
            </div>
          </div>
        </div>
        <div class="spacer"></div>
        <md-divider></md-divider>
        <br>
        <h2 class="md-title lnr-m-0">{{ 'booking.calendar.choose-duration' | translate }}</h2>
        <br>
        <div layout="row" layout-align="start center" flex layout-xs="column">
          <md-input-container flex-xs="100">
            <label>{{ 'shared.duration' | translate }}</label>
            <input-range
              ng-if="calendar.parent.isOpeningHoursLoaded"
              lnr-date-picker
              lnr-single-input
              data="calendar.parent.dateRange"
              disabled-dates="calendar.parent.bike.availabilities"
              opening-hours="calendar.parent.openingHours"
              requests="calendar.parent.bike.requests"
              date-on-change="calendar.parent.updateDate"
              date-container="'.booking__daterange-focus'"
              date-scroll-container="'.booking__body'"
            >
            </input-range>
          </md-input-container>
          &nbsp;&nbsp;&nbsp;&nbsp;

        <div id="timeRange" ng-if="calendar.parent.startDate"
            layout="row" layout-align="start center" flex="40" flex-xs="100">
            <md-input-container flex>
              <label>{{ 'booking.calendar.pickup-time' | translate }}</label>
              <md-select
                ng-disabled="calendar.parent.startDate == undefined"
                ng-change="calendar.parent.onTimeChange('start')"
                ng-model="calendar.parent.startTime"
                placeholder="{{ 'shared.from' | translate }}">
                <md-option
                ng-disabled="!calendar.parent.calendarHelper.isTimeAvailable($index, calendar.parent.openingHours, calendar.parent.startDate)"
                ng-repeat="i in [].constructor(17) track by $index"
                value="{{$index + 6}}"
                >
                  {{ ($index + 6) + ":00" + calendar.availabilityMessage($index, calendar.startDate) }}
                </md-option>
              </md-select>
            </md-input-container>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <md-input-container flex>
              <label>{{ 'booking.calendar.return-time' | translate }}</label>
              <md-select
                ng-disabled="calendar.parent.endDate === undefined"
                ng-change="calendar.parent.onTimeChange('end')"
                ng-model="calendar.parent.endTime"
                placeholder="{{ 'shared.to' | translate }}"
              >
                <md-option
                  ng-disabled="!calendar.parent.calendarHelper.isTimeAvailable($index, calendar.parent.openingHours, calendar.parent.endDate)"
                  ng-repeat="i in [].constructor(17) track by $index"
                  value="{{$index + 6}}"
                >
                  {{ ($index + 6) + ":00" + calendar.availabilityMessage($index, calendar.endDate)}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>
        </div>
      </div>
    </div>
  </md-content>
</md-tab>
