<md-tab class="details"
        label="{{ 'booking.details.tab' | translate }} {{ booking.tabCompleted(1) }}"
        layout="row">
  <div class="spacer-xs"></div>
  <md-content style="max-height: 620px;"
              layout="column">
    <div class="tab-content" style="min-height: 400px;"
         layout="row"
         layout-align="space-between none"
         layout-padding>
      <div class="lnr-list-form"
           layout="column">
        <h2 class="md-subhead">Invoice Address</h2>
        <br>
        <form name="detailsForm" novalidate class="md-body-desktop">
          <!-- First name and Last name -->
          <div class="lnr-input-containers" layout="row" ng-hide="true">
            <md-input-container flex>
              <label>{{ 'forms.first-name' | translate }}</label>
              <input
                name="firstName"
                ng-model="details.parent.user.firstName"
                ng-disabled="true"
              >
              <div ng-messages="detailsForm.firstName.$error" role="alert">
                <div ng-message="required">{{ 'forms.errors.empty-first-name' | translate }}</div>
                <div ng-message="maxlength">{{ 'forms.errors.max-size-first-name' | translate }}</div>
              </div>
            </md-input-container>
            <md-input-container flex>
              <label>{{ 'forms.last-name' | translate }}</label>
              <input
                name="lastName"
                ng-model="details.parent.user.lastName"
                ng-maxlength="30"
                ng-disabled="true"
              >
              <div ng-messages="detailsForm.lastName.$error" role="alert">
                <div ng-message="required">{{ 'forms.errors.empty-last-name' | translate }}</div>
                <div ng-message="maxlength">{{ 'forms.errors.max-size-last-name' | translate }}</div>
              </div>
            </md-input-container>
          </div>
          <div class="lnr-input-containers" layout="row">
            <div flex>
              <autocomplete
                autocomplete-id="details"
                layout="column"
                required="true"
                name="street"
                location="details.parent.user.street"
                label-id="{{ 'list.location.street-number' | translate }}"
                place-changed="details.parent.fillAddress(place)"
                error="detailsForm.street.$error"
              >
              </autocomplete>
            </div>

            <md-input-container flex>
              <label>City</label>
              <input
                required
                name="city"
                ng-model="details.parent.user.city"
              >
              <div ng-messages="detailsForm.city.$error" role="alert">
                <div ng-message="required">{{ 'shared.required' | translate }}</div>
              </div>
            </md-input-container>
          </div>

          <div class="lnr-input-containers" layout="row">
            <md-input-container flex>
              <label>Postal Code</label>
              <input
                required
                name="zip"
                ng-model="details.parent.user.zip"
              >
              <div ng-messages="detailsForm.zip.$error" role="alert">
                <div ng-message="required">{{ 'shared.required' | translate }}</div>
              </div>
            </md-input-container>

            <md-input-container flex>
              <label>Country</label>
              <input
                required
                name="country"
                ng-model="details.parent.user.country"
              >
              <div ng-messages="detailsForm.country.$error" role="alert">
                <div ng-message="required">{{ 'shared.required' | translate }}</div>
              </div>
            </md-input-container>
          </div>
          <br>
          <md-divider></md-divider>
          <br>
          <h2 class="md-subhead">Verification</h2>
          <p ng-show="details.parent.showConfirmButton">We'll send you one time sms to your phone.</p>
          <p ng-show="!details.parent.showConfirmButton">Please check your phone.</p>

          <!-- Phone Number and Send Button -->
          <div class="lnr-input-containers"
               layout="row"
               ng-show="details.parent.showConfirmButton">
            <md-input-container flex>
              <label>{{ 'shared.phone-number' | translate }}</label>
              <input
                international-phone-number
                ng-model="details.parent.phone_number"
                ng-pattern="details.parent.phonePattern"
                name="phone_number"
                ng-pattern="/^\+(?:[0-9] ?){6,14}[0-9]$/"
                ng-required="true"
                preferred-countries="de, at, nl, fr, lv, es, it, ch, gb"
                required
              >
              <div ng-messages="detailsForm.phone_number.$error" role="alert">
                <div ng-message="pattern">{{ 'verification.5.enter-valid-phone-nr' | translate }}</div>
                <div ng-message="required">{{ 'verification.5.enter-valid-phone-nr' | translate }}</div>
              </div>
            </md-input-container>
            <md-input-container flex>
              <md-button
                flex
                style="margin: 25px 0 0"
                class="md-raised md-primary lnr-btn-inline"
                ng-click="details.parent.sendSms(detailsForm.phone_number)"
              >
                <span>Send Code</span>
              </md-button>
            </md-input-container>
          </div>

          <!-- Phone Confirmation -->
          <div class="lnr-confirmation-containers"
               layout="column"
               layout-align="center start"
               ng-hide="details.parent.showConfirmButton">
            <div layout="row" class="confirm-label">
              <strong>Confirmation code</strong>
            </div>
            <div layout="row">
              <div layout="row" flex="25" layout-align="start start">
                <div class="lnr-sms-input">
                  <md-input-container flex-gt-xs="20" class="lnr-sms-digit" focus>
                    <input
                      ng-model="details.parent.confirmation[0]"
                      maxlength="1"
                      required
                      ng-change="details.parent.confirmPhone()"
                    >
                  </md-input-container>
                  <md-input-container flex-gt-xs="20" class="lnr-sms-digit" focus>
                    <input
                      ng-model="details.parent.confirmation[1]"
                      maxlength="1"
                      required
                      ng-change="details.parent.confirmPhone()"
                    >
                  </md-input-container>
                  <md-input-container flex-gt-xs="20" class="lnr-sms-digit" focus>
                    <input
                      ng-model="details.parent.confirmation[2]"
                      maxlength="1"
                      required
                      ng-change="details.parent.confirmPhone()"
                    >
                  </md-input-container>
                  <md-input-container flex-gt-xs="20" class="lnr-sms-digit">
                    <input
                      ng-model="details.parent.confirmation[3]"
                      maxlength="1"
                      required
                      ng-change="details.parent.confirmPhone()"
                    >
                  </md-input-container>
                </div>
              </div>
              <span flex></span>
              <div layout="row" flex="50" layout-align="start start">
                <div ng-show="details.parent.phoneConfirmed === 'progress'" class="text-default">
                  Enter the pin that we just sent to your phone
                </div>
                <div ng-show="details.parent.phoneConfirmed === 'success'" class="text-default">
                  Success message
                </div>
                <div ng-show="details.parent.phoneConfirmed === 'error'" class="text-error">
                  The code you entered is not correct. Try again or resend the SMS
                </div>
              </div>
            </div>

            <div class="sign-up-links" flex layout="row" layout-align="space-between center">
              <a class="lnr-link" ng-click="details.parent.toggleConfirmButton()">Resend</a>
            </div>
          </div>
          <!--FIXME: Delete after testing done-->
          <!--================================-->
          <!--<h1>Form valid:{{detailsForm.$valid}}</h1>-->
          <!--================================-->
        </form>
      </div>
    </div>
  </md-content>
</md-tab>
