<md-tab class="categories"
        label="{{ 'booking.payment.tab' | translate }} {{ payment.parent.tabCompleted(2) }}"
        layout="row"
        ng-disabled="payment.parent.tabsDisabled">
  <div class="spacer-xs"></div>
  <md-content style="max-height: 620px;"
              layout="column">
    <div class="tab-content"
         style="min-height: 450px;"
         layout-align="space-between none"
         layout-padding>
      <div class="lnr-list-form"
           layout="column">
        <p class="md-subhead">{{ 'booking.payment.select-method' | translate }}</p>
        <p class="md-body-1">{{ 'booking.payment.subtitle' | translate }}</p>
        <div class="spacer-xs"></div>
        <md-radio-group ng-model="payment.parent.paymentMethod">
          <md-divider></md-divider>
            <div layout="row">
              <md-radio-button value="1" class="md-primary lnr-payment-tab-button" flex="80">{{ 'booking.payment.credit-card' | translate }}</md-radio-button>
              <div flex="20" layout="row" layout-align="end center">
                <img
                  class="md-card-image lnr-request__img-methods lnr-payment-tab-image"
                  ng-src="app/assets/ui_icons/lnr_logo_mastercard.svg"
                  alt="Mastercard"
                >
                <img
                  class="md-card-image lnr-request__img-methods lnr-payment-tab-image"
                  ng-src="app/assets/ui_icons/lnr_logo_visa.svg"
                  alt="Visa"
                >
              </div>
            </div>
            <form name="payment.parent.paymentForm" novalidate ng-hide="payment.parent.paymentMethod != 1">
              <!-- Cardholder name and Cardnumber -->
              <div class="lnr-input-containers" layout="row" layout-align="space-between none">
                <md-input-container flex="25">
                  <label>{{ 'booking.payment.card-name' | translate }}</label>
                  <input name="cardholderName"
                         ng-model-options='{ debounce: 400 }'
                         type="text"
                         ng-model="payment.parent.creditCardHolderName"
                         ng-required="true"/>
                  <div ng-messages="payment.parent.paymentForm.cardholderName.$error"
                       ng-show="payment.parent.paymentForm.cardholderName.$dirty"
                       role="alert">
                    <div ng-message="required">{{ 'booking.payment.invalid-name' | translate }}</div>
                  </div>
                </md-input-container>
                <md-input-container flex="25">
                  <label>{{ 'booking.payment.card-number' | translate }}</label>
                  <input name="creditCardNumber"
                         ng-model-options='{ debounce: 400 }'
                         type="text"
                         ng-model="payment.parent.creditCardNumber"
                         cc-number
                         cc-eager-type
                         ng-required="true"
                  />
                  <div ng-messages="payment.parent.paymentForm.creditCardNumber.$error"
                       ng-show="payment.parent.paymentForm.creditCardNumber.$dirty"
                       role="alert">
                    <div ng-message="required">{{ 'booking.payment.invalid-card' | translate }}</div>
                    <div ng-message="ccNumber">{{payment.parent.paymentForm.creditCardNumber.$ccEagerType}} {{ 'booking.payment.invalid-card-number' | translate }}</div>
                  </div>
                </md-input-container>
                <md-input-container flex="15">
                  <label>{{ 'booking.payment.exp-month' | translate }}</label>
                  <input name="monthExpiry"
                     ng-model-options='{ debounce: 400 }'
                     ng-model="payment.parent.month_expiry"
                     type="text"
                     cc-exp-month
                     ng-required="true"
                  />
                  <div ng-messages="payment.parent.paymentForm.monthExpiry.$error"
                       ng-show="payment.parent.paymentForm.monthExpiry.$dirty"
                       role="alert">
                    <div ng-message="ccExpMonth">{{ 'booking.payment.invalid-month' | translate }}</div>
                    <div ng-message="parse">{{ 'booking.payment.invalid-month' | translate }}</div>
                  </div>
                </md-input-container>
                <md-input-container flex="15">
                  <label>{{ 'booking.payment.exp-year' | translate }}</label>
                  <input name="yearExpiry"
                     ng-model-options='{ debounce: 400 }'
                     ng-model="payment.parent.year"
                     cc-exp-year
                     ng-required="true"/>
                  <div ng-messages="payment.parent.paymentForm.yearExpiry.$error"
                       ng-show="payment.parent.paymentForm.yearExpiry.$dirty"
                       role="alert">
                    <div ng-message="ccExpYear">{{ 'booking.payment.invalid-year' | translate }}</div>
                    <div ng-message="parse">{{ 'booking.payment.invalid-year' | translate }}</div>
                  </div>
                </md-input-container>
                <md-input-container flex="15">
                  <label>{{ 'booking.payment.cvc' | translate }}</label>
                  <input name="securityNumber"
                     ng-model-options='{ debounce: 400 }'
                     ng-model="payment.parent.security_number"
                     type="text"
                     cc-cvc
                     ng-required="true"/>
                  <div ng-messages="payment.parent.paymentForm.securityNumber.$error"
                       ng-show="payment.parent.paymentForm.securityNumber.$dirty"
                       role="alert">
                    <div ng-message="required">{{ 'booking.payment.cvc' | translate }}</div>
                    <div ng-message="ccCvc">{{ 'booking.payment.cvc' | translate }}</div>
                  </div>
                </md-input-container>
              </div>
              <br>
            </form>
          <md-divider></md-divider>
            <div layout="row" layout-align="space-between none">
              <md-radio-button
                value="2"
                class="md-primary lnr-payment-tab-button"
                flex="80"
              >
                Paypal
              </md-radio-button>
              <div flex="20" layout="row" layout-align="end center">
                <img
                  class="md-card-image lnr-request__img-methods lnr-payment-tab-image"
                  ng-src="app/assets/ui_icons/lnr_logo_paypal.svg"
                  alt="PayPal"
                >
              </div>
            </div>
            <md-button
              class="md-raised md-primary"
              ng-hide="payment.parent.paymentMethod != 2"
              ng-click="payment.parent.openPaypal()"
            >
              {{ 'booking.payment.pay-paypal' | translate }}
            </md-button>
          <md-divider></md-divider>
        </md-radio-group>
      </div>
    </div>
    </div>
  </md-content>
</md-tab>
