<md-tab class="categories"
        label="{{ 'booking.payment.tab' | translate }}"
        layout="row">
  <div class="spacer-xs"></div>
  <md-content style="max-height: 620px;"
              layout="column">
    <div class="tab-content"
         style="min-height: 450px;"
         layout-align="space-between none"
         layout-padding>
      <div class="lnr-list-form"
           layout="column">
        <p class="md-subhead">Select your Payment Method</p>
        <p class="md-body-1">Please select your favorite payment method. We only charge you after the lister accepted your request.</p>
        <div class="spacer-xs"></div>
        <md-radio-group ng-model="receipt.paymentMethod">
          <md-divider></md-divider>
            <md-radio-button value="1" class="md-primary">Credit Card</md-radio-button>
            <form name="paymentForm" novalidate ng-hide="receipt.paymentMethod != 1">
              <!-- Cardholder name and Cardnumber -->
              <div class="lnr-input-containers" layout="row">
                <md-input-container flex>
                  <label>Cardholder Name</label>
                  <input name="cardholderName"
                         ng-model-options='{ debounce: 400 }'
                         type="text"
                         ng-model="payment.parent.creditCardHolderName"
                         ng-required="true"/>
                  <div ng-messages="paymentForm.cardholderName.$error"
                       ng-show="paymentForm.cardholderName.$dirty"
                       role="alert">
                    <div ng-message="required">Please provide valid name</div>
                  </div>
                </md-input-container>
                <md-input-container flex>
                  <label>Card Number</label>
                  <input name="creditCardNumber"
                         ng-model-options='{ debounce: 400 }'
                         type="text"
                         ng-model="payment.parent.creditCardNumber"
                         cc-number
                         cc-eager-type
                         ng-required="true"
                  />
                  <div ng-messages="paymentForm.creditCardNumber.$error"
                       ng-show="paymentForm.creditCardNumber.$dirty"
                       role="alert">
                    <div ng-message="required"> Please provide a valid Card Number</div>
                    <div ng-message="ccNumber"> {{paymentForm.creditCardNumber.$ccEagerType}} Card Number not valid
                    </div>
                  </div>
                </md-input-container>
              </div>
              <!-- Expiry and Code -->
              <div class="lnr-input-containers" layout="row">
                <div flex="100" layout="row"
                     layout-align="space-around center"
                     cc-exp>
                  <md-input-container flex>
                    <label>Expiry month</label>
                    <input name="monthExpiry"
                           ng-model-options='{ debounce: 400 }'
                           ng-model="payment.parent.month_expiry"
                           type="text"
                           cc-exp-month
                           ng-required="true"
                    />
                    <div ng-messages="paymentForm.monthExpiry.$error"
                         ng-show="paymentForm.monthExpiry.$dirty"
                         role="alert">
                      <div ng-message="ccExpMonth"> Month not valid</div>
                      <div ng-message="parse"> Month not valid</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex>
                    <label>Expiry year</label>
                    <input name="yearExpiry"
                           ng-model-options='{ debounce: 400 }'
                           ng-model="payment.parent.year"
                           cc-exp-year
                           ng-required="true"/>
                    <div ng-messages="paymentForm.yearExpiry.$error"
                         ng-show="paymentForm.yearExpiry.$dirty"
                         role="alert">
                      <div ng-message="ccExpYear">Year not valid</div>
                      <div ng-message="parse">Year not valid</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex>
                    <label>Security Number</label>
                    <input name="securityNumber"
                           ng-model-options='{ debounce: 400 }'
                           ng-model="payment.parent.security_number"
                           type="text"
                           cc-cvc
                           ng-required="true"/>
                    <div ng-messages="paymentForm.securityNumber.$error"
                         ng-show="paymentForm.securityNumber.$dirty"
                         role="alert">
                      <div ng-message="required">CVC not valid</div>
                      <div ng-message="ccCvc">CVC not valid</div>
                    </div>
                  </md-input-container>
                </div>
              </div>
            </form>
          <md-divider></md-divider>
            <md-radio-button value="2" class="md-primary">Paypal</md-radio-button>
            <md-button class="md-raised md-primary" ng-hide="receipt.paymentMethod != 2">Pay with Paypal</md-button>
          <md-divider></md-divider>
        </md-radio-group>
      </div>
    </div>
    </div>
  </md-content>
</md-tab>