<md-tab ng-disabled="accessoriesTab.parent.isListMode" class="accessories" label="{{ 'list.accessories.label' | translate }}" layout="row">
  <md-content class="md-padding" layout="column">
    <div class="tab-content" layout="row" layout-align="space-between none" layout-padding>
      <div class="lnr-list-form" flex-xs="100" flex-gt-xs="50" layout="column">
        <div class="lnr-list-title">
          <h3 class="md-subhead">
            {{ 'list.accessories.header' | translate }}
          </h3>
        </div>

        <div ng-repeat="acc in accessoriesTab.parent.accessoryOptions" class="accessory-checkbox" layout="row" layout-align="start center">
          <md-icon ng-class="accessoriesTab.parent.form[acc.model] ? 'checked' : 'unchecked'" class="lnr-icn-sm md-color-foreground accessory-icon"
            md-svg-src="app/assets/ui_icons/{{acc.iconFileName}}" ng-click="accessoriesTab.parent.onAccessoryClick(acc.model)"></md-icon>
          <div class="accessory-label no-select" ng-click="accessoriesTab.parent.onAccessoryClick(acc.model)">
            {{'list.accessories.' + acc.label | translate }}
          </div>
        </div>
      </div>

      <md-divider hide-xs class="lnr-margin-left lnr-margin-right-double"></md-divider>

      <div flex="50" hide-xs>
        <div class="lnr-list-title">
          <h3 class="md-subhead">
            Info
          </h3>
        </div>
        <p class="md-body-1">
          {{ 'list.accessories.hint' | translate }}
        </p>
      </div>
    </div>

    <div class="navigation" layout="row" layout-align="space-between center" layout-margin>
      <md-button class="md-lined" ng-click="accessoriesTab.parent.previousTab()">
        {{ 'list.back' | translate }}
      </md-button>
      <md-button class="md-raised md-primary" ng-click="accessoriesTab.parent.nextTab()">
        {{ 'list.next' | translate }}
      </md-button>
    </div>
  </md-content>
</md-tab>