<md-tab ng-disabled="detailsTab.parent.isListMode" class="details" label="{{ 'list.details.label' | translate }} {{ detailsTab.parent.tabCompleted(1) }}" layout="row">
  <md-content class="md-padding" layout="column">
    <div class="tab-content" layout="row" layout-align="space-between none" layout-padding>
      <div class="lnr-list-form" flex-xs="100" flex-gt-xs="50" layout="column">
        <div class="lnr-list-title">
          <h3 class="md-subhead">{{ 'list.details.header' | translate }}</h3>
        </div>
        <md-input-container>
          <label>{{ 'list.details.brand' | translate }}</label>
          <input name="brand" required ng-model="detailsTab.parent.form.brand" maxlength="25">
        </md-input-container>

        <md-input-container>
          <label>{{ 'list.details.name' | translate }}</label>
          <input required ng-model="detailsTab.parent.form.name" maxlength="25">
        </md-input-container>

        <div layout="row" layout-align="space-between center">
          <md-input-container flex="45">
            <label>{{ 'list.details.size' | translate }}</label>
            <md-select required ng-model="detailsTab.parent.form.size">
              <md-option ng-repeat="size in detailsTab.parent.sizeOptions" value="{{ size.value }}">
                {{ size.label }}
              </md-option>
            </md-select>
          </md-input-container>

          <md-input-container flex="45">
            <label>{{ 'list.details.frame-size' | translate }}</label>
            <input name="frame_size" ng-model="detailsTab.parent.form.frame_size" maxlength="25">
          </md-input-container>
        </div>

        <md-input-container>
          <label>{{ 'list.details.description' | translate }}</label>
          <textarea required md-no-resize minlength="100" md-maxlength="800" name="description" ng-model="detailsTab.parent.form.description" rows="2"></textarea>
          <div ng-messages="listBike.description.$error" role="alert">
            <div ng-message="minlength">
              {{ 'list.details.min-length-warning' | translate }}
            </div>
          </div>
        </md-input-container>

        <div layout="row" layout-align="space-between center">
          <p>{{'list.details.custom-fields' | translate}}</p>
          <md-switch ng-model="detailsTab.parent.show_custom_fields" ng-model-options='{ debounce: 1 }'>
          </md-switch>
        </div>
        <div layout="column" ng-show="detailsTab.parent.show_custom_fields">
          <md-input-container>
            <label>{{ 'list.details.bicycle-number' | translate }}</label>
            <input name="bicycle_number" ng-model="detailsTab.parent.form.bicycle_number" maxlength="25">
          </md-input-container>

          <md-input-container>
            <label>{{ 'list.details.frame-number' | translate }}</label>
            <input name="frame_number" ng-model="detailsTab.parent.form.frame_number" maxlength="25">
          </md-input-container>

          <md-input-container>
            <label>{{ 'list.details.label' | translate }}</label>
            <textarea
              md-no-resize
              md-detect-hidden
              md-maxlength="800"
              name="details"
              ng-model="detailsTab.parent.form.details"
              rows="2"></textarea>
          </md-input-container>
        </div>
      </div>

      <md-divider hide-xs class="lnr-ml lnr-mr-x2"></md-divider>

      <div flex="50" hide-xs>
        <div class="lnr-list-title">
          <h3 class="md-subhead">
            Info
          </h3>
        </div>
        <p class="md-body-1">
          {{ 'list.details.hint' | translate }}
        </p>
      </div>

    </div>

    <div class="navigation" layout="row" layout-align="space-between center" layout-margin>
      <md-button class="md-lined" ng-click="detailsTab.parent.previousTab()">
        {{ 'list.back' | translate }}
      </md-button>
      <md-button class="md-raised md-primary" ng-disabled="!detailsTab.parent.isDetailsValid() && detailsTab.parent.isListMode" ng-click="detailsTab.parent.nextTab()">
        {{ 'list.next' | translate }}
      </md-button>
    </div>
  </md-content>
</md-tab>