<md-content class="single-column">
  <div class="content lnr-page-margin"
       layout="column"
       layout-align="center center">
    <div class="lnr-section-title"
         layout="column"
         layout-align="center center">
      <h1 class="md-headline">{{ list.heading | translate }}</h1>
    </div>

    <div layout="row"
         layout-align="end center"
         ng-if="!list.isListMode">
      <md-button class="md-raised md-primary"
                 ng-disabled="!list.isFormValid() || list.submitDisabled"
                 ng-click="list.onFormSubmit()">
        {{ 'list.save-changes' | translate }}
      </md-button>
    </div>

    <form
      name="listBike"
      layout="column"
      layout-align="start center"
      layout-padding
    >
      <md-tabs
        md-no-pagination
        md-dynamic-height
        md-no-ink
        md-no-ink-bars
        md-selected="list.selectedIndex"
        md-center-tabs="on"
      >
        <!-- categories -->
        <categories-list-tab></categories-list-tab>
        <!-- end categories -->

        <!-- details -->
        <details-list-tab></details-list-tab>
        <!-- end details -->

        <!-- accessories -->
        <accessories-list-tab></accessories-list-tab>
        <!-- end accessories -->

        <!-- pictures -->
        <pictures-list-tab></pictures-list-tab>
        <!-- end pictures -->

        <!-- location -->
        <location-list-tab></location-list-tab>
        <!-- end location -->

        <!-- pricing -->
        <pricing-list-tab></pricing-list-tab>
        <!-- end pricing -->
      </md-tabs>
    </form>
  </div>
  <footer></footer>>
</md-content>
