<md-content class="single-column">
  <div class="content lnr-page-margin"
       layout="column"
       layout-align="center center">
    <div class="lnr-section-title"
         layout="column"
         layout-align="center center">
      <h1 class="md-headline">{{ list.heading | translate }}</h1>
    </div>

    <div layout="row"
         layout-align="end center"
         ng-if="!list.isListMode">
      <md-button class="md-raised md-primary"
                 ng-disabled="!list.isFormValid() || list.submitDisabled"
                 ng-click="list.onFormSubmit()">
        {{ 'list.save-changes' | translate }}
      </md-button>
    </div>

    <form name="listBike"
          layout="column"
          layout-align="start center"
          layout-padding>
      <md-tabs md-no-pagination
               md-dynamic-height
               md-no-ink
               md-no-ink-bars
               md-selected="list.selectedIndex"
               md-center-tabs="on">

        <!-- categories -->
        <md-tab ng-disabled="list.isListMode"
                class="categories"
                label="{{ 'list.category.label' | translate }}"
                layout="row">
          <md-content class="md-padding" layout="column">
            <div class="tab-content"
                 layout="row"
                 layout-align="space-between none"
                 layout-padding>
              <div class="lnr-list-form"
                   flex-xs="100"
                   flex-gt-xs="50"
                   layout="column">
                <div class="lnr-list-title">
                  <h3 class="md-subhead">
                    {{ 'list.category.header' | translate }}
                  </h3>
                </div>
                <div layout="row" layout-align="space-between start">
                  <md-radio-group ng-model="list.form.mainCategory" flex="50" layout="column"
                                  ng-change="list.categoryChange({{list.form.mainCategory}})">
                    <md-radio-button class="main-category"
                                     ng-repeat="cat in list.categoryOptions"
                                     value="{{cat.value}}">
                      <md-icon class="lnr-icn-sm md-color-foreground accessory-icon"
                               md-svg-src="app/assets/ui_icons/{{cat.iconFileName}}"
                               ng-class="list.form.mainCategory == cat.value ? 'checked' : 'unchecked'"></md-icon>
                      {{ 'list.category.' + cat.label.replace(' ', '-') | translate }}
                    </md-radio-button>
                  </md-radio-group>

                  <md-radio-group ng-model="list.form.subCategory"
                                  flex
                                  layout="column">
                    <md-radio-button ng-repeat="subcat in list.subcategoryOptions[list.form.mainCategory]"
                                     value="{{subcat.value}}">
                      {{ 'list.subcategory.' + list.form.mainCategory + '.' + subcat.label | translate }}
                    </md-radio-button>
                  </md-radio-group>
                </div>
              </div>

              <md-divider hide-xs class="lnr-margin-left lnr-margin-right-double"></md-divider>

              <div flex="50" hide-xs>
                <div class="lnr-list-title">
                  <h3 class="md-subhead">
                    Info
                  </h3>
                </div>
                <p class="md-body-1">{{ 'list.category.hint' | translate }}</p>
              </div>
            </div>

            <div class="navigation"
                 layout="row"
                 layout-align="end center"
                 layout-margin>
              <md-button class="md-raised md-primary"
                         ng-disabled="!list.isCategoryValid() && list.isListMode"
                         ng-click="list.nextTab()">
                {{ 'list.next' | translate }}
              </md-button>
            </div>
          </md-content>
        </md-tab>
        <!-- end categories -->

        <!-- details -->
        <md-tab ng-disabled="list.isListMode" class="details" label="{{ 'list.details.label' | translate }}"
                layout="row">
          <md-content class="md-padding" layout="column">
            <div class="tab-content"
                 layout="row"
                 layout-align="space-between none"
                 layout-padding>
              <div class="lnr-list-form"
                   flex-xs="100"
                   flex-gt-xs="50"
                   layout="column">
                <div class="lnr-list-title">
                  <h3 class="md-subhead">{{ 'list.details.header' | translate }}</h3>
                </div>
                <md-input-container>
                  <label>{{ 'list.details.brand' | translate }}</label>
                  <input name="brand"
                         required
                         ng-model="list.form.brand"
                         maxlength="25">
                </md-input-container>

                <md-input-container>
                  <label>{{ 'list.details.name' | translate }}</label>
                  <input required
                         ng-model="list.form.name"
                         maxlength="25">
                </md-input-container>

                <div layout="row" layout-align="space-between center">
                  <md-input-container flex="45">
                    <label>{{ 'list.details.size' | translate }}</label>
                    <md-select required ng-model="list.form.size">
                      <md-option ng-if="list.form.mainCategory == 4"
                                 ng-repeat="size in list.kidsSizeOptions"
                                 value="{{ size.value }}">
                        {{ size.label }}
                      </md-option>

                      <md-option ng-if="list.form.mainCategory != 4"
                                 ng-repeat="size in list.sizeOptions"
                                 value="{{ size.value }}">
                        {{ size.label }}
                      </md-option>
                    </md-select>
                  </md-input-container>

                  <md-input-container flex="45">
                    <label>{{ 'list.details.frame-size' | translate }}</label>
                    <input
                            name="frame_size"
                            ng-model="list.form.frame_size"
                            maxlength="25">
                  </md-input-container>
                </div>

                <md-input-container>
                  <label>{{ 'list.details.description' | translate }}</label>
                  <textarea required
                            md-no-resize
                            minlength="100"
                            md-maxlength="800"
                            name="description"
                            ng-model="list.form.description"
                            rows="2"></textarea>
                  <div ng-messages="listBike.description.$error" role="alert">
                    <div ng-message="minlength">
                      {{ 'list.details.min-length-warning' | translate }}
                    </div>
                  </div>
                </md-input-container>

                <div layout="row" layout-align="space-between center">
                  <p>{{'list.details.custom-fields' | translate}}</p>
                  <md-switch ng-model="list.show_custom_fields"
                             ng-model-options='{ debounce: 1 }'>
                  </md-switch>
                </div>
                <div
                  layout="column"
                  ng-show="list.show_custom_fields"
                >
                  <md-input-container>
                    <label>{{ 'list.details.bicycle-number' | translate }}</label>
                    <input
                      name="bicycle_number"
                      ng-model="list.form.bicycle_number"
                      maxlength="25">
                  </md-input-container>

                  <md-input-container>
                    <label>{{ 'list.details.frame-number' | translate }}</label>
                    <input
                      name="frame_number"
                      ng-model="list.form.frame_number"
                      maxlength="25">
                  </md-input-container>

                  <md-input-container >
                    <label>{{ 'list.details.details' | translate }}</label>
                    <textarea
                      md-no-resize
                      md-maxlength="800"
                      name="details"
                      ng-model="list.form.details"
                      rows="2"></textarea>
                  </md-input-container>
                </div>
              </div>

              <md-divider hide-xs class="lnr-margin-left lnr-margin-right-double"></md-divider>

              <div flex="50" hide-xs>
                <div class="lnr-list-title">
                  <h3 class="md-subhead">
                    Info
                  </h3>
                </div>
                <p class="md-body-1">
                  {{ 'list.details.hint' | translate }}
                </p>
              </div>

            </div>

            <div class="navigation"
                 layout="row"
                 layout-align="space-between center"
                 layout-margin>
              <md-button class="md-lined" ng-click="list.previousTab()">
                {{ 'list.back' | translate }}
              </md-button>
              <md-button class="md-raised md-primary"
                         ng-disabled="!list.isDetailsValid() && list.isListMode"
                         ng-click="list.nextTab()">
                {{ 'list.next' | translate }}
              </md-button>
            </div>
          </md-content>
        </md-tab>
        <!-- end details -->

        <!-- accessories -->
        <md-tab ng-disabled="list.isListMode" class="accessories" label="{{ 'list.accessories.label' | translate }}"
                layout="row">
          <md-content class="md-padding" layout="column">
            <div class="tab-content"
                 layout="row"
                 layout-align="space-between none"
                 layout-padding>
              <div class="lnr-list-form"
                   flex-xs="100"
                   flex-gt-xs="50"
                   layout="column">
                <div class="lnr-list-title">
                  <h3 class="md-subhead">
                    {{ 'list.accessories.header' | translate }}
                  </h3>
                </div>

                <div ng-repeat="acc in list.accessoryOptions"
                     class="accessory-checkbox"
                     layout="row"
                     layout-align="start center">
                  <md-icon ng-class="list.form[acc.model] ? 'checked' : 'unchecked'"
                           class="lnr-icn-sm md-color-foreground accessory-icon"
                           md-svg-src="app/assets/ui_icons/{{acc.iconFileName}}"
                           ng-click="list.onAccessoryClick(acc.model)"></md-icon>
                  <div class="accessory-label no-select"
                       ng-click="list.onAccessoryClick(acc.model)">
                    {{'list.accessories.' + acc.label | translate }}
                  </div>
                </div>
              </div>

              <md-divider hide-xs class="lnr-margin-left lnr-margin-right-double"></md-divider>

              <div flex="50" hide-xs>
                <div class="lnr-list-title">
                  <h3 class="md-subhead">
                    Info
                  </h3>
                </div>
                <p class="md-body-1">
                  {{ 'list.accessories.hint' | translate }}
                </p>
              </div>
            </div>

            <div class="navigation"
                 layout="row"
                 layout-align="space-between center"
                 layout-margin>
              <md-button class="md-lined"
                         ng-click="list.previousTab()">
                {{ 'list.back' | translate }}
              </md-button>
              <md-button class="md-raised md-primary"
                         ng-click="list.nextTab()">
                {{ 'list.next' | translate }}
              </md-button>
            </div>
          </md-content>
        </md-tab>
        <!-- end accessories -->

        <!-- pictures -->
        <md-tab ng-disabled="list.isListMode"
                class="pictures"
                label="{{ 'list.pictures.label' | translate }}"
                layout="row">
          <md-content class="md-padding" layout="column">
            <div class="tab-content"
                 layout="row"
                 layout-align="space-between none"
                 layout-padding>
              <div class="lnr-list-form"
                   flex-xs="100"
                   flex-gt-xs="50"
                   layout="column">
                <div class="lnr-list-title">
                  <h3 class="md-subhead">
                    {{ 'list.pictures.header' | translate }}
                  </h3>
                </div>
                <md-button
                    class="md-raised md-primary lnr-no-margin"
                    ng-disabled="list.form.images.length > 4"
                    ngf-multiple="true"
                    ngf-select="list.addImage($files)"
                    ngf-resize="{width: 1600, height: 1200, quality: .9}"
                    accept=".jpg,.jpeg,.png"
                    ngf-validate="list.validateObj"
                    ngf-model-invalid="list.invalidFiles">
                  {{ 'list.pictures.select-images' | translate }}
                </md-button>

                <div class="preview-container lnr-margin-top"
                     layout="column"
                     layout-wrap>
                  <div ng-repeat="img in list.form.images track by $index"
                       layout="row"
                       layout-align="space-between center">
                    <div ng-if="img.local == 'true'"
                         class="img-preview lnr-margin-top"
                         ngf-background="img.src"
                         ngf-as-background="true">
                    </div>

                    <div
                        class="img-preview lnr-margin-top"
                        ng-if="img.local == 'false'"
                        ng-style="{'background-image': 'url(' + img.url + ')'}">
                    </div>
                    <md-button class="md-lined md-warn"
                               ng-click="list.removeImage($index, img)">
                      {{ 'list.pictures.remove' | translate}}
                    </md-button>
                  </div>
                </div>
                <div class="text-error"
                     ng-if="list.invalidFiles[0] !== undefined"
                     layout="column"
                     hide-gt-xs
                     layout-padding>
                  {{ 'list.pictures.under-min-size' | translate}}
                  <ul>
                    <div ng-repeat="invalideImage in list.invalidFiles" class="text-error">
                      <li>
                        {{invalideImage.name}} - {{invalideImage.$ngfWidth}}x{{invalideImage.$ngfHeight}}
                      </li>
                    </div>
                  </ul>
                </div>
              </div>

              <md-divider hide-xs class="lnr-margin-left lnr-margin-right-double"></md-divider>

              <div flex="50" hide-xs>
                <div class="lnr-list-title">
                  <h3 class="md-subhead">
                    Info
                  </h3>
                </div>
                <p class="md-body-1">{{ 'list.pictures.hint' | translate }}</p>
                <a ui-sref="how-to-shoot-bike-photos" target="_blank">{{ 'list.pictures.how-to' | translate }}</a>

                <div ng-if="list.invalidFiles[0] !== undefined" class="text-error">
                  <div class="lnr-list-title">
                    <h3 class="md-subhead">
                      <md-icon md-font-icon="fa-exclamation-triangle"
                               class="lnr-icn-sm md-color-disabled lnr-margin-right fa">
                      </md-icon>
                      {{ 'list.pictures.invalid-images' | translate}}
                    </h3>
                  </div>
                  {{ 'list.pictures.under-min-size' | translate}}
                  <ul>
                    <div ng-repeat="invalideImage in list.invalidFiles" class="text-error">
                      <li>
                        {{invalideImage.name}} - {{invalideImage.$ngfWidth}}x{{invalideImage.$ngfHeight}}
                      </li>
                    </div>
                  </ul>
                </div>
              </div>
            </div>

            <div class="navigation"
                 layout="row"
                 layout-align="space-between center"
                 layout-margin>
              <md-button class="md-lined" ng-click="list.previousTab()">
                {{ 'list.back' | translate }}
              </md-button>
              <md-button class="md-raised md-primary"
                         ng-click="list.nextTab()"
                         ng-disabled="!list.isPictureValid() && list.isListMode">
                {{ 'list.next' | translate }}
              </md-button>
            </div>
          </md-content>
        </md-tab>
        <!-- end pictures -->

        <!-- location -->
        <md-tab class="location"
                ng-disabled="list.isListMode"
                label="{{ 'list.location.label' | translate }}"
                layout="row">
          <md-content class="md-padding" layout="column">
            <div class="tab-content"
                 layout="row"
                 layout-align="space-between none"
                 layout-padding>
              <div class="lnr-list-form"
                   flex-xs="100"
                   flex-gt-xs="50"
                   layout="column">
                <div class="lnr-list-title">
                  <h3 class="md-subhead">
                    {{ 'list.location.header' | translate }}
                  </h3>
                </div>

                <!-- <autocomplete autocomplete-id="list-search"
                              class="list-search"
                              layout="column"
                              location="list.form.street"
                              label-id="{{ 'list.location.street-number' | translate }}"
                              required="true"
                              place-changed="list.fillAddress(place)">
                </autocomplete> -->

                <md-input-container>
                  <label>{{ 'list.location.street-number' | translate }}</label>
                  <input required ng-model="list.form.street">
                </md-input-container>

                <md-input-container>
                  <label>{{ 'list.location.zip' | translate }}</label>
                  <input required ng-model="list.form.zip">
                </md-input-container>

                <md-input-container>
                  <label>{{ 'list.location.city' | translate }}</label>
                  <input required ng-model="list.form.city">
                </md-input-container>

                <md-input-container>
                  <label>{{ 'list.location.country' | translate }}</label>
                  <input required ng-model="list.form.country">
                </md-input-container>
              </div>

              <md-divider hide-xs class="lnr-margin-left lnr-margin-right-double"></md-divider>

              <div flex="50" hide-xs>
                <div class="lnr-list-title">
                  <h3 class="md-subhead">
                    Info
                  </h3>
                </div>
                <p class="md-body-1">
                  {{ 'list.location.hint' | translate }}
                </p>

                <p class="md-caption" data-ng-bind-html="'forms.privacy-policy' | translate"></p>
              </div>

            </div>

            <div class="navigation" layout="row" layout-align="space-between center" layout-margin>
              <md-button class="md-lined" ng-click="list.previousTab()">
                {{ 'list.back' | translate }}
              </md-button>
              <md-button class="md-raised md-primary"
                         ng-disabled="!list.isLocationValid() && list.isListMode"
                         ng-click="list.nextTab()">
                {{ 'list.next' | translate }}
              </md-button>
            </div>
          </md-content>
        </md-tab>
        <!-- end location -->

        <!-- pricing -->
        <md-tab ng-disabled="list.isListMode" class="pricing" label="{{ 'list.pricing.label' | translate }}"
                layout="row">
          <md-content class="md-padding" layout="column">
            <div class="tab-content" layout="row" layout-align="space-between none" layout-padding>
              <!-- form for the price -->
              <div ng-form name="list.priceForm" class="lnr-list-form" flex-xs="100" flex-gt-xs="50" layout="column">
                <h3 class="md-subhead">{{ 'list.pricing.header' | translate }}</h3>
                <p>{{'list.pricing.description' | translate}}</p>
                <!-- Daily Price -->
                <md-input-container class="md-block">
                  <label>{{ 'list.pricing.header' | translate }} (€)</label>
                  <input type="text"
                         name="daily_price"
                         ng-pattern="/^\d+$/"
                         maxlength="3"
                         placeholder="{{'list.pricing.daily-price-placeholder' | translate}}"
                         ng-model="list.form.prices[0].price"
                         ng-change="list.setCustomPrices(true)"
                         ng-model-options='{ debounce: 300 }'
                         required>
                  <div ng-messages="list.priceForm.daily_price.$error" ng-show="list.priceForm.daily_price.$dirty">
                    <div ng-message="required">{{'list.pricing.validations.required.daily_price' | translate}}</div>
                  </div>
                </md-input-container>
                <!-- Daily and Weekly Discounts -->
                <div layout="row" layout-align="space-between center" ng-if="!list.businessUser">
                  <div flex="45">
                    <md-input-container class="md-block">
                      <div layout layout-align="space-between center">
                        <div>
                          <label>{{ 'list.pricing.daily-discount' | translate }} (%)</label>
                        </div>
                        <div>
                          <md-icon hide-xs class="lnr-icn-xs md-color-black"
                                   md-svg-src="app/assets/ui_icons/icn_info.svg"></md-icon>
                          <md-tooltip md-direction="right">
                            {{ 'list.pricing.daily-discount-tooltip' | translate }}
                          </md-tooltip>
                        </div>
                      </div>
                      <input type="text"
                             ng-pattern="/^\d+$/"
                             name="dailyDiscount"
                             amount
                             placeholder="{{'list.pricing.daily-discount-placeholder' | translate}}"
                             maxlength="2"
                             ng-model="list.form.discounts.daily"
                             ng-change="list.setCustomPrices()"
                             ng-model-options='{ debounce: 300 }'
                             show-as-integer
                             ng-disabled="!list.discountFieldEditable">
                    </md-input-container>
                  </div>
                  <div flex="45">
                    <md-input-container class="md-block">
                      <div layout layout-align="space-between center">
                        <div>
                          <label>{{ 'list.pricing.weekly-discount' | translate }} (%)</label>
                        </div>
                        <div>
                          <md-icon hide-xs class="lnr-icn-xs md-color-black"
                                   md-svg-src="app/assets/ui_icons/icn_info.svg"></md-icon>
                          <md-tooltip md-direction="right">
                            {{ 'list.pricing.weekly-discount-tooltip' | translate }}
                          </md-tooltip>
                        </div>
                      </div>
                      <input type="text"
                             ng-pattern="/^\d+$/"
                             placeholder="{{'list.pricing.weekly-discount-placeholder' | translate}}"
                             maxlength="2"
                             ng-model="list.form.discounts.weekly"
                             ng-change="list.setCustomPrices()"
                             ng-model-options='{ debounce: 300 }'
                             show-as-integer
                             ng-disabled="!list.discountFieldEditable">
                    </md-input-container>
                  </div>
                </div>
                <div ng-if="!list.businessUser">
                  <!-- description is not shown when custom prices are used.-->
                  <span
                    class="md-caption"
                    ng-if="list.form.discounts.weekly && list.form.prices[0].price && !list.show_reset_button"
                  >
                    {{'list.pricing.discount-description-initial' | translate}}
                    {{list.form.discounts.weekly | number:0}}%
                    {{'list.pricing.discount-description-mid' | translate}}
                    {{list.form.prices[6].price}}€
                    {{'list.pricing.discount-description-ending' | translate}}
                  </span>
                  <span>&nbsp</span>
                </div>
                <!-- Switch for Custom Prices -->
                <div ng-if="!list.businessUser" layout="row" layout-align="space-between center">
                  <p>{{'list.pricing.custom-prices' | translate}}</p>
                  <md-switch ng-model="list.form.custom_price"
                             ng-change="list.toggleDiscount()"
                             ng-model-options='{ debounce: 1 }'>
                  </md-switch>
                  <div ng-style="{'display': settings.completeClosed ? '' : 'none'}">
                    ({{ 'settings.mark-as-closed' | translate }})
                  </div>
                </div>
                <!-- Custom Prices -->
                <div class="bikes-custom-price" ng-show="list.show_custom_price">
                  <div layout="row" layout-align="space-between center">
                    <div flex="45">
                      <md-input-container class="md-block">
                        <label>{{'list.pricing.price_2_days' | translate}} </label>
                        <input type="text"
                               name="price_2_days"
                               ng-pattern="/^\d+$/"
                               placeholder="{{'list.pricing.set_custom_price' | translate}}"
                               maxlength="3"
                               ng-model="list.form.prices[1].price"
                               ng-change="list.disableDiscounts()"
                               ng-model-options='{ debounce: 300 }'
                               ng-disabled="!list.form.custom_price"
                               required>
                        <div ng-messages="list.priceForm.price_2_days.$error"
                             ng-show="list.priceForm.price_2_days.$dirty">
                          <div ng-message="required">{{'list.pricing.validations.required.price' | translate}}</div>
                        </div>
                      </md-input-container>
                    </div>
                    <div flex="45">
                      <md-input-container class="md-block">
                        <label>{{'list.pricing.price_3_days' | translate}}</label>
                        <input type="text"
                               name="price_3_days"
                               ng-pattern="/^\d+$/"
                               placeholder="{{'list.pricing.set_custom_price' | translate}}"
                               maxlength="3"
                               ng-model="list.form.prices[2].price"
                               ng-change="list.disableDiscounts()"
                               ng-model-options='{ debounce: 300 }'
                               ng-disabled="!list.form.custom_price"
                               required>
                        <div ng-messages="list.priceForm.price_3_days.$error"
                             ng-show="list.priceForm.price_3_days.$dirty">
                          <div ng-message="required">{{'list.pricing.validations.required.price' | translate}}</div>
                        </div>
                      </md-input-container>
                    </div>
                  </div>
                  <div layout="row" layout-align="space-between center">
                    <div flex="45">
                      <md-input-container class="md-block">
                        <label>{{'list.pricing.price_4_days' | translate}}</label>
                        <input type="text"
                               name="price_4_days"
                               ng-pattern="/^\d+$/"
                               placeholder="{{'list.pricing.set_custom_price' | translate}}"
                               maxlength="3"
                               ng-model="list.form.prices[3].price"
                               ng-change="list.disableDiscounts()"
                               ng-model-options='{ debounce: 300 }'
                               ng-disabled="!list.form.custom_price"
                               required>
                        <div ng-messages="list.priceForm.price_4_days.$error"
                             ng-show="list.priceForm.price_4_days.$dirty">
                          <div ng-message="required">{{'list.pricing.validations.required.price' | translate}}</div>
                        </div>
                      </md-input-container>
                    </div>
                    <div flex="45">
                      <md-input-container class="md-block">
                        <label>{{'list.pricing.price_5_days' | translate}}</label>
                        <input type="text"
                               name="price_5_days"
                               ng-pattern="/^\d+$/"
                               placeholder="{{'list.pricing.set_custom_price' | translate}}"
                               maxlength="3"
                               ng-model="list.form.prices[4].price"
                               ng-change="list.disableDiscounts()"
                               ng-model-options='{ debounce: 300 }'
                               ng-disabled="!list.form.custom_price"
                               required>
                        <div ng-messages="list.priceForm.price_5_days.$error"
                             ng-show="list.priceForm.price_5_days.$dirty">
                          <div ng-message="required">{{'list.pricing.validations.required.price' | translate}}</div>
                        </div>
                      </md-input-container>
                    </div>
                  </div>
                  <div layout="row" layout-align="space-between center">
                    <div flex="45">
                      <md-input-container class="md-block">
                        <label>{{'list.pricing.price_6_days' | translate}}</label>
                        <input type="text"
                               name="price_6_days"
                               ng-pattern="/^\d+$/"
                               placeholder="{{'list.pricing.set_custom_price' | translate}}"
                               maxlength="3"
                               ng-model="list.form.prices[5].price"
                               ng-change="list.disableDiscounts()"
                               ng-model-options='{ debounce: 300 }'
                               ng-disabled="!list.form.custom_price"
                               required>
                        <div ng-messages="list.priceForm.price_6_days.$error"
                             ng-show="list.priceForm.price_6_days.$dirty">
                          <div ng-message="required">{{'list.pricing.validations.required.price' | translate}}</div>
                        </div>
                      </md-input-container>
                    </div>
                    <div flex="45">
                      <md-input-container class="md-block">
                        <label>{{'list.pricing.price_7_days' | translate}}</label>
                        <input type="text"
                               name="price_7_days"
                               ng-pattern="/^\d+$/"
                               placeholder="{{'list.pricing.set_custom_price' | translate}}"
                               maxlength="3"
                               ng-model="list.form.prices[6].price"
                               ng-change="list.disableDiscounts()"
                               ng-model-options='{ debounce: 300 }'
                               ng-disabled="!list.form.custom_price"
                               required>
                        <div ng-messages="list.priceForm.price_7_days.$error"
                             ng-show="list.priceForm.price_7_days.$dirty">
                          <div ng-message="required">{{'list.pricing.validations.required.price' | translate}}</div>
                        </div>
                      </md-input-container>
                    </div>
                  </div>
                  <div layout="row" layout-align="space-between center">
                    <div flex="45">
                      <md-input-container class="md-block">
                        <!-- don't use `hide-sm` here. causes issues in ipad split screen -->
                        <label hide-xs>{{'list.pricing.price_8_days_long' | translate}}</label>
                        <label hide-gt-xs>{{'list.pricing.price_8_days' | translate}}</label>
                        <input type="text"
                               name="price_8_days"
                               ng-pattern="/^\d+$/"
                               placeholder="{{'list.pricing.set_custom_price' | translate}}"
                               maxlength="3"
                               ng-model="list.form.prices[7].price"
                               ng-change="list.disableDiscounts()"
                               ng-model-options='{ debounce: 300 }'
                               ng-disabled="!list.form.custom_price"
                               required>
                        <div ng-messages="list.priceForm.price_8_days.$error"
                             ng-show="list.priceForm.price_8_days.$dirty">
                          <div ng-message="required">{{'list.pricing.validations.required.price' | translate}}</div>
                        </div>
                      </md-input-container>
                    </div>
                    <div flex="45">
                      <md-input-container class="md-block">
                        <label>{{'list.pricing.price_30_days' | translate}}</label>
                        <input type="text"
                               name="price_30_days"
                               ng-pattern="/^\d+$/"
                               placeholder="{{'list.pricing.set_custom_price' | translate}}"
                               maxlength="4"
                               ng-model="list.form.prices[8].price"
                               ng-change="list.disableDiscounts()"
                               ng-model-options='{ debounce: 300 }'
                               ng-disabled="!list.form.custom_price"
                               required>
                        <div ng-messages="list.priceForm.price_30_days.$error"
                             ng-show="list.priceForm.price_30_days.$dirty">
                          <div ng-message="required">{{'list.pricing.validations.required.price' | translate}}</div>
                        </div>
                      </md-input-container>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Divider between Left and Right Columns -->
              <md-divider hide-xs class="lnr-margin-left lnr-margin-right-double"></md-divider>
              <!-- Info Column -->
              <div flex="50" hide-xs>
                <h3 class="md-subhead">{{'list.pricing.info-description' | translate }}</h3>
                <p class="md-body-1">{{ 'list.pricing.hint-para-1' | translate }}</p>
                <p class="md-body-1">{{ 'list.pricing.hint-para-3' | translate }}</p>
              </div>
            </div>
            <!-- Navigation Buttons -->
            <div class="navigation" layout="row" layout-align="space-between center" layout-margin>
              <md-button class="md-lined" ng-click="list.previousTab()">
                {{ 'list.back' | translate }}
              </md-button>
              <md-button ng-if="list.isListMode"
                         class="md-raised md-primary"
                         ng-disabled="!list.isPricingValid() || list.submitDisabled"
                         ng-click="list.onFormSubmit()">
                {{ 'list.list-bike' | translate }}
              </md-button>
            </div>
          </md-content>
        </md-tab>
        <!-- end pricing -->
      </md-tabs>
    </form>
  </div>
  <footer></footer>>
</md-content>
