<md-content class="single-column">
  <div class="content lnr-page-margin" layout="column" layout-align="center center" layout-padding>
    <div class="lnr-section-title lnr-center" layout="column" layout="column" layout-align="center center">
      <h1 class="md-headline">{{ 'listings.my-bikes' | translate }}</h1>
    </div>

    <div ng-if="listings.bikes !== undefined && listings.bikes.length == 0">
      {{ 'listings.no-bikes' | translate }}
    </div>

    <div class="lnr-bike-listings" name="listBike" layout="row" layout-align="start start" layout-padding>
      <listing-card ng-repeat="bike in listings.bikes" flex-sm="50" flex-gt-sm="33"
        bike-id="bike.id" name="bike.name" brand="bike.brand" category="bike.category" price="bike.price_daily"
        image-url=" bike.image_file_1.image_file_1.small.url" available="bike.available"
        remove-bike="listings.removeBike(bikeId)">
      </listing-card>
    </div>
  </div>

  <footer></footer>
<md-content>