<!-- All views except XS -->
<!-- <div flex="100" layout="row" layout-fill>
	<md-content flex-gt-xs="25" flex="100" class="requests-list" flex-order="1">

  </md-content> -->

<div layout="column">
<md-button ng-click="listView.toggleSidenav()">Sidebar :)</md-button>
<md-button ng-click="listView.toggleSidenav()">Sidebar :)</md-button>
<md-button ng-click="listView.toggleSidenav()">Sidebar :)</md-button>
<md-button ng-click="listView.toggleSidenav()">Sidebar :)</md-button>
<md-button ng-click="listView.toggleSidenav()">Sidebar :)</md-button>
<md-button ng-click="listView.toggleSidenav()">Sidebar :)</md-button>
<md-button ng-click="listView.toggleSidenav()">Sidebar :)</md-button>
<md-button ng-click="listView.toggleSidenav()">Sidebar :)</md-button>
<md-button ng-click="listView.toggleSidenav()">Sidebar :)</md-button>
<md-button ng-click="listView.toggleSidenav()">Sidebar :)</md-button>
</div>
<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="edit">
</md-sidenav>