<!-- YOU CAN REMOVE THE PLACEHOLDER BELOW -->
<div layout="column">
  adsdfadfsa
    <div layout flex="20">
      <div layout="column">
        <md-button ng-click="listView.toggleSidenav()">Sidebar :)</md-button>
        <md-button ng-click="listView.toggleSidenav()">Sidebar :)</md-button>
        <md-button ng-click="listView.toggleSidenav()">Sidebar :)</md-button>
        <md-button ng-click="listView.toggleSidenav()">Sidebar :)</md-button>
        <md-button ng-click="listView.toggleSidenav()">Sidebar :)</md-button>
        <md-button ng-click="listView.toggleSidenav()">Sidebar :)</md-button>
        <md-button ng-click="listView.toggleSidenav()">Sidebar :)</md-button>
        <md-button ng-click="listView.toggleSidenav()">Sidebar :)</md-button>
        <md-button ng-click="listView.toggleSidenav()">Sidebar :)</md-button>
        <md-button ng-click="listView.toggleSidenav()">Sidebar :)</md-button>
        <md-button ng-click="listView.toggleSidenav()">Sidebar :)</md-button>
        <md-button ng-click="listView.toggleSidenav()">Sidebar :)</md-button>
        <md-button ng-click="listView.toggleSidenav()">Sidebar :)</md-button>
        <md-button ng-click="listView.toggleSidenav()">Sidebar :)</md-button>
        <md-button ng-click="listView.toggleSidenav()">Sidebar :(</md-button>
      </div>
    </div>
</div>
