<md-dialog flex="70">
    <md-toolbar hide show-xs>
      <div class="md-toolbar-tools" layout-align="center center">
        <md-button class="md-icon-button">
          <md-icon></md-icon>
        </md-button>
        <span flex></span>
        <br><h2>Bike Photos</h2><br>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="galleryDialog.hide()">
          <md-icon md-svg-src="assets/ui_images/icn_close_24.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <md-tabs md-dynamic-height md-align-tabs="bottom" md-center-tabs>
          <md-tab label="1" ng-if="galleryDialog.image_1 != null">
              <img flex ng-src="{{galleryDialog.image_1}}" layout-fill></img>
          </md-tab>
          <md-tab label="2" ng-if="galleryDialog.image_2 != null">
            <md-content>          
              <img flex ng-src="{{galleryDialog.image_2}}" layout-fill></img>
            </md-content>
          </md-tab>
          <md-tab label="3" ng-if="galleryDialog.image_3 != null">
            <md-content>
              <img flex ng-src="{{galleryDialog.image_3}}" layout-fill></img>
            </md-content>
          </md-tab>
          <md-tab label="4" ng-if="galleryDialog.image_4 != null">
            <md-content>
              <img flex ng-src="{{galleryDialog.image_4}}" layout-fill></img>
            </md-content>
          </md-tab>
          <md-tab label="5" ng-if="galleryDialog.image_5 != null">
            <md-content>
              <img flex ng-src="{{galleryDialog.image_5}}" layout-fill></img>
            </md-content>
          </md-tab>
        </md-tabs>
      </div>
    </md-dialog-content>
</md-dialog>