/*-----------------------------------------------------------------------------------*/
/* This file contains the custom CSS required for our slideshow galleries
/*-----------------------------------------------------------------------------------*/ 

.cb-slideshow li span { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  -webkit-animation: imageAnimation 25s linear infinite 0s;
  -moz-animation: imageAnimation 25s linear infinite 0s;
  -o-animation: imageAnimation 25s linear infinite 0s;
  animation: imageAnimation 25s linear infinite 0s; 
}

@-webkit-keyframes imageAnimation { 
  0% { opacity: 0; animation-timing-function: linear; }
  2% { opacity: 1; animation-timing-function: linear; }
  25% { opacity: 1 }
  27% { opacity: 0 }
  100% { opacity: 0 }
}

@-moz-keyframes imageAnimation { 
  0% { opacity: 0; animation-timing-function: linear; }
  2% { opacity: 1; animation-timing-function: linear; }
  25% { opacity: 1 }
  27% { opacity: 0 }
  100% { opacity: 0 }
}

@-o-keyframes imageAnimation { 
  0% { opacity: 0; animation-timing-function: linear; }
  2% { opacity: 1; animation-timing-function: linear; }
  25% { opacity: 1 }
  27% { opacity: 0 }
  100% { opacity: 0 }
}

@keyframes imageAnimation { 
  0% { opacity: 0; animation-timing-function: linear; }
  2% { opacity: 1; animation-timing-function: linear; }
  25% { opacity: 1 }
  27% { opacity: 0 }
  100% { opacity: 0 }
}

/*---------------------------------------------------------*/
/* HOME
/*---------------------------------------------------------*/ 

home .cb-slideshow li span { 
  -webkit-animation: imageAnimation 25s linear infinite 0s;
  -moz-animation: imageAnimation 25s linear infinite 0s;
  -o-animation: imageAnimation 25s linear infinite 0s;
  animation: imageAnimation 25s linear infinite 0s; 
}

home .cb-slideshow li:nth-child(1) span { 
  background-image: url(../ui_images/lnr_hero2.jpg); 
  background-position: 75% 50%;
}

home .cb-slideshow li:nth-child(2) span { 
  background-image: url(../ui_images/lnr_hero3.jpg);
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  -o-animation-delay: 5s; 
  animation-delay: 5s;
}

home .cb-slideshow li:nth-child(3) span { 
  background-image: url(../ui_images/lnr_hero6.jpg);
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  -o-animation-delay: 10s; 
  animation-delay: 10s;
}

home .cb-slideshow li:nth-child(4) span { 
  background-image: url(../ui_images/lnr_hero4.jpg);
  -webkit-animation-delay: 15s;
  -moz-animation-delay: 15s;
  -o-animation-delay: 15s; 
  animation-delay: 15s;
}

home .cb-slideshow li:nth-child(5) span { 
  background-image: url(../ui_images/lnr_hero5.jpg);
  background-position: 100% 50%;
  -webkit-animation-delay: 20s;
  -moz-animation-delay: 20s;
  -o-animation-delay: 20s; 
  animation-delay: 20s;
}

/*---------------------------------------------------------*/
/* AMPLER
/*---------------------------------------------------------*/ 

ampler .cb-slideshow li span { 
  -webkit-animation: imageAnimation 25s linear infinite 0s;
  -moz-animation: imageAnimation 25s linear infinite 0s;
  -o-animation: imageAnimation 25s linear infinite 0s;
  animation: imageAnimation 25s linear infinite 0s; 
}

ampler .cb-slideshow li:nth-child(1) span { 
  background-image: url(../ui_images/brand-integration/ampler_hero_1.jpg); 
  background-position: 75% 50%;
}

ampler .cb-slideshow li:nth-child(2) span { 
  background-image: url(../ui_images/brand-integration/ampler_hero_2.jpg);
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  -o-animation-delay: 5s; 
  animation-delay: 5s;
}

ampler .cb-slideshow li:nth-child(3) span { 
  background-image: url(../ui_images/brand-integration/ampler_hero_3.jpg);
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  -o-animation-delay: 10s; 
  animation-delay: 10s;
}

ampler .cb-slideshow li:nth-child(4) span { 
  background-image: url(../ui_images/brand-integration/ampler_hero_4.jpg);
  -webkit-animation-delay: 15s;
  -moz-animation-delay: 15s;
  -o-animation-delay: 15s; 
  animation-delay: 15s;
}

ampler .cb-slideshow li:nth-child(5) span { 
  background-image: url(../ui_images/brand-integration/ampler_hero_5.jpg);
  -webkit-animation-delay: 20s;
  -moz-animation-delay: 20s;
  -o-animation-delay: 20s; 
  animation-delay: 20s;
}

/*---------------------------------------------------------*/
/* BROMPTON
/*---------------------------------------------------------*/ 

brompton .cb-slideshow li span { 
  -webkit-animation: bromptonAnimation 20s linear infinite 0s;
  -moz-animation: bromptonAnimation 20s linear infinite 0s;
  -o-animation: bromptonAnimation 20s linear infinite 0s;
  animation: bromptonAnimation 20s linear infinite 0s; 
}

brompton .cb-slideshow li:nth-child(1) span { 
  background-image: url(../ui_images/brand-integration/brompton_hero1.jpg); 
}

brompton .cb-slideshow li:nth-child(2) span { 
  background-image: url(../ui_images/brand-integration/brompton_hero2.jpg);
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  -o-animation-delay: 5s; 
  animation-delay: 5s;
}

brompton .cb-slideshow li:nth-child(3) span { 
  background-image: url(../ui_images/brand-integration/brompton_hero3.jpg);
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  -o-animation-delay: 10s; 
  animation-delay: 10s;
}

brompton .cb-slideshow li:nth-child(4) span { 
  background-image: url(../ui_images/brand-integration/brompton_hero4.jpg);
  -webkit-animation-delay: 15s;
  -moz-animation-delay: 15s;
  -o-animation-delay: 15s; 
  animation-delay: 15s;
}

@-webkit-keyframes bromptonAnimation { 
  0% { opacity: 0; animation-timing-function: ease-in; }
  5% { opacity: 1; animation-timing-function: ease-out; }
  20% { opacity: 1 }
  30% { opacity: 0 }
  100% { opacity: 0 }
}

@-moz-keyframes bromptonAnimation { 
  0% { opacity: 0; animation-timing-function: ease-in; }
  5% { opacity: 1; animation-timing-function: ease-out; }
  20% { opacity: 1 }
  30% { opacity: 0 }
  100% { opacity: 0 }
}

@-o-keyframes bromptonAnimation { 
  0% { opacity: 0; animation-timing-function: ease-in; }
  5% { opacity: 1; animation-timing-function: ease-out; }
  20% { opacity: 1 }
  30% { opacity: 0 }
  100% { opacity: 0 }
}

@keyframes bromptonAnimation { 
  0% { opacity: 0; animation-timing-function: ease-in; }
  5% { opacity: 1; animation-timing-function: ease-out; }
  20% { opacity: 1 }
  30% { opacity: 0 }
  100% { opacity: 0 }
}