<md-tab class="categories" label="Payment" layout="row">
  <md-content style="max-height: 620px;overflow: scroll;" class="md-padding" layout="column">
    <div class="tab-content" style="min-height: 562px;" layout="row" layout-align="space-between none" layout-padding>
      <div class="lnr-list-form" flex-xs="100" flex-gt-xs="70" layout="column">
        <!-- Cardholder name and Cardnumber -->
        <div class="lnr-input-containers" layout="row">
          <md-input-container flex>
            <label>Cardholder Name</label>
            <input name="cardholder_name" type="text" ng-model="payment.booking.creditCardHolderName" ng-required="true" />
            <div ng-messages="signupForm.first_name.$error" role="alert">
              <div ng-message="required">{{ 'forms.errors.empty-first-name' | translate }}</div>
              <div ng-message="maxlength">{{ 'forms.errors.max-size-first-name' | translate }}</div>
            </div>
          </md-input-container>
          <md-input-container flex>
            <label>Card Number</label>
            <input name="cardholderNumber" type="text" ng-model="payment.booking.creditCardNumber" cc-number cc-type="cardType" ng-required="true"
            />
            <div ng-messages="signupForm.last_name.$error" role="alert">
              <div ng-message="required">{{ 'forms.errors.empty-last-name' | translate }}</div>
              <div ng-message="maxlength">{{ 'forms.errors.max-size-last-name' | translate }}</div>
            </div>
          </md-input-container>
        </div>
        <!-- Expiry and Code -->
        <div class="lnr-input-containers" layout="row">
          <div flex="50" layout="row" layout-align="space-around center">
            <md-input-container flex>
              <label>Expiry</label>
              <input name="cardholder_name" type="text" ng-model="payment.booking.creditCardHolderName" ng-required="true" />
              <div ng-messages="signupForm.first_name.$error" role="alert">
                <div ng-message="required">{{ 'forms.errors.empty-first-name' | translate }}</div>
                <div ng-message="maxlength">{{ 'forms.errors.max-size-first-name' | translate }}</div>
              </div>
            </md-input-container>
            <md-input-container flex>
              <label>Expiry</label>
              <input name="cardholderNumber" type="text" ng-model="payment.booking.creditCardNumber" cc-number cc-type="cardType" ng-required="true"
              />
              <div ng-messages="signupForm.last_name.$error" role="alert">
                <div ng-message="required">{{ 'forms.errors.empty-last-name' | translate }}</div>
                <div ng-message="maxlength">{{ 'forms.errors.max-size-last-name' | translate }}</div>
              </div>
            </md-input-container>
          </div>
        </div>
      </div>

      <!-- vertical divider -->
      <md-divider hide-xs class="lnr-margin-left lnr-margin-right-double"></md-divider>

      <!-- Right Info Column -->
      <div flex hide-xs>
        <div class="lnr-list-title">
          <h3 class="md-subhead">
            Total
          </h3>
        </div>
        <p class="md-body-1">
          including VAT and Listnride fees
        </p>
      </div>
    </div>
    </div>
  </md-content>

  <!-- Bottom Navigation Buttons -->
  <div class="navigation" layout="row" layout-align="space-between center" layout-margin>
    <md-button class="md-lined" ng-click="payment.parent.previousTab()">
      {{ 'list.back' | translate }}
    </md-button>
    <md-button class="md-raised md-primary" ng-click="payment.parent.nextTab()">
      {{ 'list.next' | translate }}
    </md-button>
  </div>
</md-tab>