<div class="lnr-comment" layout="row">
  <img class="lnr-profile-md lnr-margin-right lnr-clickable" ui-sref="user({userId: rating.data.author_id})" ng-src="{{rating.data.author_profile_picture}}"></img>
  <div flex class="lnr-margin-left">
    <p class="lnr-comment-name md-body-2"><span>{{rating.data.author_full_name}}, {{rating.data.created_at | date : "dd.MM.yyyy" }}</p>
    <input-stars class="rating" max="5" ng-model="rating.data.score" readonly></input-stars>
    <p ng-if="rating.data.message" class="lnr-comment-content md-body-1">{{rating.data.message}}</p>                
  </div>
</div>