<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-disable-scroll-target="body" md-component-id="right" layout="column">
  <div flex></div>
  <div layout="row" layout-align="center center">
    <img ng-if="sidebar.authentication.loggedIn()" class="profile-picture-big" ng-src="{{sidebar.profilePicture}}">
  </div>
  <br>
  <md-button ng-if="sidebar.authentication.loggedIn()" ui-sref="requests" ng-click="sidebar.toggle()">{{ 'shared.requests' | translate }}</md-button>
  <md-button ng-if="!sidebar.authentication.loggedIn()" ng-click="sidebar.toggle(); sidebar.authentication.showSignupDialog()">{{ 'forms.sign-up' | translate }}</md-button>
  <md-button ng-if="!sidebar.authentication.loggedIn()" ng-click="sidebar.toggle(); sidebar.authentication.showLoginDialog()">{{ 'forms.log-in' | translate }}</md-button>
  <md-button ui-sref="list" ng-click="sidebar.toggle()">{{ 'shared.list-a-bike' | translate }}</md-button>
  <md-button ui-sref="howItWorks" ng-click="sidebar.toggle()">{{ 'shared.how-it-works' | translate }}</md-button>
  <md-button ui-sref="trustAndSafety" ng-click="sidebar.toggle()">{{ 'shared.trust-and-safety' | translate }}</md-button>
  <md-divider ng-if="sidebar.authentication.loggedIn()"></md-divider>
  <md-button ng-if="sidebar.authentication.loggedIn()" ui-sref="home" ng-click="sidebar.toggle(); sidebar.authentication.logout()">{{ 'forms.log-out' | translate }}</md-button>
  <div flex></div>
</md-sidenav>