<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-disable-scroll-target="body" md-component-id="right" layout="column">
  <div flex></div>
  <md-button ng-click="">{{ 'shared.sign-up' | translate }}</md-button>
  <md-button ng-click="">{{ 'shared.log-in' | translate }}</md-button>
  <md-button ng-click="">{{ 'shared.list-a-bike' | translate }}</md-button>
  <md-button ng-click="">{{ 'shared.how-it-works' | translate }}</md-button>
  <md-button ng-click="">{{ 'shared.trust-and-safety' | translate }}</md-button>
  <div flex></div>
</md-sidenav>