<md-menu md-position-mode="target bottom">
  <md-button md-no-ink ng-click="$mdOpenMenu($event)">Sort</md-button>
  <md-menu-content width="2">
    <md-menu-item>
      <md-button>Closest to Location</md-button>
    </md-menu-item>
    <md-menu-item>
      <md-button ng-click="bikeSorter.priceSorter(true)">Highest Price</md-button>
    </md-menu-item>
    <md-menu-item>
      <md-button ng-click="bikeSorter.priceSorter(false)">Lowest Price</md-button>
    </md-menu-item>
    <md-menu-item>
      <md-button ng-click="bikeSorter.locationSorter()">Location with multiple bikes</md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>