<md-input-container>
  <label>{{ autocomplete.labelId }}</label>
  <input ng-if="autocomplete.required" ng-attr-id="{{autocomplete.autocompleteId}}"
    required
    ng-model="autocomplete.location"
    placeholder="{{ autocomplete.placeholderId }}"
    class="autocompleteSearch"
    type="text"
    name="{{ autocomplete.name }}"
  />
  <input ng-if="!autocomplete.required" ng-attr-id="autocomplete.autocompleteId"
    ng-model="autocomplete.location"
    placeholder="{{ autocomplete.placeholderId }}"
    class="autocompleteSearch"
    type="text"
    name="{{ autocomplete.name }}"
  />
  <div ng-messages="autocomplete.error" role="alert">
    <div ng-message="required">{{ 'shared.required' | translate }}</div>
  </div>
</md-input-container>
