<md-toolbar class="lnr-header md-accent" layout="row" layout-align="left center">

  <div class="md-toolbar-tools">
    <md-button class="lnr-header-logo" ui-sref="home" md-no-ink>
      <md-icon md-svg-src="app/assets/ui_icons/lnr_logo_light.svg"></md-icon>
    </md-button>
  
    <span flex></span>
    <div hide show-xs>
      <md-button ng-click="header.toggleSidebar()" md-no-ink>
        <md-icon class="lnr-icn-sm" md-svg-src="app/assets/ui_icons/icn_menu.svg"></md-icon>
      </md-button>
    </div>

    <div hide-xs>
      <md-button class="md-lined" ui-sref="list" md-no-ink>{{ 'shared.list-a-bike' | translate }}</md-button>

      <md-menu md-position-mode="target bottom">
        <md-button class="md-dropdown" md-no-ink ng-click="$mdOpenMenu($event)">{{ 'shared.learn-more' | translate }} </md-button>
        <md-menu-content width="2">
          <md-menu-item>
            <md-button md-no-ink ng-click="">{{ 'shared.how-it-works' | translate }}</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button md-no-ink ng-click="">{{ 'shared.renting-a-bike' | translate }}</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button md-no-ink ng-click="">{{ 'shared.listing-a-bike' | translate }}</md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>
            <md-button disabled="disabled" ng-click="header.checkVoicemail()">{{  'shared.trust-and-safety' | translate }}</md-button>
          </md-menu-item>

        </md-menu-content>
      </md-menu>

      <md-button ng-if="!header.authentication.loggedIn()" md-no-ink ng-click="header.authentication.showSignupDialog()">{{ 'forms.sign-up' | translate }}</md-button>
      <md-button ng-if="!header.authentication.loggedIn()" md-no-ink ng-click="header.authentication.showLoginDialog()">{{ 'forms.log-in' | translate }}</md-button>
      <md-button ng-if="header.authentication.loggedIn()" md-no-ink ui-sref="requests">{{ 'shared.requests' | translate }}</md-button>
      <md-button ng-if="header.authentication.loggedIn()" md-no-ink ui-sref="home" ng-click="header.authentication.logout()">{{ 'forms.log-out' | translate }}</md-button>
    </div>
  </div>

</md-toolbar>