<md-toolbar md-whiteframe="1" layout="row" class="lnr-header" layout-align="left center">

  <md-toolbar-tools>
    <md-button ui-sref="home" md-no-ink>LISTNRIDE</md-button>
  </md-toolbar-tools>

  <span flex></span>
  <md-toolbar-tools hide show-xs>
    <md-button ng-click="header.toggleSidebar()">E</md-button>
  </md-toolbar-tools>
  <md-toolbar-tools hide-xs>
    <md-button class="md-raised">{{ 'shared.list-a-bike' | translate }}</md-button>
    <md-menu md-position-mode="target bottom">

      <md-button md-no-ink ng-click="$mdOpenMenu($event)">{{ 'shared.learn-more' | translate }} </md-button>
      <md-menu-content width="2">
        
        <md-menu-item>
          <md-button md-no-ink ng-click="">{{ 'shared.how-it-works' | translate }}</md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button md-no-ink ng-click="">{{ 'shared.renting-a-bike' | translate }}</md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button md-no-ink ng-click="">{{ 'shared.listing-a-bike' | translate }}</md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button disabled="disabled" ng-click="header.checkVoicemail()">{{  'shared.trust-and-safety' | translate }}</md-button>
        </md-menu-item>

      </md-menu-content>

    </md-menu>
    <md-button md-no-ink ng-click="header.showSignupDialog($event)">{{ 'shared.sign-up' | translate }}</md-button>
    <md-button md-no-ink ng-click="header.showLoginDialog($event)">{{ 'shared.log-in' | translate }}</md-button>
  </md-toolbar-tools>

</md-toolbar>