<md-dialog flex="40">
  <form ng-cloak>
    <md-toolbar hide show-xs>
      <div class="md-toolbar-tools" layout-align="center center">
        <md-button class="md-icon-button">
          <md-icon></md-icon>
        </md-button>
        <span flex></span>
        <h2>Sign Up</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="signupDialog.hide()">
          <md-icon md-svg-src="assets/ui_images/icn_close_24.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <md-button class="md-primary md-raised">Sign Up with Facebook</md-button>
        <div layout="column" layout-align="center center">
          <!-- <md-divider></md-divider> -->
          <br><p>or</p><br>
        </div>
        <div layout="row">
          <md-input-container flex class="md-input-container-compact">
            <label>First Name</label>
            <input ng-model="user.first_name">
          </md-input-container>
          <md-input-container flex class="md-input-container-compact">
            <label>Last Name</label>
            <input ng-model="user.last_name">
          </md-input-container>
        </div>
        <md-input-container class="md-input-container-compact">
          <label>Email Address</label>
          <input ng-model="user.email" type="email">
        </md-input-container>
        <md-input-container class="md-input-container-compact">
          <label>Password</label>
          <input ng-model="user.password" type="password">
        </md-input-container>
        <md-button class="md-primary md-raised" ng-click="signupDialog.hide()">Sign Up</md-button>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>