<md-content class="single-column">
  <form name="listBike" layout="column" layout-align="start center" layout-padding>
    <h1>{{ 'list.list-your-bike' | translate }}</h1>

    <md-tabs class="content" md-dynamic-height md-no-ink md-no-ink-bar md-selected="list.selectedIndex" md-stretch-tabs="always">
      <md-tab class="categories" label="Category" layout="row">
        <md-content class="md-padding" layout="column">
          <div class="tab-content" layout="row" layout-align="space-between start" layout-padding>
            <div class="col1" flex="45" layout="row" layout-align="space-between start">
              <md-radio-group ng-model="list.form.mainCategory" layout="column">
                <md-radio-button ng-repeat="cat in list.categoryOptions" value="{{cat.value}}">
                  {{cat.label}}
                </md-radio-button>
              </md-radio-group>

              <md-radio-group ng-model="list.form.subCategory" layout="column">
                <md-radio-button ng-repeat="subcat in list.subcategoryOptions[list.form.mainCategory]" value="{{subcat.value}}">
                  {{subcat.label}}
                </md-radio-button>
              </md-radio-group>
            </div>

            <div class="col2" flex="45">
              Some nice things to say about the categories
            </div>
          </div>
          
          <div class="navigation" layout="row" layout-align="end center">
            <md-button class="md-raised" ng-disabled="!list.isCategoryValid()" ng-click="list.nextTab()">Next</md-button>
          </div>
        </md-content>
      </md-tab>

      <md-tab class="details" label="Details" layout="row">
        <md-content class="md-padding" layout="column">
          <div class="tab-content" layout="row" layout-align="space-between start" layout-padding>
            <div class="col1" flex="45" layout="column">
              <md-input-container>
                <label>Brand</label>
                <input required ng-model="list.form.brand">
              </md-input-container>

              <md-input-container>
                <label>Name</label>
                <input required ng-model="list.form.name">
              </md-input-container>

              <md-input-container>
                <label>Size</label>
                <md-select required ng-model="list.form.size">
                  <md-option ng-repeat="size in list.sizeOptions" value="{{ size.value }}">
                    {{ size.label }}
                  </md-option>
                </md-select>
              </md-input-container>

              <md-input-container>
                <label>Description</label>
                <textarea required md-no-resize minlength="100" name="description" ng-model="list.form.description" rows="5"></textarea>
                <div ng-messages="listBike.description.$error" role="alert">
                  <div ng-message="minlength">Length should be atleast 100 characters</div>
                </div>
              </md-input-container>
            </div>

            <div class="col2" flex="45">
              Some nice things to say about the bike details
            </div>
          </div>
          
          <div class="navigation" layout="row" layout-align="space-between center">
            <md-button class="md-raised" ng-click="list.previousTab()">Back</md-button>
            <md-button class="md-raised" ng-disabled="!list.isDetailsValid()" ng-click="list.nextTab()">Next</md-button>
          </div>
        </md-content>
      </md-tab>

      <md-tab class="pictures" label="Pictures" layout="row">
        <md-content class="md-padding" layout="column">
          <div class="tab-content" layout="row" layout-align="space-between start" layout-padding>
            <div class="col1" flex="45" layout="column">
              FILE UPLOAD
            </div>

            <div class="col2" flex="45">
              Some nice things to say about the bike pictures
            </div>
          </div>
          
          <div class="navigation" layout="row" layout-align="space-between center">
            <md-button class="md-raised" ng-click="list.previousTab()">Back</md-button>
            <md-button class="md-raised" ng-disabled="!list.isDetailsValid()" ng-click="list.nextTab()">Next</md-button>
          </div>
        </md-content>
      </md-tab>

      <md-tab label="Location">
        <md-content class="md-padding">
          <h1 class="md-display-2">Location</h1>
          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        </md-content>
      </md-tab>

      <md-tab label="Pricing">
        <md-content class="md-padding">
          <h1 class="md-display-2">Pricing</h1>
          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        </md-content>
      </md-tab>
    </md-tabs>
  </form>

  <footer></footer>
</md-content>