<md-content class="single-column">
  <form name="listBike" layout="column" layout-align="start center" layout-padding>
    <h1>{{ 'list.list-your-bike' | translate }}</h1>

    <!-- TODO: set ng-disabled="true" on all tabs -->
    <md-tabs class="content" md-dynamic-height md-no-ink md-no-ink-bar md-selected="list.selectedIndex" md-stretch-tabs="always">
      <md-tab class="categories" label="Category" layout="row">
        <md-content class="md-padding" layout="column">
          <div class="tab-content" layout="row" layout-align="space-between start" layout-padding>
            <div class="col1" flex="45" layout="row" layout-align="space-between start">
              <md-radio-group ng-model="list.form.mainCategory" layout="column">
                <md-radio-button ng-repeat="cat in list.categoryOptions" value="{{cat.value}}">
                  {{cat.label}}
                </md-radio-button>
              </md-radio-group>

              <md-radio-group ng-model="list.form.subCategory" layout="column">
                <md-radio-button ng-repeat="subcat in list.subcategoryOptions[list.form.mainCategory]" value="{{subcat.value}}">
                  {{subcat.label}}
                </md-radio-button>
              </md-radio-group>
            </div>

            <div class="col2" flex="45">
              Some nice things to say about the categories
            </div>
          </div>
          
          <div class="navigation" layout="row" layout-align="end center">
            <md-button class="md-raised" ng-disabled="!list.isCategoryValid()" ng-click="list.nextTab()">Next</md-button>
          </div>
        </md-content>
      </md-tab>

      <md-tab class="details" label="Details" layout="row">
        <md-content class="md-padding" layout="column">
          <div class="tab-content" layout="row" layout-align="space-between start" layout-padding>
            <div class="col1" flex="45" layout="column">
              <md-input-container>
                <label>Brand</label>
                <input required ng-model="list.form.brand">
              </md-input-container>

              <md-input-container>
                <label>Name</label>
                <input required ng-model="list.form.name">
              </md-input-container>

              <md-input-container>
                <label>Size</label>
                <md-select required ng-model="list.form.size">
                  <md-option ng-repeat="size in list.sizeOptions" value="{{ size.value }}">
                    {{ size.label }}
                  </md-option>
                </md-select>
              </md-input-container>

              <md-input-container>
                <label>Description</label>
                <textarea required md-no-resize minlength="100" name="description" ng-model="list.form.description" rows="4"></textarea>
                <div ng-messages="listBike.description.$error" role="alert">
                  <div ng-message="minlength">Length should be atleast 100 characters</div>
                </div>
              </md-input-container>
            </div>

            <div class="col2" flex="45">
              Some nice things to say about the bike details
            </div>
          </div>
          
          <div class="navigation" layout="row" layout-align="space-between center">
            <md-button class="md-raised" ng-click="list.previousTab()">Back</md-button>
            <md-button class="md-raised" ng-disabled="!list.isDetailsValid()" ng-click="list.nextTab()">Next</md-button>
          </div>
        </md-content>
      </md-tab>

      <md-tab class="accessories" label="Accessories" layout="row">
        <md-content class="md-padding" layout="column">
          <div class="tab-content" layout="row" layout-align="space-between start" layout-padding>
            <div class="col1" flex="45" layout="column">
              <md-checkbox ng-repeat="acc in list.accessoryOptions" ng-model="list.form[acc.model]">
                {{ acc.label }}
              </md-checkbox>
            </div>

            <div class="col2" flex="45">
              Some nice things to say about the bike accessories
            </div>
          </div>
          
          <div class="navigation" layout="row" layout-align="space-between center">
            <md-button class="md-raised" ng-click="list.previousTab()">Back</md-button>
            <md-button class="md-raised" ng-click="list.nextTab()">Next</md-button>
          </div>
        </md-content>
      </md-tab>

      <md-tab class="pictures" label="Pictures" layout="row">
        <md-content class="md-padding" layout="column">
          <div class="tab-content" layout="row" layout-align="space-between start" layout-padding>
            <div class="col1" flex="45" layout="column">
              <input type="file" ngf-select ng-model="list.form.image_file_1" name="file"    
               accept="image/*" required ngf-model-invalid="errorFile">
            </div>

            <div class="col2" flex="45">
              Some nice things to say about the bike pictures
            </div>
          </div>
          
          <div class="navigation" layout="row" layout-align="space-between center">
            <md-button class="md-raised" ng-click="list.previousTab()">Back</md-button>
            <md-button class="md-raised" ng-disabled="!list.isPictureValid()" ng-click="list.nextTab()">Next</md-button>
          </div>
        </md-content>
      </md-tab>

      <md-tab class="location" label="Location" layout="row">
        <md-content class="md-padding" layout="column">
          <div class="tab-content" layout="row" layout-align="space-between start" layout-padding>
            <div class="col1" flex="45" layout="column">
              <md-input-container>
                <label>Street and Number</label>
                <input required ng-model="list.form.street">
              </md-input-container>

              <md-input-container>
                <label>Zip</label>
                <input required ng-model="list.form.zip">
              </md-input-container>

              <md-input-container>
                <label>City</label>
                <input required ng-model="list.form.city">
              </md-input-container>

              <md-input-container>
                <label>Country</label>
                <input required ng-model="list.form.country">
              </md-input-container>
            </div>

            <div class="col2" flex="45">
              Some nice things to say about the bike location
            </div>
          </div>
          
          <div class="navigation" layout="row" layout-align="space-between center">
            <md-button class="md-raised" ng-click="list.previousTab()">Back</md-button>
            <md-button class="md-raised" ng-disabled="!list.isLocationValid()" ng-click="list.nextTab()">Next</md-button>
          </div>
        </md-content>
      </md-tab>

      <md-tab class="pricing" label="Pricing" layout="row">
        <md-content class="md-padding" layout="column">
          <div class="tab-content" layout="row" layout-align="space-between start" layout-padding>
            <div class="col1" flex="45" layout="column">
              <md-input-container>
                <label>Half-daily Price (€)</label>
                <input type="number" required ng-model="list.form.price_half_daily">
              </md-input-container>

              <md-input-container>
                <label>Daily Price (€)</label>
                <input type="number" required ng-model="list.form.price_daily">
              </md-input-container>

              <md-input-container>
                <label>Weekly Price (€)</label>
                <input type="number" required ng-model="list.form.price_weekly">
              </md-input-container>
            </div>

            <div class="col2" flex="45">
              Some nice things to say about the bike pricing
            </div>
          </div>
          
          <div class="navigation" layout="row" layout-align="space-between center">
            <md-button class="md-raised" ng-click="list.previousTab()">Back</md-button>
            <md-button class="md-raised" ng-disabled="!list.isPricingValid()" ng-click="list.onFormSubmit()">Submit</md-button>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </form>

  <footer></footer>
</md-content>