<md-content class="single-column">
  <form name="listBike" layout="column" layout-align="start center" layout-padding>
    <h1 class="md-headline">{{ 'list.list-your-bike' | translate }}</h1>

    <md-tabs class="content" md-no-pagination md-dynamic-height md-no-ink md-no-ink-bar md-selected="list.selectedIndex" md-stretch-tabs="always">
      <md-tab ng-disabled="true" class="categories" label="{{ 'list.category.category' | translate }}" layout="row">
        <md-content class="md-padding" layout="column">
          <div class="tab-content" layout="row" layout-align="space-between start" layout-padding>
            <div class="col1" flex-xs="100" flex-gt-xs="45" layout="row" layout-align="space-between start">
              <md-radio-group ng-model="list.form.mainCategory" layout="column" ng-change="list.categoryChange({{list.form.mainCategory}})">
                <md-radio-button ng-repeat="cat in list.categoryOptions" value="{{cat.value}}">
                  {{ 'list.category.' + cat.label.replace(' ', '-') | translate }}
                </md-radio-button>
              </md-radio-group>

              <md-radio-group ng-model="list.form.subCategory" layout="column">
                <md-radio-button ng-repeat="subcat in list.subcategoryOptions[list.form.mainCategory]" value="{{subcat.value}}">
                  {{ 'list.subcategory.' + list.form.mainCategory + '.' + subcat.label | translate }}
                </md-radio-button>
              </md-radio-group>
            </div>

            <div class="col2 md-whiteframe-1dp" flex="45" hide-xs>
              {{ 'list.category.hint' | translate }}
            </div>
          </div>
          
          <div class="navigation" layout="row" layout-align="end center">
            <md-button class="md-raised md-primary" ng-disabled="!list.isCategoryValid()" ng-click="list.nextTab()">{{ 'list.next' | translate }}</md-button>
          </div>
        </md-content>
      </md-tab>

      <md-tab ng-disabled="true" class="details" label="{{ 'list.details.details' | translate }}" layout="row">
        <md-content class="md-padding" layout="column">
          <div class="tab-content" layout="row" layout-align="space-between start" layout-padding>
            <div class="col1" flex-xs="100" flex-gt-xs="45" layout="column">
              <md-input-container>
                <label>{{ 'list.details.brand' | translate }}</label>
                <input required ng-model="list.form.brand">
              </md-input-container>

              <md-input-container>
                <label>{{ 'list.details.name' | translate }}</label>
                <input required ng-model="list.form.name">
              </md-input-container>

              <md-input-container>
                <label>{{ 'list.details.size' | translate }}</label>
                <md-select required ng-model="list.form.size">
                  <md-option ng-if="list.form.mainCategory == 4" ng-repeat="size in list.kidsSizeOptions" value="{{ size.value }}">
                    {{ size.label }}
                  </md-option>

                  <md-option ng-if="list.form.mainCategory != 4" ng-repeat="size in list.sizeOptions" value="{{ size.value }}">
                    {{ size.label }}
                  </md-option>
                </md-select>
              </md-input-container>

              <md-input-container>
                <label>{{ 'list.details.description' | translate }}</label>
                <textarea required md-no-resize minlength="100" name="description" ng-model="list.form.description" rows="4"></textarea>
                <div ng-messages="listBike.description.$error" role="alert">
                  <div ng-message="minlength">{{ 'list.details.min-length-warning' | translate }}</div>
                </div>
              </md-input-container>
            </div>

            <div class="col2 md-whiteframe-1dp" flex="45" hide-xs>
              {{ 'list.details.hint' | translate }}
            </div>
          </div>
          
          <div class="navigation" layout="row" layout-align="space-between center">
            <md-button class="md-raised md-lined" ng-click="list.previousTab()">{{ 'list.back' | translate }}</md-button>
            <md-button class="md-raised md-primary" ng-disabled="!list.isDetailsValid()" ng-click="list.nextTab()">{{ 'list.next' | translate }}</md-button>
          </div>
        </md-content>
      </md-tab>

      <md-tab ng-disabled="true" class="accessories" label="{{ 'list.accessories.accessories' | translate }}" layout="row">
        <md-content class="md-padding" layout="column">
          <div class="tab-content" layout="row" layout-align="space-between start" layout-padding>
            <div class="col1" flex-xs="100" flex-gt-xs="45" layout="column">
              <md-checkbox ng-repeat="acc in list.accessoryOptions" ng-model="list.form[acc.model]">
                {{ 'list.accessories.' + acc.label | translate }}
              </md-checkbox>
            </div>

            <div class="col2 md-whiteframe-1dp" flex="45" hide-xs>
              {{ 'list.accessories.hint' | translate }}
            </div>
          </div>
          
          <div class="navigation" layout="row" layout-align="space-between center">
            <md-button class="md-lined" ng-click="list.previousTab()">{{ 'list.back' | translate }}</md-button>
            <md-button class="md-raised md-primary" ng-click="list.nextTab()">{{ 'list.next' | translate }}</md-button>
          </div>
        </md-content>
      </md-tab>

      <md-tab ng-disabled="true" class="pictures" label="{{ 'list.pictures.pictures' | translate }}" layout="row">
        <md-content class="md-padding" layout="column">
          <div class="tab-content" layout="row" layout-align="space-between start" layout-padding>
            <div class="col1" flex-xs="100" flex-gt-xs="45" layout="column">
              <md-button ng-disabled="list.form.images.length > 4" ngf-multiple="true"
                ngf-select="list.addImage($files)" accept=".jpg,.jpeg">
                {{ 'list.pictures.select-images' | translate }}
              </md-button>

              <div class="preview-container" layout="column" layout-wrap layout-margin>
                <div ng-repeat="img in list.form.images track by $index" layout="row" layout-align="space-between center">
                  <div class="img-preview" ngf-background="img" ngf-as-background="true"></div>

                  <md-button ng-click="list.removeImage($index)">{{ 'list.pictures.remove' | translate}}</md-button>
                </div>
              </div>
              
            </div>

            <div class="col2 md-whiteframe-1dp" flex="45" hide-xs>
              {{ 'list.pictures.hint' | translate }}
            </div>
          </div>
          
          <div class="navigation" layout="row" layout-align="space-between center">
            <md-button class="md-lined" ng-click="list.previousTab()">{{ 'list.back' | translate }}</md-button>
            <md-button class="md-raised md-primary" ng-disabled="!list.isPictureValid()" ng-click="list.nextTab()">{{ 'list.next' | translate }}</md-button>
          </div>
        </md-content>
      </md-tab>

      <md-tab ng-disabled="true" class="location" label="{{ 'list.location.location' | translate }}" layout="row">
        <md-content class="md-padding" layout="column">
          <div class="tab-content" layout="row" layout-align="space-between start" layout-padding>
            <div class="col1" flex-xs="100" flex-gt-xs="45" layout="column">
              <md-input-container>
                <label>{{ 'list.location.street-number' | translate }}</label>
                <input required ng-model="list.form.street">
              </md-input-container>

              <md-input-container>
                <label>{{ 'list.location.zip' | translate }}</label>
                <input required ng-model="list.form.zip">
              </md-input-container>

              <md-input-container>
                <label>{{ 'list.location.city' | translate }}</label>
                <input required ng-model="list.form.city">
              </md-input-container>

              <md-input-container>
                <label>{{ 'list.location.country' | translate }}</label>
                <input required ng-model="list.form.country">
              </md-input-container>
            </div>

            <div class="col2 md-whiteframe-1dp" flex="45" hide-xs>
              {{ 'list.location.hint' | translate }}
            </div>
          </div>
          
          <div class="navigation" layout="row" layout-align="space-between center">
            <md-button class="md-lined" ng-click="list.previousTab()">{{ 'list.back' | translate }}</md-button>
            <md-button class="md-raised md-primary" ng-disabled="!list.isLocationValid()" ng-click="list.nextTab()">{{ 'list.next' | translate }}</md-button>
          </div>
        </md-content>
      </md-tab>

      <md-tab ng-disabled="true" class="pricing" label="{{ 'list.pricing.pricing' | translate }}" layout="row">
        <md-content class="md-padding" layout="column">
          <div class="tab-content" layout="row" layout-align="space-between start" layout-padding>
            <div class="col1" flex-xs="100" flex-gt-xs="45" layout="column">
              <md-input-container>
                <label>{{ 'list.pricing.half-daily-price' | translate }} (€)</label>
                <input type="number" required ng-model="list.form.price_half_daily">
              </md-input-container>

              <md-input-container>
                <label>{{ 'list.pricing.daily-price' | translate }} (€)</label>
                <input type="number" required ng-model="list.form.price_daily">
              </md-input-container>

              <md-input-container>
                <label>{{ 'list.pricing.weekly-price' | translate }} (€)</label>
                <input type="number" required ng-model="list.form.price_weekly">
              </md-input-container>
            </div>

            <div class="col2 md-whiteframe-1dp" flex="45" hide-xs>
              {{ 'list.pricing.hint' | translate }}
            </div>
          </div>
          
          <div class="navigation" layout="row" layout-align="space-between center">
            <md-button class="md-lined" ng-click="list.previousTab()">{{ 'list.back' | translate }}</md-button>
            <md-button class="md-raised md-primary" ng-disabled="!list.isPricingValid() || list.submitDisabled" ng-click="list.onFormSubmit()">{{ 'list.list-bike' | translate }}</md-button>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </form>

  <footer></footer>
</md-content>