<div ng-if="message.sentMessage()" flex layout="row" layout-align="end end">
  <div class="sent-message" flex="40" flex-xs="80" md-whiteframe="1" layout-margin>
    <p>{{message.content}}</p>
  </div>
</div>

<div ng-if="message.receivedMessage()" layout="row" layout-align="start end">
  <div class="received-message" flex="40" flex-xs="80" md-whiteframe="1" layout-margin>
    <p>{{message.content}}</p>
  </div>
</div>

<div ng-if="message.statusMessage()" layout="row" layout-align="center end"> 
  <div class="status-message" flex="40" flex-xs="80" md-whiteframe="1" layout="column" layout-align="center center" layout-margin>
    <p class="center-text" translate="{{message.chatFlow()}}.{{message.status}}" translate-values="message.request"></p>
    <div layout="row" ng-if="message.request.status == 1 && message.status == 1">
      <md-button>{{ 'message.reject' | translate }}</md-button><md-button>{{ 'message.accept' | translate }}</md-button>
    </div>
    <div layout="row" ng-if="message.request.status == 3 && message.status == 3">
      <md-button>{{ 'message.confirm_return' | translate }}</md-button>
    </div>
    <div layout="row" ng-if="message.request.status == 4 && message.status == 4">
      <md-button>{{ 'message.rate' | translate }}</md-button>
    </div>

    <div layout="row" ng-if="message.request.status == 2 && message.status == 2">
      <md-button>{{ 'message.cancel' | translate }}</md-button><md-button>{{ 'message.confirm' | translate }}</md-button>
    </div>
    <div layout="row" ng-if="message.request.status == 5 && message.status == 5">
      <md-button>{{ 'message.rate' | translate }}</md-button>
    </div>
  </div>
</div>