<div ng-if="message.sentMessage()" flex layout="row" layout-align="end end">
  <div class="sent-message" flex="40" flex-xs="80" md-whiteframe="1" layout-margin>
    <p>{{message.content}}</p>
  </div>
</div>

<div ng-if="message.receivedMessage()" layout="row" layout-align="start end">
  <div class="received-message" flex="40" md-whiteframe="1" layout-margin>
    <p>{{message.content}}</p>
  </div>
</div>

<div ng-if="message.statusMessage()" layout="row" layout-align="center end"> 
  <div class="status-message" flex="40" md-whiteframe="1" layout-align="center" layout-margin>
    <p translate="{{message.chatFlow()}}.{{message.status}}" translate-values="message.request"></p>
  </div>
</div>