<div ng-if="message.sentMessage()" flex layout="row" layout-align="end end">
  <div class="lnr-message sent-message" flex="40" flex-sm="60" flex-xs="60" layout-margin>
    <p>{{message.content}}</p>
  </div>
</div>

<div ng-if="message.receivedMessage()" layout="row" layout-align="start end">
  <div class="lnr-message received-message" flex="40" flex-sm="60" flex-xs="60" layout-margin>
    <p>{{message.content}}</p>
  </div>
</div>

<div ng-if="message.statusMessage() && message.status == 1 && message.request.rideChat" layout="column" layout-align="center center">
  <img class="lnr-profile-lrg lnr-clickable" ng-click="message.closeDialog()" ui-sref="user({userId: message.request.lister.id})" ng-src="{{message.request.lister.profile_picture.profile_picture.url}}"></img>
  <input-stars class="rating" max="5" ng-model="message.request.rating" readonly></input-stars>
</div>

<div ng-if="message.statusMessage() && message.status == 1 && !message.request.rideChat" layout="column" layout-align="center center">
  <img class="lnr-profile-lrg lnr-clickable" ng-click="message.closeDialog()" ui-sref="user({userId: message.request.user.id})" ng-src="{{message.request.user.profile_picture.profile_picture.url}}"></img>
  <input-stars class="rating" max="5" ng-model="message.request.rating" readonly></input-stars>
</div>

<div ng-if="message.statusMessage()" layout="row" layout-align="center end"> 
  <div class="lnr-message status-message" flex="40" flex-sm="60" flex-xs="60" layout="column" layout-margin>
    <p class="lnr-center" translate="{{message.request.chatFlow}}.{{message.status}}" translate-values="message.request"></p>

    <div ng-if="!message.request.rideChat && message.status == 1">
      <div layout="row" layout-align="center center">
        <md-button class="md-warn" ng-disabled="message.request.status != 1" ng-click="message.updateStatus(8)" analytics-on analytics-category="link" analytics-event="clicked" analytics-label="request reject">{{ 'message.reject' | translate }}</md-button>
        <md-button ng-disabled="message.request.status != 1" ng-click="message.acceptBooking()" analytics-on analytics-category="link" analytics-event="clicked" analytics-label="request accept">{{ 'message.accept' | translate }}</md-button>
      </div>
    </div>

    <div ng-if="!message.request.rideChat && message.status == 3">
      <div layout="row" layout-align="center center">
        <md-button ng-disabled="message.request.status != 3" ng-click="message.updateStatus(4)" analytics-on analytics-category="link" analytics-event="clicked" analytics-label="return confirm">{{ 'message.confirm_return' | translate }}</md-button>
      </div>
    </div>

    <div ng-if="!message.request.rideChat && message.status == 4">
      <div layout="row" layout-align="center center">
        <md-button ng-disabled="message.request.status != 4" ng-click="message.showRatingDialog()" analytics-on analytics-category="rating" analytics-event="clicked" analytics-label="{{ 'message.rate' | translate }}">{{ 'message.rate' | translate }}</md-button>
      </div>
    </div>

    <div ng-if="message.request.rideChat && message.status == 1">
      <div layout="row" layout-align="center center">
        <md-button class="md-warn" ng-disabled="message.request.status != 1" ng-click="message.updateStatus(9)" analytics-on analytics-category="link" analytics-event="clicked" analytics-label="request cancel">{{ 'shared.cancel' | translate }}</md-button>
      </div>
    </div>

    <div ng-if="message.request.rideChat && message.status == 2">
      <div layout="row" layout-align="center center">
        <md-button class="md-warn" ng-disabled="message.request.status != 2" ng-click="message.updateStatus(9)" analytics-on analytics-category="link" analytics-event="clicked" analytics-label="booking cancel">{{ 'shared.cancel' | translate }}</md-button>
        <md-button ng-disabled="message.request.status != 2" ng-click="message.confirmBooking()" analytics-on analytics-category="link" analytics-event="clicked" analytics-label="booking confirm">{{ 'message.confirm' | translate }}</md-button>
      </div>
    </div>

    <div ng-if="message.request.rideChat && message.status == 5">
      <div layout="row" layout-align="center center">
        <md-button ng-disabled="message.request.status != 5" ng-click="message.showRatingDialog()" analytics-on analytics-category="rating" analytics-event="clicked" analytics-label="{{ 'message.rate' | translate }}">{{ 'message.rate' | translate }}</md-button>
      </div>
    </div>
  </div>
</div>