<md-content class="single-column">
  <div class="content lnr-page-margin" layout="column" layout-align="center center">
    <div class="lnr-section-title" layout="column" layout-align="center center">
      <h1 class="md-headline">{{ 'edit.edit-bike' | translate }}</h1>
    </div>

    <div layout="row" layout-align="end center">
      <md-button class="md-raised md-primary" ng-disabled="!edit.isFormValid() || edit.submitDisabled"
                 ng-click="edit.onFormSubmit()">
        {{ 'edit.save-changes' | translate }}
      </md-button>
    </div>

    <form name="listBike" layout="column" layout-align="start center" layout-padding>
      <md-tabs md-no-pagination md-dynamic-height md-no-ink md-no-ink-bars md-selected="edit.selectedIndex"
               md-center-tabs="on">

        <!-- categories -->
        <md-tab class="categories" label="{{ 'list.category.label' | translate }}" layout="row">
          <md-content class="md-padding" layout="column">
            <div class="tab-content" layout="row" layout-align="space-between none" layout-padding>

              <div class="lnr-list-form" flex-xs="100" flex-gt-xs="50" layout="column">
                <div class="lnr-list-title">
                  <h3 class="md-subhead">{{ 'list.category.header' | translate }}</h3>
                </div>
                <div layout="row" layout-align="space-between start">
                  <md-radio-group ng-model="edit.form.mainCategory" flex="50" layout="column"
                                  ng-change="edit.categoryChange({{edit.form.mainCategory}})">
                    <md-radio-button class="main-category" ng-repeat="cat in edit.categoryOptions"
                                     value="{{cat.value}}">
                      <md-icon class="lnr-icn-sm md-color-foreground accessory-icon"
                               md-svg-src="app/assets/ui_icons/{{cat.iconFileName}}"
                               ng-class="edit.form.mainCategory == cat.value ? 'checked' : 'unchecked'"></md-icon>

                      {{ 'list.category.' + cat.label.replace(' ', '-') | translate }}
                    </md-radio-button>
                  </md-radio-group>

                  <md-radio-group ng-model="edit.form.subCategory" flex layout="column">
                    <md-radio-button ng-repeat="subcat in edit.subcategoryOptions[edit.form.mainCategory]"
                                     value="{{subcat.value}}">
                      {{ 'list.subcategory.' + edit.form.mainCategory + '.' + subcat.label | translate }}
                    </md-radio-button>
                  </md-radio-group>
                </div>
              </div>

              <md-divider hide-xs class="lnr-margin-left lnr-margin-right"></md-divider>

              <div flex="50" hide-xs layout-margin>
                <div class="lnr-list-title">
                  <h3 class="md-subhead">
                    Info
                  </h3>
                </div>
                <p class="md-body-1">{{ 'list.category.hint' | translate }}</p>
              </div>
            </div>

            <div class="navigation" layout="row" layout-align="end center" layout-margin>
              <md-button class="md-lined" ng-click="edit.nextTab()">{{ 'list.next' | translate }}</md-button>
            </div>
          </md-content>
        </md-tab>
        <!-- end categories -->

        <!-- details -->
        <md-tab class="details" label="{{ 'list.details.label' | translate }}" layout="row">
          <md-content class="md-padding" layout="column">
            <div class="tab-content" layout="row" layout-align="space-between none" layout-padding>
              <div class="lnr-list-form" flex-xs="100" flex-gt-xs="50" layout="column">
                <div class="lnr-list-title">
                  <h3 class="md-subhead">{{ 'list.details.header' | translate }}</h3>
                </div>
                <md-input-container>
                  <label>{{ 'list.details.brand' | translate }}</label>
                  <input name="brand" required ng-model="edit.form.brand" maxlength="25">
                </md-input-container>

                <md-input-container>
                  <label>{{ 'list.details.name' | translate }}</label>
                  <input required ng-model="edit.form.name" maxlength="25">
                </md-input-container>

                <md-input-container>
                  <label>{{ 'list.details.size' | translate }}</label>
                  <md-select required ng-model="edit.form.size">
                    <md-option ng-if="edit.form.mainCategory == 4" ng-repeat="size in edit.kidsSizeOptions"
                               value="{{ size.value }}">
                      {{ size.label }}
                    </md-option>

                    <md-option ng-if="edit.form.mainCategory != 4" ng-repeat="size in edit.sizeOptions"
                               value="{{ size.value }}">
                      {{ size.label }}
                    </md-option>
                  </md-select>
                </md-input-container>

                <md-input-container>
                  <label>{{ 'list.details.description' | translate }}</label>
                  <textarea required md-no-resize minlength="100" md-maxlength="800" name="description"
                            ng-model="edit.form.description" rows="2"></textarea>
                  <div ng-messages="listBike.description.$error" role="alert">
                    <div ng-message="minlength">{{ 'list.details.min-length-warning' | translate }}</div>
                  </div>
                </md-input-container>
              </div>

              <md-divider hide-xs class="lnr-margin-left lnr-margin-right"></md-divider>

              <div flex="50" hide-xs layout-margin>
                <div class="lnr-list-title">
                  <h3 class="md-subhead">
                    Info
                  </h3>
                </div>
                <p class="md-body-1">{{ 'list.details.hint' | translate }}</p>
              </div>

            </div>

            <div class="navigation" layout="row" layout-align="space-between center" layout-margin>
              <md-button class="md-lined" ng-click="edit.previousTab()">{{ 'list.back' | translate }}</md-button>
              <md-button class="md-lined" ng-click="edit.nextTab()">{{ 'list.next' | translate }}</md-button>
            </div>
          </md-content>
        </md-tab>
        <!-- end details -->

        <!-- accessories -->
        <md-tab class="accessories" label="{{ 'list.accessories.label' | translate }}" layout="row">
          <md-content class="md-padding" layout="column">
            <div class="tab-content" layout="row" layout-align="space-between none" layout-padding>
              <div class="lnr-list-form" flex-xs="100" flex-gt-xs="50" layout="column">
                <div class="lnr-list-title">
                  <h3 class="md-subhead">{{ 'list.accessories.header' | translate }}</h3>
                </div>

                <div ng-repeat="acc in edit.accessoryOptions" class="accessory-checkbox" layout="row"
                     layout-align="start center">
                  <md-icon ng-class="edit.form[acc.model] ? 'checked' : 'unchecked'"
                           class="lnr-icn-sm md-color-foreground accessory-icon"
                           md-svg-src="app/assets/ui_icons/{{acc.iconFileName}}"
                           ng-click="edit.onAccessoryClick(acc.model)"></md-icon>
                  <div class="accessory-label no-select" ng-click="edit.onAccessoryClick(acc.model)">{{
                    'list.accessories.' + acc.label | translate }}
                  </div>
                </div>
              </div>

              <md-divider hide-xs class="lnr-margin-left lnr-margin-right"></md-divider>

              <div flex="50" hide-xs layout-margin>
                <div class="lnr-list-title">
                  <h3 class="md-subhead">
                    Info
                  </h3>
                </div>
                <p class="md-body-1">{{ 'list.accessories.hint' | translate }}</p>
              </div>

            </div>

            <div class="navigation" layout="row" layout-align="space-between center" layout-margin>
              <md-button class="md-lined" ng-click="edit.previousTab()">{{ 'list.back' | translate }}</md-button>
              <md-button class="md-lined" ng-click="edit.nextTab()">{{ 'list.next' | translate }}</md-button>
            </div>
          </md-content>
        </md-tab>
        <!-- end accessories -->

        <!-- pictures -->
        <md-tab class="pictures" label="{{ 'list.pictures.label' | translate }}" layout="row">
          <md-content class="md-padding" layout="column">
            <div class="tab-content" layout="row" layout-align="space-between none" layout-padding>
              <div class="lnr-list-form" flex-xs="100" flex-gt-xs="50" layout="column">
                <div class="lnr-list-title">
                  <h3 class="md-subhead">{{ 'list.pictures.header' | translate }}</h3>
                </div>
                <md-button
                    class="md-raised md-primary lnr-no-margin"
                    ng-disabled="edit.form.images.length > 4"
                    ngf-multiple="true"
                    ngf-select="edit.addImage($files)"
                    accept=".jpg,.jpeg,.png"
                    ngf-validate="edit.validateObj"
                    ngf-model-invalid="edit.invalidFiles"
                >
                  {{ 'list.pictures.select-images' | translate }}
                </md-button>

                <div class="preview-container lnr-margin-top" layout="column" layout-wrap>
                  <div ng-repeat="img in edit.form.images track by $index" layout="row"
                       layout-align="space-between center">
                    <div ng-if="img.local == 'true'" class="img-preview lnr-margin-top"
                         ngf-background="img.src" ngf-as-background="true">
                    </div>

                    <div ng-if="img.local == 'false'" class="img-preview lnr-margin-top"
                         ng-style="{'background-image': 'url(' + img.url + ')'}">
                    </div>
                    <md-button class="md-lined md-warn" ng-click="edit.removeImage($index)">{{ 'list.pictures.remove' |
                      translate}}
                    </md-button>
                  </div>
                </div>
                <div ng-if="edit.invalidFiles[0] !== undefined" class="text-error" layout="column" hide-gt-xs
                     layout-padding>
                  {{ 'list.pictures.under-min-size' | translate}}
                  <ul>
                    <div ng-repeat="invalideImage in edit.invalidFiles" class="text-error">
                      <li>{{invalideImage.name}} - {{invalideImage.$ngfWidth}}x{{invalideImage.$ngfHeight}}</li>
                    </div>
                  </ul>
                </div>
              </div>

              <md-divider hide-xs class="lnr-margin-left lnr-margin-right"></md-divider>

              <div flex="50" hide-xs layout-margin>
                <div class="lnr-list-title">
                  <h3 class="md-subhead">
                    Info
                  </h3>
                </div>
                <p class="md-body-1">{{ 'list.pictures.hint' | translate }}</p>
                <a ui-sref="how-to-shoot-bike-photos" target="_blank">{{ 'list.pictures.how-to' | translate }}</a>

                <div ng-if="edit.invalidFiles[0] !== undefined" class="text-error">
                  <div class="lnr-list-title">
                    <h3 class="md-subhead">
                      <md-icon md-font-icon="fa-exclamation-triangle"
                               class="lnr-icn-sm md-color-disabled lnr-margin-right fa"></md-icon>
                      {{ 'list.pictures.invalid-images' | translate}}
                    </h3>
                  </div>
                  {{ 'list.pictures.under-min-size' | translate}}
                  <ul>
                    <div ng-repeat="invalideImage in edit.invalidFiles" class="text-error">
                      <li>{{invalideImage.name}} - {{invalideImage.$ngfWidth}}x{{invalideImage.$ngfHeight}}</li>
                    </div>
                  </ul>
                </div>
              </div>
            </div>

            <div class="navigation" layout="row" layout-align="space-between center" layout-margin>
              <md-button class="md-lined" ng-click="edit.previousTab()">{{ 'list.back' | translate }}</md-button>
              <md-button class="md-lined" ng-click="edit.nextTab()">{{ 'list.next' | translate }}</md-button>
            </div>
          </md-content>
        </md-tab>
        <!-- end pictures -->

        <!-- location -->
        <md-tab class="location" label="{{ 'list.location.label' | translate }}" layout="row">
          <md-content class="md-padding" layout="column">
            <div class="tab-content" layout="row" layout-align="space-between none" layout-padding>
              <div class="lnr-list-form" flex-xs="100" flex-gt-xs="50" layout="column">
                <div class="lnr-list-title">
                  <h3 class="md-subhead">{{ 'list.location.header' | translate }}</h3>
                </div>

                <autocomplete autocomplete-id="edit" layout="column" location="edit.form.street"
                              label-id="{{ 'list.location.street-number' | translate }}" required="true"
                              place-changed="edit.fillAddress(place)">
                </autocomplete>

                <md-input-container>
                  <label>{{ 'list.location.zip' | translate }}</label>
                  <input required ng-model="edit.form.zip">
                </md-input-container>

                <md-input-container>
                  <label>{{ 'list.location.city' | translate }}</label>
                  <input required ng-model="edit.form.city">
                </md-input-container>

                <md-input-container>
                  <label>{{ 'list.location.country' | translate }}</label>
                  <input required ng-model="edit.form.country">
                </md-input-container>
              </div>

              <md-divider hide-xs class="lnr-margin-left lnr-margin-right"></md-divider>

              <div flex="50" hide-xs layout-margin>
                <div class="lnr-list-title">
                  <h3 class="md-subhead">
                    Info
                  </h3>
                </div>
                <p class="md-body-1">{{ 'list.location.hint' | translate }}</p>
              </div>

            </div>

            <div class="navigation" layout="row" layout-align="space-between center" layout-margin>
              <md-button class="md-lined" ng-click="edit.previousTab()">{{ 'list.back' | translate }}</md-button>
              <md-button class="md-lined" ng-click="edit.nextTab()">{{ 'list.next' | translate }}</md-button>
            </div>
          </md-content>
        </md-tab>
        <!-- end location -->

        <!-- pricing -->
        <md-tab class="pricing" label="{{ 'list.pricing.label' | translate }}" layout="row">
          <md-content class="md-padding" layout="column">
            <div class="tab-content" layout="row" layout-align="space-between none" layout-padding>
              <div class="lnr-list-form" flex-xs="100" flex-gt-xs="50" layout="column">
                <h3 class="md-subhead">{{ 'list.pricing.header' | translate }}</h3>
                <p>{{'list.pricing.description' | translate}}</p>
                <!-- Daily Price -->
                <md-input-container class="md-block">
                  <label>{{ 'list.pricing.header' | translate }} (€)</label>
                  <input type="text"
                         ng-pattern="/^\d+$/"
                         maxlength="3"
                         placeholder="{{'list.pricing.daily-price-placeholder' | translate}}"
                         ng-model="edit.form.price_daily"
                         ng-change="edit.setCustomPrices()"
                         ng-model-options='{ debounce: 300 }'
                         required>
                </md-input-container>
                <!-- Daily and Weekly Discounts -->
                <div layout="row" layout-align="space-between center">
                  <div flex="45">
                    <md-input-container class="md-block">
                      <label>{{ 'list.pricing.daily-discount' | translate }} (%)</label>
                      <input type="text"
                             ng-pattern="/^\d+$/"
                             placeholder="{{'list.pricing.daily-discount-placeholder' | translate}}"
                             maxlength="2"
                             ng-model="edit.form.discount_daily"
                             ng-change="edit.setCustomPrices()"
                             ng-model-options='{ debounce: 300 }'
                             ng-disabled="!edit.discountFieldEditable">
                    </md-input-container>
                  </div>
                  <div flex="45">
                    <md-input-container class="md-block">
                      <label>{{ 'list.pricing.weekly-discount' | translate }} (%)</label>
                      <input type="text"
                             ng-pattern="/^\d+$/"
                             placeholder="{{'list.pricing.weekly-discount-placeholder' | translate}}"
                             maxlength="2"
                             ng-model="edit.form.discount_weekly"
                             ng-change="edit.setCustomPrices()"
                             ng-model-options='{ debounce: 300 }'
                             ng-disabled="!edit.discountFieldEditable">
                    </md-input-container>
                  </div>
                </div>
                <!-- Switch for Custom Prices -->
                <div layout="row" layout-align="space-between center">
                  <p>{{'list.pricing.custom-prices' | translate}}</p>
                  <md-switch ng-model="edit.customPrices"
                             ng-change="edit.enableDiscounts()"
                             ng-model-options='{ debounce: 300 }'
                             ng-click="edit.setCustomPrices()">
                  </md-switch>
                  <div ng-style="{'display': settings.completeClosed ? '' : 'none'}">
                    ({{ 'settings.mark-as-closed' | translate }})
                  </div>
                </div>
                <!-- Custom Prices -->
                <div class="bikes-custom-price" ng-show="edit.customPrices">
                  <div layout="row" layout-align="space-between center">
                    <div flex="45">
                      <md-input-container class="md-block">
                        <label>{{'list.pricing.price_2_days' | translate}} </label>
                        <input type="text"
                               ng-pattern="/^\d+$/"
                               placeholder="{{'list.pricing.discount' | translate}} in %"
                               maxlength="3"
                               ng-model="edit.form.price_2_days"
                               ng-change="edit.disableDiscounts()"
                               ng-model-options='{ debounce: 300 }'
                               required>
                      </md-input-container>
                    </div>
                    <div flex="45">
                      <md-input-container class="md-block">
                        <label>{{'list.pricing.price_3_days' | translate}}</label>
                        <input type="text"
                               ng-pattern="/^\d+$/"
                               placeholder="{{'list.pricing.discount' | translate}} in %"
                               maxlength="3"
                               ng-model="edit.form.price_3_days"
                               ng-change="edit.disableDiscounts()"
                               ng-model-options='{ debounce: 300 }'
                               required>
                      </md-input-container>
                    </div>
                  </div>
                  <div layout="row" layout-align="space-between center">
                    <div flex="45">
                      <md-input-container class="md-block">
                        <label>{{'list.pricing.price_4_days' | translate}}</label>
                        <input type="text"
                               ng-pattern="/^\d+$/"
                               placeholder="{{'list.pricing.discount' | translate}} in %"
                               maxlength="3"
                               ng-model="edit.form.price_4_days"
                               ng-change="edit.disableDiscounts()"
                               ng-model-options='{ debounce: 300 }'
                               required>
                      </md-input-container>
                    </div>
                    <div flex="45">
                      <md-input-container class="md-block">
                        <label>{{'list.pricing.price_5_days' | translate}}</label>
                        <input type="text"
                               ng-pattern="/^\d+$/"
                               placeholder="{{'list.pricing.discount' | translate}} in %"
                               maxlength="3"
                               ng-model="edit.form.price_5_days"
                               ng-change="edit.disableDiscounts()"
                               ng-model-options='{ debounce: 300 }'
                               required>
                      </md-input-container>
                    </div>
                  </div>
                  <div layout="row" layout-align="space-between center">
                    <div flex="45">
                      <md-input-container class="md-block">
                        <label>{{'list.pricing.price_6_days' | translate}}</label>
                        <input type="text"
                               ng-pattern="/^\d+$/"
                               placeholder="{{'list.pricing.discount' | translate}} in %"
                               maxlength="3"
                               ng-model="edit.form.price_6_days"
                               ng-change="edit.disableDiscounts()"
                               ng-model-options='{ debounce: 300 }'
                               required>
                      </md-input-container>
                    </div>
                    <div flex="45">
                      <md-input-container class="md-block">
                        <label>{{'list.pricing.price_7_days' | translate}}</label>
                        <input type="text"
                               ng-pattern="/^\d+$/"
                               placeholder="{{'list.pricing.discount' | translate}} in %"
                               maxlength="3"
                               ng-model="edit.form.price_7_days"
                               ng-change="edit.disableDiscounts()"
                               ng-model-options='{ debounce: 300 }'
                               required>
                      </md-input-container>
                    </div>
                  </div>
                  <div layout="row" layout-align="space-between center">
                    <div flex="45">
                      <md-input-container class="md-block">
                        <label>{{'list.pricing.price_8_days' | translate}}</label>
                        <input type="text"
                               ng-pattern="/^\d+$/"
                               placeholder="{{'list.pricing.discount' | translate}} in %"
                               maxlength="3"
                               ng-model="edit.form.price_8_days"
                               ng-change="edit.disableDiscounts()"
                               ng-model-options='{ debounce: 300 }'
                               required>
                      </md-input-container>
                    </div>
                    <div flex="45">
                      <md-input-container class="md-block">
                        <label>{{'list.pricing.price_30_days' | translate}}</label>
                        <input type="text"
                               ng-pattern="/^\d+$/"
                               placeholder="{{'list.pricing.discount' | translate}} in %"
                               maxlength="3"
                               ng-model="edit.form.price_30_days"
                               ng-change="edit.disableDiscounts()"
                               ng-model-options='{ debounce: 300 }'
                               required>
                      </md-input-container>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Divider between Left and Right Columns -->
              <md-divider hide-xs class="lnr-margin-left lnr-margin-right"></md-divider>
              <!-- Info Column -->
              <div flex="50" hide-xs layout-margin>
                <div class="lnr-list-title">
                  <h3 class="md-subhead">Info</h3>
                </div>
                <p class="md-body-1">{{ 'list.pricing.hint-para-1' | translate }}</p>
                <p class="md-body-1">{{ 'list.pricing.hint-para-2' | translate }}</p>
                <p class="md-body-1">{{ 'list.pricing.hint-para-3' | translate }}</p>
              </div>
            </div>
            <!-- Navigation Buttons -->
            <div class="navigation" layout="row" layout-align="space-between center" layout-margin>
              <md-button class="md-lined" ng-click="edit.previousTab()">{{ 'list.back' | translate }}</md-button>
            </div>
          </md-content>
        </md-tab>
        <!-- end pricing -->

      </md-tabs>
    </form>
  </div>
</md-content>
