<md-content class="single-column">
  <div id="hero-shot" class="lnr-preload-bg" style="background-image: url('app/assets/ui_images/events/cyclassics_hero.jpg');" layout="row" layout-align="center center">
    <div class="lnr-page-title md-color-white" flex layout="column" layout-align="center center"></div>
  </div>
  <div class="content" layout="column" layout-padding>
    <div class="lnr-section-title" layout="column" layout-align="center center">

      <h1 class="md-headline">{{ 'events.cyclassics-hamburg.title' | translate }}</h1>
      <p class="md-body-1" translate="events.cyclassics-hamburg.description"></p>
      <div class="md-body-1"><p translate="events.cyclassics-hamburg.text"></p>
      </div>
    </div>

    <md-divider></md-divider>

    <div flex layout="column" layout-fill>
      <div layout="row" layout-padding>
        <md-input-container layout="column" flex="30" style="padding-bottom: 0">
          <label>{{ 'list.details.size' | translate }}</label>
          <md-select flex ng-model="filterSize">
            <md-option ng-repeat="option in cyclassicsHamburg.sizeOptions" value="{{option.value}}">
              {{option.label}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div layout="row" layout-wrap layout-padding>
        <bike-card ng-repeat="bike in cyclassicsHamburg.bikes | filter : {size : filterSize}" bike="bike" booked="bike.booked" flex="100" flex-gt-xs="50" flex-gt-sm="33">
        </bike-card>
      </div>
    </div>
  </div>
</md-content>
