<md-content class="single-column">
  <div id="landingSection" md-theme="lnr-dark" layout="column" layout-align="center center">
    <div id="homeHeroShot"></div>
    <!-- <ul class="cb-slideshow">
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
    </ul> -->

    <!-- <div class="lnr-badge-container" ng-hide>
      <a href="https://www.seedrs.com/listnride" target="_blank"><img class="lnr-badge" ng-src="app/assets/ui_images/invest/crowdfunding_badge.png"></img></a>
    </div> -->
    <div class="lnr-page-title md-color-white" flex layout="column" layout-align="center center">
      <h1 class="md-display-1">{{ 'home.landing-section-header' | translate }}</h1>
      <p class="md-subhead">{{ 'home.landing-section-subheader' | translate }}</p>
    </div>

    <form class="lnr-search-bar md-whiteframe-3dp lnr-search-bar--fs18" layout="row" md-theme="default">
      <autocomplete
        autocomplete-id="homeSearch"
        flex="75"
        layout="column"
        location="home.location"
        placeholder-id="{{ 'autocomplete.default-placeholder' | translate }}"
        place-changed="home.placeChanged(place)">
      </autocomplete>
      <md-button
        ng-click="home.onSearchClick()"
        class="md-raised md-primary"
        id="submit"
        flex="25"
      >
        {{ 'shared.search' | translate }}
      </md-button>
    </form>
  </div>

  <div id="featuredBikes" class="content section" layout="column" layout-align="start center">
    <div class="lnr-section-title" layout="column" layout-align="center center">
      <h2 class="md-headline">{{ 'home.featured-bikes-header' | translate }}</h2>
      <p class="md-subhead">{{ 'home.featured-bikes-subheader' | translate }}</p>
    </div>
    <div layout-xs="column" layout="row">
      <div layout="row" layout-wrap layout-padding>
        <bike-card ng-repeat="bike in home.featuredBikes" bike="bike" flex="100" flex-gt-xs="50" flex-gt-sm="33" home="true">
        </bike-card>
      </div>
    </div>
  </div>

  <div id="testimonials" class="content section" layout-align="start center">
    <div class="lnr-section-title" layout="column" layout-align="center center">
      <h2 class="md-headline">What are people saying?</h2>
    </div>

    <div class="testimonials-container" layout-padding ng-if="home.testimonials.length">
      <slick settings="home.slickConfig">
        <div
          ng-repeat="testimonial in home.testimonials"
          class="testimonials-slick-slide"
          flex
          layout="row"
          layout-xs="column"
          layout-align="center center"
        >
          <div layout="column" layout-align="center center" class="testimonial-avatar">
            <a
                ui-sref="user({userId: testimonial.userId})"
            >
              <img class="testimonials-img" ng-src="{{ testimonial.userImagePath}}">
            </a>
          </div>
          <div class="testimonials-text md-subhead">
            &ldquo;{{ testimonial.text }}&rdquo; <strong>{{ testimonial.userName }}</strong>
          </div>
        </div>
      </slick>
    </div>
  </div>

  <!-- START FEATURED TILES -->

  <div id="featuredTiles" class="content section" layout-align="start center">
    <div class="lnr-section-title" layout="column" layout-align="center center">
      <h2 class="md-headline">{{ 'home.featured-tiles-header' | translate }}</h2>
      <p class="md-subhead">{{ 'home.featured-tiles-subheader' | translate }}</p>
    </div>

    <md-grid-list id="featuredTilesGrid" class="md-color-white lnr-margin" md-cols="1" md-cols-gt-xs="4" md-gutter="16px" md-row-height="1:1">
      <md-grid-tile class="tile" md-colspan-gt-xs="1" style="background-image: url('/app/assets/ui_images/featured-tiles/ampler.jpg')">
        <a ui-sref="ampler" layout="column" layout-align="center center">
          <h3 class="md-title">Ampler E-Bikes</h3>
        </a>
      </md-grid-tile>

      <md-grid-tile class="tile" md-colspan-gt-xs="1" style="background-image: url('/app/assets/ui_images/featured-tiles/rethink.jpg')">
        <a ui-sref="rethink" layout="column" layout-align="center center">
          <h3 class="md-title">Rethink E-Bikes</h3>
        </a>
      </md-grid-tile>

      <md-grid-tile class="tile" md-colspan-gt-xs="1" style="background-image: url('/app/assets/ui_images/featured-tiles/motoparilla_small.jpg')">
        <a ui-sref="motoparilla" layout="column" layout-align="center center">
          <h3 class="md-title">Moto Parilla E-Bikes</h3>
        </a>
      </md-grid-tile>

      <md-grid-tile class="tile" style="background-image: url('/app/assets/ui_images/featured-tiles/brompton.jpg')">
        <a ui-sref="brompton" layout="column" layout-align="center center">
          <h3 class="md-title">Brompton Foldings</h3>
        </a>
      </md-grid-tile>

      <md-grid-tile class="tile" style="background-image: url('/app/assets/ui_images/featured-tiles/moeve.jpg')">
        <a ui-sref="moeve" layout="column" layout-align="center center">
          <h3 class="md-title">Moeve Bikes</h3>
        </a>
      </md-grid-tile>

      <md-grid-tile class="tile" style="background-image: url('/app/assets/ui_images/featured-tiles/vanmoof.jpg')">
        <a ui-sref="vanmoof" layout="column" layout-align="center center">
          <h3 class="md-title">Vanmoof E-Bikes</h3>
        </a>
      </md-grid-tile>

      <md-grid-tile class="tile" style="background-image: url('/app/assets/ui_images/featured-tiles/votec.jpg')">
        <a ui-sref="votec" layout="column" layout-align="center center">
          <h3 class="md-title">Votec All Mountain</h3>
        </a>
      </md-grid-tile>

      <md-grid-tile class="tile" style="background-image: url('/app/assets/ui_images/featured-tiles/bonvelo.jpg')">
        <a ui-sref="bonvelo" layout="column" layout-align="center center" >
          <h3 class="md-title">Bonvelo Singlespeed/Fixies</h3>
        </a>
      </md-grid-tile>
    </md-grid-list>
  </div>

  <!-- END FEATURED TILES -->

  <!-- START FEATURED CITIES -->

  <div id="featuredCities" class="content section" layout-align="start center">
    <div class="lnr-section-title" layout="column" layout-align="center center">
      <h2 class="md-headline">{{ 'home.featured-cities-header' | translate }}</h2>
      <p class="md-subhead">{{ 'home.featured-cities-subheader' | translate }}</p>
    </div>

    <md-grid-list id="featuredTilesGrid" class="md-color-white lnr-margin" md-cols="1" md-cols-gt-xs="2" md-cols-gt-sm="4" md-gutter="16px" md-row-height="1.5:1">
      <md-grid-tile class="tile tile-berlin">
        <a ui-sref="cityLanding({city: 'berlin'})" layout-padding layout="column" layout-align="center center">
          <h3 class="md-title">{{ 'shared.berlin' | translate }}</h3>
        </a>
      </md-grid-tile>

      <md-grid-tile class="tile tile-munich">
        <a ui-sref="cityLanding({city: 'munich'})" target="_blank" layout-padding layout="column" layout-align="center center">
          <h3 class="md-title">{{ 'shared.munich' | translate }}</h3>
        </a>
      </md-grid-tile>

      <md-grid-tile class="tile tile-amsterdam">
        <a ui-sref="cityLanding({city: 'amsterdam'})" layout-padding layout="column" layout-align="center center">
          <h3 class="md-title">{{ 'shared.amsterdam' | translate }}</h3>
        </a>
      </md-grid-tile>

      <md-grid-tile class="tile tile-vienna">
        <a ui-sref="cityLanding({city: 'vienna'})" layout-padding layout="column" layout-align="center center">
          <h3 class="md-title">{{ 'shared.vienna' | translate }}</h3>
        </a>
      </md-grid-tile>
      <md-grid-tile class="tile tile-usedom">
        <a ui-sref="cityLanding({city: 'usedom'})" layout-padding layout="column" layout-align="center center">
          <h3 class="md-title">{{ 'shared.usedom' | translate }}</h3>
        </a>
      </md-grid-tile>

      <md-grid-tile class="tile tile-lanzarote">
        <a ui-sref="cityLanding({city: 'lanzarote'})" target="_blank" layout-padding layout="column" layout-align="center center">
          <h3 class="md-title">{{ 'shared.lanzarote' | translate }}</h3>
        </a>
      </md-grid-tile>

      <md-grid-tile class="tile tile-mallorca">
        <a ui-sref="cityLanding({city: 'mallorca'})" layout-padding layout="column" layout-align="center center">
          <h3 class="md-title">{{ 'shared.mallorca' | translate }}</h3>
        </a>
      </md-grid-tile>

      <md-grid-tile class="tile tile-sylt">
        <a ui-sref="cityLanding({city: 'sylt'})" layout-padding layout="column" layout-align="center center">
          <h3 class="md-title">{{ 'shared.sylt' | translate }}</h3>
        </a>
      </md-grid-tile>
    </md-grid-list>
  </div>

  <!-- END FEATURED CITIES -->

  <br>

  <div id="listBike" class="section"  md-theme="lnr-dark" layout="column" layout-align="space-between none">
    <div class="lnr-center md-color-white lnr-margin-top" flex layout="column" layout-align="center center">
      <h2 class="md-display-1">{{ 'home.list-a-bike-header' | translate }}</h2>
      <p class="md-subhead">{{ 'home.list-a-bike-subheader' | translate }}</p>
    </div>

    <div flex layout="column" layout-align="center center">
        <md-button ui-sref="listingABike" class="md-raised md-primary md-xlrg">{{ 'shared.list-a-bike' | translate }}</md-button>
    </div>
  </div>

  <!-- <div class="content highlight-tile" layout="column" layout-padding layout-align="center center">
      <h2 class="md-display-1">{{ 'home.list-a-bike-header' | translate }}</h2>
      <p class="md-subhead">{{ 'home.list-a-bike-subheader' | translate }}</p>
      <div flex layout="column" layout-align="center center">
        <md-button ui-sref="listingABike" class="md-raised md-primary md-xlrg">{{ 'shared.list-a-bike' | translate }}</md-button>
      </div>
  </div> -->
  <footer></footer>
</md-content>
