<md-card class="lnr-bike-card" ng-class="{'lnr-unavailable': !listingCard.available}">
  <img class="md-card-image" ui-sref="bike({ bikeId: {{ ::listingCard.bikeId }} })" ng-src="{{ ::listingCard.imageUrl }}" alt="{{ ::listingCard.brand }} - {{ ::listingCard.name }}">

  <md-card-title layout="row">
    <md-icon ng-if="::listingCard.category" class="lnr-icn-lrg md-color-foreground" md-svg-src="assets/ui_icons/biketype_{{ ::listingCard.category | limitTo: 1 }}.svg"></md-icon>

    <md-card-title-text ui-sref="bike({ bikeId: {{ ::listingCard.bikeId }} })" class="lnr-margin-left" layout="column" layout-align="space-around start">
      <span class="md-subhead">{{ ::listingCard.brand }}, {{ ::listingCard.category | category }}</span>
      <span>{{ ::listingCard.name }}</span>
    </md-card-title-text>

    <div layout="column" layout-align="space-around center">
      <span class="md-headline">{{ ::listingCard.price | number }} €</span>
      <span>per day</span>
    </div>
  </md-card-title>

  <md-divider></md-divider>

  <div class="bike-actions" layout="row" layout-align="space-between center">
    <md-button md-no-ink flex ui-sref="edit({bikeId: {{ ::listingCard.bikeId }} })">
      {{ 'listingCard.edit-bike' | translate }}
    </md-button>

    <md-button md-no-ink flex ng-disabled="listingCard.disableDeactivate" ng-click="listingCard.onDeactivateClick()" ng-if="listingCard.available">
      {{ 'listingCard.deactivate-bike' | translate }}
    </md-button>

    <md-button md-no-ink flex class="md-primary" ng-disabled="listingCard.disableActivate" ng-click="listingCard.onActivateClick()" ng-if="!listingCard.available">
      {{ 'listingCard.activate-bike' | translate }}
    </md-button>

    <md-button md-no-ink flex class="md-warn" ng-disabled="listingCard.disableDelete" ng-click="listingCard.onDeleteClick()">
      {{ 'listingCard.delete-bike' | translate }}
    </md-button>
  </div>
</md-card>