<md-card class="lnr-bike-card" ng-class="{'lnr-unavailable': !listingCard.available}">

  <div class="bg lnr-preload-bg"></div>
  <img class="md-card-image" ui-sref="bike({ bikeId: {{ ::listingCard.bikeId }} })" ng-src="{{ ::listingCard.imageUrl }}" alt="{{ ::listingCard.brand }} - {{ ::listingCard.name }}">

  <md-card-title layout="row">
    <md-icon ng-if="::listingCard.category" class="lnr-icn-lrg md-color-foreground" md-svg-src="app/assets/ui_icons/biketype_{{ ::listingCard.category | limitTo: 1 }}.svg"></md-icon>

    <md-card-title-text flex="65" ui-sref="bike({ bikeId: {{ ::listingCard.bikeId }} })" class="lnr-margin-left lnr-bike-title" layout="column" layout-align="space-around start">
      <span class="md-subhead">{{ ::listingCard.brand }}, {{ ::listingCard.category | category | translate }}</span>
      <span>{{ ::listingCard.name }}</span>
    </md-card-title-text>

    <div layout="column" layout-align="space-around center">
      <span class="md-headline">{{ ::listingCard.price | number }}€</span>
      <span>{{ 'shared.per-day' | translate }}</span>
    </div>
  </md-card-title>

  <md-divider></md-divider>

  <div class="bike-actions" layout="row" layout-align="space-between center">
    <md-button
      md-no-ink
      flex
      class="md-icon-button md-primary"
      ui-sref="edit({bikeId: {{ ::listingCard.bikeId }} })">
      <md-icon md-svg-icon="app/assets/ui_icons/pencil-edit-button.svg"></md-icon>
      <!--{{ 'listingCard.edit-bike' | translate }}-->
    </md-button>

    <md-button
      md-no-ink
      flex
      class="md-icon-button md-primary"
      ng-disabled="listingCard.disableDeactivate"
      ng-click="listingCard.onDeactivateClick()"
      ng-if="listingCard.available">
      <md-icon md-svg-icon="app/assets/ui_icons/turn-visibility-off-button.svg"></md-icon>
      <!--{{ 'listingCard.deactivate-bike' | translate }}-->
    </md-button>

    <md-button
      md-no-ink
      flex
      class="md-icon-button md-primary"
      ng-click="listingCard.onDuplicateClick()">
      <md-icon md-svg-icon="app/assets/ui_icons/duplicate-image.svg"></md-icon>
      <!--{{ 'listingCard.duplicate' | translate }}-->
    </md-button>

    <md-button
      md-no-ink
      flex
      class="md-icon-button md-primary"
      ng-disabled="listingCard.disableActivate"
      ng-click="listingCard.onActivateClick()"
      ng-if="!listingCard.available">
      <md-icon md-svg-icon="app/assets/ui_icons/visibility-button.svg"></md-icon>
      <!--{{ 'listingCard.activate-bike' | translate }}-->
    </md-button>

    <md-button
      class="md-icon-button md-primary"
      md-no-ink flex class="md-warn"
      ng-disabled="listingCard.disableDelete"
      ng-click="listingCard.onDeleteClick()">
      <md-icon md-svg-icon="app/assets/ui_icons/trash-can.svg"></md-icon>
      <!--{{ 'listingCard.delete-bike' | translate }}-->
    </md-button>
  </div>
</md-card>
