<div flex layout="row" layout-xs="column" layout-fill>

  <div flex-xs="100" flex-gt-xs="60" flex-order-xs="2" layout="column">
    <div layout="column" layout-padding>

      <form layout="row" ng-submit="search.onLocationChange()">
        <autocomplete flex flex-gt-sm="70" layout="column" location="search.location" label-id="default-placeholder"></autocomplete>
        <md-button hide-sm hide-xs class="md-raised md-primary lnr-btn-inline" flex="30" id="submit" type="submit">{{ 'shared.search' | translate }}</md-button>

        <!-- Dublicated Size filter for mobile (needs a better solution) -->
        <md-input-container hide-gt-sm class="lnr-margin-left" flex="30">
          <label>Size</label>
            <md-select flex="100" ng-model="search.sizeFilter.size" ng-change="search.onSizeChange()">
              <md-option ng-repeat="option in search.sizeOptions" value="{{option.value}}">
                {{option.label}}
              </md-option>
            </md-select>
        </md-input-container>
      </form>

      <div layout="row" layout-aligns="space-between none">  
        <md-input-container class="lnr-filters" flex flex-gt-sm="70" layout="column">
          <div><label>Type</label></div>
          <div flex layout="row" layout-align="space-between center">
            <md-checkbox ng-model="search.categoryFilter.allterrain" ng-change="search.onCategoryChange('allterrain')">
              <md-icon class="lnr-icn-md" md-svg-src="app/assets/ui_icons/biketype_allterrain.svg"></md-icon>
              Terrain
            </md-checkbox>
            <md-checkbox ng-model="search.categoryFilter.city" ng-change="search.onCategoryChange('city')">
              <md-icon class="lnr-icn-md" md-svg-src="app/assets/ui_icons/biketype_city.svg"></md-icon>
              City
            </md-checkbox>
            <md-checkbox ng-model="search.categoryFilter.race" ng-change="search.onCategoryChange('race')">
              <md-icon class="lnr-icn-md" md-svg-src="app/assets/ui_icons/biketype_race.svg"></md-icon>
              Race
            </md-checkbox>
            <md-checkbox ng-model="search.categoryFilter.special" ng-change="search.onCategoryChange('special')">
              <md-icon class="lnr-icn-md" md-svg-src="app/assets/ui_icons/biketype_special.svg"></md-icon>
              Special
            </md-checkbox>
            <md-checkbox ng-model="search.categoryFilter.ebikes" ng-change="search.onCategoryChange('ebikes')">
              <md-icon class="lnr-icn-md" md-svg-src="app/assets/ui_icons/biketype_ebike.svg"></md-icon>
              Ebike
            </md-checkbox>
            <md-checkbox ng-model="search.categoryFilter.kids" ng-change="search.onCategoryChange('kids')">
              <md-icon class="lnr-icn-md" md-svg-src="app/assets/ui_icons/biketype_kids.svg"></md-icon>
              Kids
            </md-checkbox>
          </div>
        </md-input-container>


        <md-input-container hide-sm hide-xs class="lnr-margin-left" flex="30">
          <label>Size</label>
            <md-select flex="100" ng-model="search.sizeFilter.size" ng-change="search.onSizeChange()">
              <md-option ng-repeat="option in search.sizeOptions" value="{{option.value}}">
                {{option.label}}
              </md-option>
            </md-select>
        </md-input-container>

      </div>
    </div>

    <md-divider></md-divider>

    <md-content flex layout="column">
      <div ng-show="search.bikes === undefined" flex layout="column" layout-align="center center">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>

      <div ng-if="search.bikes !== undefined && search.bikes.length == 0" layout="row" layout-align="center center" layout-padding>
        <span>{{ 'search.no-bikes' | translate }}</span>
      </div>

      <div id="featuredBikes" layout="row" layout-wrap layout-padding>
        <div ng-repeat="bike in search.bikes | filter:search.sizeFilter | map_category:search.categoryFilter" flex="100" flex-gt-sm="50" flex-gt-lg="33">
          <bike-card bike-id="bike.id" name="bike.name" brand="bike.brand" price="bike.price_daily" image-url="bike.image_file_1.image_file_1.small.url"></bike-card>
        </div>
      </div>
    </md-content>
  </div>

  <div flex-xs="35" flex-gt-xs="40" flex-order-xs="1" layout="column" class="map-column lnr-preload-bg" hide-xs>
    <ng-map ng-if="search.bikes !== undefined"
      id="searchMap"
      default-style="false"
      center="[{{search.mapOptions.lat}},{{search.mapOptions.lng}}]"
      zoom="{{search.mapOptions.zoom}}"
      on-click="search.onMapClick(event)">

      <marker ng-repeat="bike in search.bikes | filter:search.sizeFilter | map_category:search.categoryFilter" id="bike.id" position="{{bike.lat_rnd}},{{bike.lng_rnd}}" on-click="search.showBikeWindow(event, bike.id)">
      </marker>

      <info-window id="searchMapWindow" close-box-margin="0">
        <div ng-non-bindable="">
          <bike-card bike-id="search.selectedBike.id" name="search.selectedBike.name" brand="search.selectedBike.brand" price="search.selectedBike.price_daily" image-url="search.selectedBike.image_file_1.image_file_1.small.url"></bike-card>
          <!-- <div ui-sref="bike({bikeId: search.selectedBike.id})">{{search.selectedBike.name}}</div> -->
        </div>
      </info-window>
    </ng-map>
  </div>

</div>


<!-- <div layout-fill layout-xs="column" layout-gt-xs="row">
  <div flex-xs="65" flex-gt-xs="60" flex-order-xs="2" layout="column">
    <div style="background-color: #efefef">
      <autocomplete layout-padding value="search.location"></autocomplete>
    </div>

    <md-content>
      <div ng-if="search.bikes !== undefined && search.bikes.length == 0" layout-padding layout="row" layout-align="center center">
        <span>{{ 'search.no-bikes' | translate }}</span>
      </div>
      <div id="featuredBikes" layout="row" layout-wrap>
        <div ng-repeat="bike in search.bikes" flex="100" flex-gt-sm="50" flex-gt-md="33" flex-gt-lg="25">
          <bike-card bike-id="bike.id" name="bike.name" brand="bike.brand" price="bike.price_daily" image-url="bike.image_file_1.image_file_1.small.url"></bike-card>
        </div>
      </div>
    </md-content>
  </div>

  <div flex flex-order-xs="1" layout="column">
    <ng-map default-style="false" center="[{{search.mapOptions.lat}},{{search.mapOptions.lng}}]" zoom="{{search.mapOptions.zoom}}">
      <marker ng-repeat="bike in search.bikes" id="bike.id" position="{{bike.lat_rnd}},{{bike.lng_rnd}}" on-click="search.showBikeWindow(event, bike.id)">
      </marker>
      <info-window id="mapWindow">
        <div ng-non-bindable="">
          <div ui-sref="bike({bikeId: search.selectedBike.id})">{{search.selectedBike.name}}</div>
        </div>
      </info-window>
    </ng-map>
  </div>
</div> -->