<md-content id="footer" class="md-scroll-shrink" md-theme="lnr-dark">
  <div class="content" layout="column">
    <div layout="row" layout-xs="column" layout-padding>

      <div layout="column" layout-align="center start" flex="30" flex-sm="20" hide-sm hide-xs>
        <div>
          <md-icon class="lnr-icn-xlrg" md-svg-src="app/assets/ui_icons/lnr_logo_full.svg">
        </div>
      </div>

      <div layout="row" layout-xs="column" layout-align="space-between start" flex>
        <div layout="column">
          <md-list>
            <md-subheader class="md-no-sticky">{{ 'shared.top-cities' | translate }}</md-subheader>
            <md-list-item class="md-body-1">{{ 'shared.berlin' | translate }}</md-list-item>
            <md-list-item class="md-body-1">{{ 'shared.munich' | translate }}</md-list-item>
            <md-list-item class="md-body-1">{{ 'shared.amsterdam' | translate }}</md-list-item>
            <md-list-item class="md-body-1">{{ 'shared.vienna' | translate }}</md-list-item>
          </md-list>
        </div>

        <div layout="column">
          <md-list>
            <md-subheader class="md-no-sticky">{{ 'shared.learn-more' | translate }}</md-subheader>
            <md-list-item class="md-body-1">{{ 'shared.how-it-works' | translate }}</md-list-item>
            <md-list-item class="md-body-1">{{ 'shared.renting-a-bike' | translate }}</md-list-item>
            <md-list-item class="md-body-1">{{ 'shared.listing-a-bike' | translate }}</md-list-item>
            <md-list-item class="md-body-1">{{ 'shared.trust-and-safety' | translate }}</md-list-item>
          </md-list>
        </div>

        <div layout="column">
          <md-list>
            <md-subheader class="md-no-sticky">Listnride</md-subheader>
            <md-list-item class="md-body-1">{{ 'footer.about' | translate }}</md-list-item>
            <md-list-item class="md-body-1">{{ 'footer.press' | translate }}</md-list-item>
            <md-list-item class="md-body-1">{{ 'footer.jobs' | translate }}</md-list-item>
            <md-list-item class="md-body-1">{{ 'footer.contact' | translate }}</md-list-item>
          </md-list>
        </div>

        <div layout="column">
          <md-list>
            <md-subheader class="md-no-sticky">{{ 'footer.legal' | translate }}</md-subheader>
            <md-list-item class="md-body-1">{{ 'footer.terms-and-conditions' | translate }}</md-list-item>
            <md-list-item class="md-body-1">{{ 'footer.privacy-statement' | translate }}</md-list-item>
            <md-list-item class="md-body-1">{{ 'footer.imprint' | translate }}</md-list-item>
          </md-list>
        </div>

        <div layout="column">
          <md-list>
            <md-subheader class="md-no-sticky">{{ 'footer.language' | translate }}</md-subheader>
            <md-menu md-position-mode="target bottom">
              <md-button md-no-ink ng-click="$mdOpenMenu($event)">{{ footer.language }}</md-button>
              <md-menu-content width="2">
                <md-menu-item>
                  <md-button md-no-ink ng-click="footer.switchLanguage('en', 'English')">English</md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button md-no-ink ng-click="footer.switchLanguage('de', 'Deutsch')">Deutsch</md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
            
            <div class="lnr-btn-ios">
              <a href="#" md-no-ink><img src="app/assets/ui_images/app_store.png"></a>
            </div>

          </md-list>
        </div>
      </div>
    </div>

    <md-divider></md-divider>

    <div layout="row" layout-align="space-between center" layout-padding>
      All rights reserverd © list-n-ride Copyrights 2016
      <div layout="row" layout-align="space-between stretch" layout-padding>
        <a href="#"><md-icon class="lnr-icn-md" md-svg-src="app/assets/ui_icons/icn_facebook.svg"></md-icon></a>
        <a href="#"><md-icon class="lnr-icn-md" md-svg-src="app/assets/ui_icons/icn_instagram.svg"></md-icon></a>
      </div>
    </div>

  </div>
</md-content>