<div layout="row" layout-align="center center">
  <md-input-container flex md-no-float class="lnr-mv8 input-range__before">
    <input value="{{inputRange.data.startDate | amFromUnix | amDateFormat:'DD.MM.YYYY'}}" placeholder="{{ 'availability.start-from' | translate }}">
    </input>
    <md-icon md-svg-src="app/assets/ui_icons/icn_event_note.svg" class="md-icon--btn"></md-icon>
  </md-input-container>
  <span flex="15" align="center" class="lnr-lh0 lnr-fs0" ng-click="inputRange.changeCalendarDates();"><i class="lnr-dash-input-divider"></i></span>
  <md-input-container flex md-no-float class="lnr-mv8 input-range__end" ng-click="inputRange.openCalendar($event);">
    <input value="{{inputRange.data.startDate | amFromUnix | amAdd : inputRange.data.duration : 'days' | amDateFormat:'DD.MM.YYYY'}}" placeholder="{{ 'availability.end-at' | translate }}">
    </input>
    <md-icon md-svg-src="app/assets/ui_icons/icn_event_note.svg" class="md-icon--btn"></md-icon>
  </md-input-container>
</div>