<md-dialog>

  <md-toolbar class="md-accent">
    <div class="md-toolbar-tools" layout-align="center center">
      <md-button class="md-icon-button">
        <md-icon></md-icon>
      </md-button>
      <span flex></span>
      <h2 class="md-headline">{{ 'requests.booking-overview' | translate }}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="bookingDialog.hide()" analytics-on analytics-category="button" analytics-event="clicked" analytics-label="close booking">
        <md-icon md-svg-src="app/assets/ui_icons/icn_close_24.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content layout="column">
    <div class="md-dialog-content" layout="column">

      <div ng-style="{'display': bookingDialog.errors[0] == undefined ? 'none' : ''}">
        <div class="text-error">
          <p class="md-subhead">
            <md-icon md-font-icon="fa-exclamation-triangle" class="lnr-icn-sm md-color-disabled lnr-margin-right fa"></md-icon>
            {{ 'requests.booking-failed' | translate }}
          </p>
          <ul>
            <div ng-repeat="error in bookingDialog.errors" class="text-error">
              <li>{{error.detail}}</li>
            </div>
          </ul>
        </div>
        <br>
        <span class="md-body-2">{{ 'shared.contact-us' | translate }} <a href="mailto:contact@listnride">email</a></span>
        <br>
      </div>

      <h3 class="md-title">{{ 'requests.booking' | translate }}</h3>
      <div layout="row" layout-align="space-between center">
        <span class="md-body-2">{{ 'shared.from' | translate }}</span>
        <span class="md-body-1">{{ bookingDialog.startDate | date: "dd.MM.yyyy, HH:mm" }}</span>
      </div>
      <div layout="row" layout-align="space-between center">
        <span class="md-body-2">{{ 'shared.to' | translate }}</span>
        <span class="md-body-1">{{ bookingDialog.endDate | date: "dd.MM.yyyy, HH:mm" }}</span>
      </div>
      <div layout="row" layout-align="space-between center">
        <span class="md-body-2">{{ 'shared.duration' | translate }}</span>
        <span class="md-body-1">{{ bookingDialog.duration }}</span>
      </div>

      <md-divider class="lnr-no-padding lnr-margin-lrg-top lnr-margin-lrg-bottom"></md-divider>

      <h3 class="md-title">{{ 'requests.price' | translate }}</h3>
      <div layout="row" layout-align="space-between center">
        <span class="md-body-2">{{ 'shared.subtotal' | translate }}</span>
        <span class="md-body-1">{{ bookingDialog.subtotal | currency: '€' }}</span>
      </div>
      <div layout="row" layout-align="space-between center">
        <span class="md-body-2">{{ 'shared.lnr-fee' | translate }}</span>
        <span class="md-body-1">{{ bookingDialog.lnrFee | currency: '€' }}</span>
      </div>
      <!--TODO VOUCHERS!!!-->
      <!--<div layout="row" layout-align="space-between center" ng-if="bookingDialog.requests.request.user.balance">-->
        <!--<span class="md-body-2">{{ 'shared.balance' | translate }}</span>-->
        <!--<span class="md-body-1">{{ bookingDialog.requests.request.user.balance | currency: '€' }}</span>-->
      <!--</div>-->
      <div layout="row" layout-align="space-between center">
        <span class="md-body-2">{{ 'shared.total' | translate }}</span>
        <span class="md-body-2">{{ bookingDialog.total | currency: '€' }}</span>
        <!--TODO VOUCHERS!!!-->
        <!--<span ng-if="bookingDialog.requests.request.total - bookingDialog.requests.request.user.balance < 0" class="md-body-2">{{ 0 | currency: '€' }}</span>-->
        <!--<span ng-if="bookingDialog.requests.request.total - bookingDialog.requests.request.user.balance >= 0" class="md-body-2">{{ bookingDialog.requests.request.total - bookingDialog.requests.request.voucher_value | currency: '€'  }}</span>-->
      </div>
      <!-- <div layout="row" layout-align="space-between center" ng-if="bookingDialog.requests.request.voucher_value">
        <span class="md-body-2">{{ 'shared.voucher' | translate }}</span>
        <span class="md-body-1">{{ bookingDialog.requests.request.voucher_value | currency: '€' }}</span>
      </div>
      <div layout="row" layout-align="space-between center">
        <span class="md-body-2">{{ 'shared.total' | translate }}</span>
        <span ng-if="bookingDialog.requests.request.total - bookingDialog.requests.request.voucher_value < 0" class="md-body-2">{{ 0 | currency: '€' }}</span>
        <span ng-if="bookingDialog.requests.request.total - bookingDialog.requests.request.voucher_value >= 0" class="md-body-2">{{ bookingDialog.requests.request.total - bookingDialog.requests.request.voucher_value | currency: '€'  }}</span>
      </div> -->

      <p class="md-caption lnr-center">{{ 'shared.booking-accept-tac' | translate }} <a ui-sref="terms" target="_blank">{{ 'shared.tac' | translate }}</a></p >

      <div class="md-dialog-buttons" layout="row" layout-align="space-between center">
        <md-button
          class="md-lined md-warn"
          ng-click="bookingDialog.hide()"
          analytics-on analytics-category="button"
          analytics-event="clicked"
          ng-disabled="bookingDialog.in_process"
          analytics-label="cancel booking">
          {{ 'shared.cancel' | translate }}
        </md-button>
        <span flex></span>
        <md-button
          class="md-raised md-primary"
          ng-click="bookingDialog.book()"
          analytics-on analytics-category="button"
          analytics-event="clicked"
          ng-disabled="bookingDialog.in_process"
          analytics-label="request booking">
          {{ 'requests.book' | translate }}
        </md-button>
      </div>
    </div>
  </md-dialog-content>

</md-dialog>
