<div id="bikeCalendar" ng-hide="calendar.bikeFamily == calendar.event.familyId"></div>



<!--        EVENT CALENDAR PICKUP+RETURN        -->
<!-- <div layout="column" layout-margin ng-if="calendar.bikeFamily == calendar.event.familyId">
  <p class="md-headline lnr-center">E-Bike Days Calendar</p>
  <p class="md-body-1 lnr-center">During the E-Bike Days, you can test ride a great variety of high end e-bikes. Just select which day and time you want to rent it. All rentals are free!</p>
  <md-input-container class="md-block">
    <label>1. Select the Rental Day</label>
    <md-select ng-model="calendar.day">
      <md-option value="19">
        Friday, 19th of May
      </md-option>
      <md-option value="20">
        Saturday, 20th of May
      </md-option>
      <md-option value="20">
        Sunday, 21th of May
      </md-option>
    </md-select>
  </md-input-container>

  <md-input-container class="md-block">
    <label>2. Select pickup time</label>
    <md-select ng-model="calendar.event.pickupSlotId" ng-change="calendar.event.changePickupSlot()">

      <md-option ng-if="!calendar.day">
        Please select a day first
      </md-option>

      <md-option ng-repeat="slot in calendar.event.slots" ng-disabled="slot.reserved" ng-if="calendar.day == slot.day && slot.pickupEnabled" value="{{$index}}">
        {{slot.text}}
      </md-option>

    </md-select>
  </md-input-container>

  <md-input-container class="md-block">
    <label>3. Select return time</label>
    <md-select ng-model="calendar.event.returnSlotId" ng-change="calendar.event.changeReturnSlot()">

      <md-option ng-if="!calendar.day">
        Please select a pickup time first
      </md-option>

      <md-option ng-repeat="slot in calendar.event.slots" ng-disabled="slot.returnDisabled" ng-if="calendar.day == slot.day" value="{{$index}}">
        {{slot.text}}
      </md-option>

    </md-select>
  </md-input-container>
</div> -->
<!--      END EVENT CALENDAR        -->

<!--        EVENT CALENDAR FIXED SLOT        -->
<div layout="column" layout-margin ng-if="calendar.bikeFamily == calendar.event.familyId">
  <p class="md-headline lnr-center">{{ 'veletage.event.calendar-title' | translate }}</p>
  <p class="md-body-1 lnr-center">{{ 'veletage.event.calendar-subtitle' | translate }}</p>
  <md-input-container class="md-block">
    <label>{{ 'veletage.event.select-day' | translate }}</label>
    <md-select ng-model="calendar.day">
      <md-option
        ng-repeat="i in calendar.event.days"
        value="{{i}}"
      >
        {{i}} {{ 'shared.Sep' | translate }} 2018
      </md-option>
    </md-select>
  </md-input-container>

  <md-input-container class="md-block">
    <label>{{ 'veletage.event.select-slot' | translate }}</label>
    <md-select ng-model="calendar.event.pickupSlotId" ng-change="calendar.event.changePickupSlot()">

      <md-option ng-if="!calendar.day">
        {{ 'veletage.event.day-error' | translate }}
      </md-option>

      <md-option
        ng-repeat="slot in calendar.event.slots"
        ng-disabled="slot.reserved"
        ng-if="calendar.day == slot.day && slot.pickupEnabled"
        value="{{$index}}"
      >
        {{slot.text}}
      </md-option>

    </md-select>
  </md-input-container>

  <md-input-container class="md-block" ng-hide="true">
    <label>{{ 'veletage.event.select-return' | translate }}</label>
    <md-select ng-model="calendar.event.returnSlotId" ng-change="calendar.event.changeReturnSlot()">

      <md-option ng-if="!calendar.day">
        {{ 'veletage.event.time-error' | translate }}
      </md-option>

      <md-option
        ng-repeat="slot in calendar.event.slots"
        ng-disabled="slot.returnDisabled"
        ng-if="calendar.day == slot.day"
        value="{{$index}}"
      >
        {{slot.text}}
      </md-option>

    </md-select>
  </md-input-container>
</div>
<!--      END EVENT CALENDAR        -->

<div id="timeRange" layout="row" layout-align="start center" layout-padding ng-if="calendar.bikeFamily != calendar.event.familyId && calendar.startDate">
  <md-input-container flex>
    <label>{{ 'shared.from' | translate }} {{ calendar.startDate | date }}</label>
    <md-select
      ng-disabled="calendar.startDate == undefined"
      ng-change="calendar.onTimeChange('start')"
      ng-model="calendar.startTime"
      placeholder="{{ 'shared.from' | translate }}"
    >
      <md-option
        ng-disabled="!calendar.calendarHelper.isTimeAvailable($index, calendar.bikeOwner.opening_hours, calendar.startDate)"
        ng-repeat="i in [].constructor(17) track by $index"
        value="{{$index + 6}}"
      >
        {{ ($index + 6) + ":00" + calendar.availabilityMessage($index, calendar.startDate) }}
      </md-option>
    </md-select>
  </md-input-container>

  <md-input-container flex>
    <label>{{ 'shared.to' | translate }}  {{ calendar.endDate | date }}</label>
    <md-select
      ng-disabled="calendar.endDate === undefined"
      ng-change="calendar.onTimeChange('end')"
      ng-model="calendar.endTime"
      placeholder="{{ 'shared.to' | translate }}"
    >
      <md-option
        ng-disabled="!calendar.calendarHelper.isTimeAvailable($index, calendar.bikeOwner.opening_hours, calendar.endDate)"
        ng-repeat="i in [].constructor(17) track by $index"
        value="{{$index + 6}}"
      >
        {{ ($index + 6) + ":00" + calendar.availabilityMessage($index, calendar.endDate)}}
      </md-option>
    </md-select>
  </md-input-container>
</div>

<div id="formSubmit" layout="column" layout-align="center stretch">
  <div id="requestOverview" layout="column" layout-align="center stretch" layout-padding>
    <div layout="row" layout-align="space-between center" ng-if="calendar.bikeFamily != 2">
      <div layout="row" layout-align="start center">
        <div class="md-body-2">{{ 'shared.duration' | translate }}</div>
        <div>
          <md-icon class="lnr-icn-xs md-color-black" md-svg-src="app/assets/ui_icons/icn_info.svg"></md-icon>
          <md-tooltip md-direction="right"><span translate="calendar.info"></span></md-tooltip>
        </div>
      </div>
      <div>{{ calendar.duration }}</div>
    </div>

    <!-- <div layout="row" layout-align="space-between center">
      <div>{{ 'shared.subtotal' | translate }}</div>
      <div>{{ calendar.subtotal | currency:"€":2 }}</div>
    </div> -->

    <md-divider class="lnr-p-0 lnr-mv lnr-mh-x2"></md-divider>

    <div ng-if="calendar.cluster">
      <div class="md-body-2">{{ 'shared.pick-size' | translate }}</div>
      <md-select
        ng-model="calendar.pickedBikeSize"
        placeholder="{{ 'shared.pick-size' | translate}}"
      >
        <md-option
          ng-repeat="option in calendar.bikeClusterSizes"
          value="{{option.size}}"
          ng-disabled="option.notAvailable || !calendar.isDateValid()"
        >
          {{ option.name }}
          <span ng-if="option.notAvailable">({{ 'user.not-available' | translate }})</span>
        </md-option>
      </md-select>
      <p ng-if="!calendar.isDateValid()" translate="shared.firstly-pick-dates"></p>
    </div>

    <div ng-if="!calendar.cluster" >
      <span class="md-body-2 lnr-mr">{{ 'list.details.size' | translate }}</span>
      <span class="md-body-1" ng-if="calendar.bikeSize > 0">{{ 'shared.for' | translate }} <strong>{{ calendar.bikeSize }}</strong> - <strong>{{ calendar.bikeSize + 10 }}</strong> cm</span>
      <span class="md-body-1" ng-if="calendar.bikeSize == 0">{{ 'shared.for' | translate }} <strong>{{ 'search.all-sizes' | translate }}</strong></span>
    </div>

    <md-divider class="lnr-p-0 lnr-mv lnr-mh-x2"></md-divider>

    <div layout="row" layout-align="space-between center">
      <div layout="row" layout-align="start center">
        <div class="md-body-2">{{ 'shared.summary' | translate }}</div>
      </div>
    </div>

    <div layout="row" layout-align="space-between center">
      <div layout="row" layout-align="start center">
        <span ng-if="calendar.durationDays">{{calendar.durationDays}} {{ 'shared.days' | translate }} x {{ calendar.prices[0].price | currency:"€":0 }}</span>
        <span ng-if="!calendar.durationDays">0 {{ 'shared.days' | translate }} x {{ calendar.prices[0].price | currency:"€":0 }}</span>
        <div>
          <md-icon class="lnr-icn-xs md-color-black" md-svg-src="app/assets/ui_icons/icn_info.svg"></md-icon>
          <md-tooltip md-direction="right"><span translate="calendar.info-subtotal"></span></md-tooltip>
        </div>
      </div>
      <div>{{ calendar.subtotal | currency:"€":2 }}</div>
    </div>

    <div layout="row" layout-align="space-between center" ng-if="calendar.discount">
      <div class="lnr-dark-green-text" layout="row" layout-align="start center">
        {{ 'shared.discount' | translate }} {{calendar.durationDays}} {{ 'shared.days' | translate }} x {{ calendar.discountRelative | currency:"€":2 }}
        <div>
          <md-icon class="lnr-icn-xs md-color-black" md-svg-src="app/assets/ui_icons/icn_info.svg"></md-icon>
          <md-tooltip md-direction="right"><span translate="calendar.info-discount"></span></md-tooltip>
        </div>
      </div>
      <div class="lnr-dark-green-text">-{{ calendar.discount | currency:"€":2 }}</div>
    </div>

    <div layout="row" layout-align="space-between center">
      <div layout="row">
        <div layout="row" style="width:170px;" ng-if="!calendar.insuranceCountry()">
          {{ 'shared.lnr-fee' | translate }}
          <div>
            <md-icon class="lnr-icn-xs md-color-black" md-svg-src="app/assets/ui_icons/icn_info.svg"></md-icon>
            <md-tooltip md-direction="right"><span translate="calendar.info-service-fee"></span></md-tooltip>
          </div>
        </div>
        <div layout="row" style="width:170px;" ng-if="calendar.insuranceCountry()">
          {{ 'shared.basic-fee' | translate }}
          <div>
            <md-icon class="lnr-icn-xs md-color-black" md-svg-src="app/assets/ui_icons/icn_info.svg"></md-icon>
            <md-tooltip md-direction="right"><span translate="calendar.info-service-fee-insurance"></span></md-tooltip>
          </div>
        </div>
      </div>
      <div>{{ calendar.lnrFee | currency:"€":2 }}</div>
    </div>

    <div layout="row" layout-align="space-between center">
      <div>{{ 'shared.total' | translate }}</div>
      <div>{{ calendar.total | currency:"€":2 }}</div>
    </div>
    <div class="text-error md-caption">
      <span ng-if="calendar.bikeFamily != 2 && calendar.startDate && !calendar.isDateValid()">{{ 'calendar.invalid-date' | translate }}</span>
      <span ng-if="calendar.owner">{{ 'calendar.own-bike' | translate }}</span>
    </div>
  </div>

  <md-button
    type="submit"
    class="md-raised md-primary lnr-mv lnr-mh-x2"
    ng-click="calendar.onBooking()"
    ng-disabled="calendar.owner || calendar.requested || calendar.isFormInvalid()"
  >
    <span ng-if="!calendar.isFormInvalid()">{{ 'calendar.request-bike' | translate }}</span>
    <span ng-if="calendar.isFormInvalid()">{{ 'calendar.select-timespan' | translate }}</span>
  </md-button>
  <div layout-padding layout="row" ng-if="calendar.insuranceCountry()">
    <md-icon md-svg-src="app/assets/ui_icons/icn_insurance.svg" class="lnr-icn-md lnr-m-0"></md-icon>
    <div layout="column">
      <span class="md-body-1">{{ 'calendar.basic-insurance-included' | translate }}</span>
      <a class="lnr-link" ui-sref="trustAndSafety" target="_BLANK">{{ 'shared.learn-more' | translate }}</a>
    </div>
  </div>
  <!-- <p ng-if="!calendar.authentication.loggedIn()" class="md-caption center-text lnr-mv lnr-mh-x2">{{ 'calendar.to-request-bike-please' | translate }} {{ 'forms.sign-up' | translate }} {{ 'forms.or' | translate }} {{ 'forms.log-in' | translate }}</p> -->
</div>
