<md-content class="single-column">
  <div id="hero-shot"
    class="lnr-preload-bg"
    style="background-image: url('app/assets/ui_images/events/vatternrundan/lnr_vaettern_hero_image_03.jpg'); background-position: 0 60%"
    layout="row"
    layout-align="center center">
    <div class="lnr-page-title md-color-white" layout="column" layout-align="center center">
      <div>
        <img ng-src="app/assets/ui_images/events/vatternrundan/lnr_vaettern_logo_image.png" flex="25"><br><br>
      </div>
      <!-- <h1 class="md-display-1">{{ 'brand-integration.brompton.title' | translate }}</h1>     -->
    </div>
  </div>

  <div class="content" layout="column" layout-padding>
    <div class="lnr-section-title" layout="column" layout-align="center center">

      <h1 class="md-headline">{{ 'events.vatternrundan.title' | translate }}</h1>
      <p class="md-body-1" translate="events.vatternrundan.description"></p>
      <div class="md-body-1">
        <p translate="events.vatternrundan.text"></p>
      </div>
    </div>

    <md-divider></md-divider>

    <div flex layout="column" layout-fill>
      <div layout="row" layout-padding>
        <md-input-container layout="column" flex="30" style="padding-bottom: 0">
          <label>{{ 'list.details.size' | translate }}</label>
          <md-select flex ng-model="filterSize" placeholder="{{ 'list.details.size' | translate }}">
            <md-option ng-repeat="option in vatternrundan.sizes" value="{{option.value}}">
              {{option.label}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div layout="row" layout-wrap layout-padding>
        <bike-card ng-repeat="bike in vatternrundan.bikes | filter : {size : filterSize}" bike="bike" booked="bike.booked"
          flex="100" flex-gt-xs="50" flex-gt-sm="33">
        </bike-card>
      </div>
    </div>
  </div>
  <footer></footer>
</md-content>
