 <md-content class="single-column"> 
  <div id="hero-shot" class="lnr-preload-bg" style="background-image: url('app/assets/ui_images/lnr_trust_and_safety2.jpg')" layout="row" layout-align="center center">
    <h1 class="md-display-1 lnr-white lnr-page-title">Fahrrad vermieten, Konto ankurbeln</h1>
  </div>


  <div class="content" layout-padding>
    <div class="lnr-section-title" layout="column" layout="column" layout-align="center center">
      <h1 class="md-headline">Lass‘ Dein Fahrrad für Dich arbeiten</h1>
      <h2 class="md-subhead">Ein paar Klicks und unser Rechenschieber zeigt Dir, wieviel Du mit Fahrradvermietungen über listnride verdienen kannst</h2>
    </div>

    <div class="md-body-1 lnr-calculator" layout="column" layout-gt-xs="row" layout-align="center none" layout-padding>
      <div flex-gt-xs="45" layout="column" layout-margin>
        <span class="md-subhead">Market value for your bike</span>
        <md-slider-container>
          <span class="md-subhead lnr-slider-info">{{ calculator.price }} €</span>
          <md-slider flex ng-model="calculator.price" ng-init="calculator.price=100" step="1" min="1" max="200" aria-label="price" class="md-primary">
          </md-slider>
        </md-slider-container>

        <span class="md-subhead">Days per month your bike is rented</span>
        <md-slider-container>
          <span class="md-subhead lnr-slider-info">{{ calculator.days }}</span>
          <md-slider flex ng-model="calculator.days" ng-init="calculator.days=15" step="1" min="1" max="30" aria-label="days" class="md-primary">
          </md-slider>
        </md-slider-container>
      </div>

      <div flex-gt-xs="45" flex-order-xs="-1" layout="column" layout-margin>
        <span class="md-subhead">You could earn</span>
        <span class="md-display-4 lnr-accent lnr-money">
          {{ calculator.price * calculator.days * 12 }} €
        </span>
        <span class="md-subhead lnr-right">per year</span>
      </div>
    </div>
  </div>

  <div class="content" layout-padding>
    <div class="lnr-section-title" layout="column" layout="column" layout-align="center center">
      <h1 class="md-headline">Safety first!</h1>
      <h2 class="md-subhead">listnride gibt Dir Rückendeckung</h2>
    </div>

    <div class="md-body-1" layout="column" layout-gt-xs="row" layout-align="center none" layout-padding>
      <div flex-gt-xs="25" layout="column" layout-align="none center" layout-margin>
        <md-icon class="lnr-icn-mlrg lnr-accent" md-svg-src="app/assets/ui_icons/icn_safe.svg"></md-icon>
        <h3  class="md-subhead lnr-center">Wir sorgen vor</h3>
        <p class="lnr-center">Du willst Dein geliebtes Fahrrad verleihen – aber nicht irgendjemandem. Deshalb verifizieren wir alle User für Dich. Und über die User-Ratings erfährst Du mehr über ihr Fairplay im Bike Sharing/p>
      </div>

      <div flex-gt-xs="25" layout="column" layout-align="none center" layout-margin>
        <md-icon class="lnr-icn-mlrg lnr-accent" md-svg-src="app/assets/ui_icons/icn_control.svg"></md-icon>
        <h3  class="md-subhead lnr-center">Du behältst die Kontrolle</h3>
        <p class="lnr-center">Du bestimmst die individuelle Tages- oder Wochenrate. Dir steht es komplett frei, Anfragen anzunehmen oder auch ganz einfach abzulehnen, wenn Du Dein Fahrrad nicht verleihen willst</p>
      </div>

      <div flex-gt-xs="25" layout="column" layout-align="none center" layout-margin>
        <md-icon class="lnr-icn-mlrg lnr-accent" md-svg-src="app/assets/ui_icons/icn_covered.svg"></md-icon>
        <h3  class="md-subhead lnr-center">Du bist abgesichert</h3>
        <p class="lnr-center">Im Schadensfall oder bei Diebstahl stehen wir Dir zur Seite. Und wenn nötig, bist Du mit der listnride-Vermieter-Garantie in Höhe von 5.000 EUR abgesichert</p>
      </div>

      <div flex-gt-xs="25" layout="column" layout-align="none center" layout-margin>
        <md-icon class="lnr-icn-mlrg lnr-accent" md-svg-src="app/assets/ui_icons/icn_notalone.svg"></md-icon>
        <h3  class="md-subhead lnr-center">Wir lassen Dich nicht alleine</h3>
        <p class="lnr-center">Solltest Du mit einem Rider (Mieter) ein Problem nicht direkt lösen können, sind wir für Dich da – um Dich zu unterstützen oder die Angelegenheit komplett zu übernehmen</p>
      </div>
    </div>
  </div>

  <div id="listBike" class="section"  md-theme="lnr-dark" layout="column" layout-align="space-between none">
    <div class="lnr-center lnr-white" flex layout="column" layout-align="center center">
      <h1 class="md-display-1">{{ 'home.list-a-bike-header' | translate }}</h1>
      <h2 class="md-subhead">{{ 'home.list-a-bike-subheader' | translate }}</h2>
    </div>

    <div flex layout="column" layout-align="center center">
        <md-button ui-sref="list" class="md-raised md-primary md-lrg">{{ 'shared.list-a-bike' | translate }}</md-button>
    </div>
  </div>


  <div class="content" layout-padding>
    <div class="lnr-section-title" layout="column" layout="column" layout-align="center center">
      <h1 class="md-headline">Fahrradvermietung: Was sagen die Lister über uns?</h1>
      <h2 class="md-subhead">Viele Menschen sind schon ein teilender Teil unserer Bike-Sharing-Community. Lies hier, welche Erfahrungen sie gemacht haben</h2>
    </div>

    <div layout="column" layout-gt-sm="row" layout-align="center none" layout-padding>
      <div flex-gt-sm="50" layout="column" layout-align="none center" layout-margin>
        <div class="lnr-comment" layout="row">
          <img class="lnr-profile-md lnr-margin-right" ng-src="app/assets/ui_images/rider-user-1.jpg"></img>
          <div flex class="lnr-margin-left">
            <p class="lnr-comment-name md-body-2">Paul aus Berlin</p>
            <p class="lnr-comment-content md-body-1">Visited Germany and wanted to actively discover the city and country side. We found 2 great rental bikes on listnride, we had an awesome time, a great discovery!</p>
          </div>
        </div>

        <div class="lnr-comment" layout="row">
          <img class="lnr-profile-md lnr-margin-right" ng-src="app/assets/ui_images/rider-user-1.jpg"></img>
          <div flex class="lnr-margin-left">
            <p class="lnr-comment-name md-body-2">Sarah aus Stuttgart</p>
            <p class="lnr-comment-content md-body-1">Ich war zu Besuch bei einer Freundin in Berlin und wollte nicht mein eigenes Rad mitschleppen. Stattdessen hab ich ein schönes Fahrrad gemietet - ganz in ihrer Nähe. Klappte einwandfrei und auch noch zu einem guten Preis</p>
          </div>
        </div>
      </div>

      <div flex-gt-sm="50" layout="column" layout-align="none center" layout-margin>
        <div class="lnr-comment" layout="row">
          <img class="lnr-profile-md lnr-margin-right" ng-src="app/assets/ui_images/rider-user-1.jpg"></img>
          <div flex class="lnr-margin-left">
            <p class="lnr-comment-name md-body-2">Andrea aus Rom</p>
            <p class="lnr-comment-content md-body-1">In Munich we came across listnride and found some really nice and cheap bikes. The owner was a friendly guy inviting us on a coffee. He gave some cool tips, really nice!</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <footer></footer>
</md-content>