<md-content flex="100" layout="column" layout-fill>
  <div class="listings-header" layout="column">
    <div layout="row" class="lnr-vertical-lrg-padding" layout-fill layout-align="space-between center">
      <md-input-container flex="30" hide-xs hide-sm>
        <label style="display: none"></label>
        <input
          placeholder="{{ 'shared.search-bikes' | translate }}"
          ng-keyup="listings.search()"
          ng-model="listings.input"
          ng-model-options="{ debounce: 50 }"
        />
      </md-input-container>
      <div class="lnr-padding-left-double" ng-if="listings.status" hide-xs hide-sm>
        <h3>Duplication status: {{listings.status}}</h3>
      </div>
      <div layout="row" flex flex-gt-md="50" layout-align="center center" layout-align-gt-sm="end center">
        <!-- VIEW SWITCHER -->
        <h3 class="lnr-padding-right-double" hide-xs hide-sm>{{'listings.show-as-list' | translate}}</h3>
        <md-switch
          hide-xs hide-sm
          class="lnr-margin-right-extra"
          ng-model="listings.listView"
          ng-change="listings.changeListingMode(listings.listView)"
        >
        </md-switch>
        <!-- PAGINATION -->
        <ul class="lnr-pagination listing__pagination lnr-list-no-style" layout="row" layout-align="none center">
          <li>
            <md-button class="md-fab md-mini lnr-md-blue-bordered" aria-label="{{ 'shared.previous' | translate }}" ng-click="listings.prevPage()">
              <i class="material-icons">chevron_left</i>
            </md-button>
          </li>
          <li class="lnr-pagination__item active">
            <md-button class="md-fab md-mini lnr-md-blue-bordered" aria-label="{{ 'shared.previous' | translate }}" ng-click="listings.prevPage()">
              1
            </md-button>
          </li>
          <li class="lnr-pagination__item">
            <md-button class="md-fab md-mini lnr-md-blue-bordered" aria-label="{{ 'shared.previous' | translate }}" ng-click="listings.prevPage()">
              2
            </md-button>
          </li>
          <li class="lnr-pagination__divider">
            <span> ... </span>
          </li>
          <li class="lnr-pagination__item">
            <md-button class="md-fab md-mini lnr-md-blue-bordered" aria-label="{{ 'shared.previous' | translate }}" ng-click="listings.prevPage()">
              3
            </md-button>
          </li>
          <li>
            <md-button class="md-fab md-mini lnr-md-blue-bordered" aria-label="{{ 'shared.next' | translate }}" ng-click="listings.nextPage()">
              <i class="material-icons">chevron_right</i>
            </md-button>
          <li>
        </ul>
        <!-- LIST A BIKE TRIGGER -->
        <md-button class="md-primary md-confirm-button lnr-mr-0" ng-click="listings.listBike()">
          {{'listings.list-a-bike' | translate}}
        </md-button>
      </div>
    </div>
  </div>

  <md-progress-linear
    class="md-accent"
    ng-if="listings.isDuplicating"
    md-mode="query"
  >
  </md-progress-linear>
  <md-divider></md-divider>

  <!-- Layout for the List View -->

  <md-content id="list-view" ng-if="listings.listView">
    <div layout-align="center center">
      <list-view
        ng-if="listings.listView"
        bikes="listings.bikes"
        status="listings.status"
        edit="listings.edit"
        view="listings.view"
        duplicate="listings.duplicate"
        delete="listings.delete"
        deactivate="listings.deactivate"
        is-duplicating="listings.isDuplicating"
        change-availability="listings.changeAvailability">
      </list-view>
    </div>
    <div ng-if="listings.bikes !== undefined && listings.bikes.length == 0"  class="lnr-no-rental">
      <h2>{{ 'listings.no-bikes' | translate }}</h2>
    </div>
  </md-content>

  <!-- Layout for the Tile View -->

  <md-content ng-if="!listings.listView" >
    <div layout-align="center center">
      <div ng-if="listings.bikes !== undefined && listings.bikes.length == 0"  class="lnr-no-rental">
        <h2>{{ 'listings.no-bikes' | translate }}</h2>
      </div>

      <div flex-gt-xs layout="row" layout-wrap layout-padding layout-align="center center">
        <listing-card
          ng-repeat="bike in listings.bikes track by bike.id"
          flex="100"
          flex-gt-xs="50"
          flex-gt-sm="25"
          flex-lg="20"
          flex-gt-lg="14"
          bike-id="bike.id"
          bike="bike"
          name="bike.name"
          brand="bike.brand"
          category="bike.category"
          price="bike.price_from"
          image-url="bike.image_file"
          available="bike.available"
          status="listings.status"
          edit="listings.edit"
          view="listings.view"
          duplicate="listings.duplicate"
          delete="listings.delete"
          is-duplicating="listings.isDuplicating"
          change-availability="listings.changeAvailability">
        </listing-card>
      </div>
    </div>
    <footer></footer>
  </md-content>
</md-content>
