<!-- Layout for the Tile View -->
<md-content ng-if="!listings.listView" class="single-column">
  <div class="content lnr-page-margin" layout-align="center center">
    <div class="lnr-section-title" layout="column" layout-align="center center">
      <h1 class="md-headline">{{ 'listings.my-bikes' | translate }}</h1>
    </div>

    <div ng-if="listings.bikes !== undefined && listings.bikes.length == 0" layout="column" layout-align="center center">
      {{ 'listings.no-bikes' | translate }}<br><br>
      <md-button ui-sref="listingABike" class="md-raised md-primary md-lrg">{{ 'shared.list-a-bike' | translate }}</md-button>
    </div>

    <div ng-if="listings.bikes !== undefined && listings.bikes.length > 0" layout="column" layout-align="center center">
      <md-button ui-sref="list" class="md-raised md-primary md-lrg">{{ 'shared.list-a-bike' | translate }}</md-button>
    </div>

    <div flex-gt-xs layout="row" layout-wrap layout-padding layout-align="center center">
      <listing-card ng-repeat="bike in listings.bikes" flex="100" flex-gt-xs="50" flex-gt-sm="33"
        bike-id="bike.id" name="bike.name" brand="bike.brand" category="bike.category" price="bike.price_from"
        image-url=" bike.image_file_1.image_file_1.small.url" available="bike.available"
        remove-bike="listings.removeBike(bikeId)">
      </listing-card>
    </div>
  </div>
  <footer></footer>
</md-content>

<!-- Layout for the List View -->
<div ng-if="listings.listView" flex="100" layout="column" layout-fill>
  <div class="listings-header" layout="column">
    <div layout="row" class="content" layout-fill layout-align="space-between center">
      <md-input-container flex="30">
        <label style="display: none"></label>
        <input placeholder="{{ 'shared.search-bikes' | translate }}" ng-model="listView.search"/>
      </md-input-container>
      <div layout="row">
        <md-button class="md-primary md-confirm-button" ng-click="listings.toggleSidenav()">New Bike</md-button>
        <md-button ng-disabled="!listings.bikesSelected" class="md-lined">Edit Selected</md-button>
        <md-button ng-disabled="!listings.bikesSelected" class="md-lined md-warn">Delete Selected</md-button>
      </div>
    </div>
  </div>
  <md-divider></md-divider>

  <md-content id="list-view">
    <div class="content lnr-page-margin" layout-align="center center">
      <list-view ng-if="listings.listView" bikes="listings.bikes"></list-view>
    </div>
  </md-content>
</div>

<!-- side nav -->
<md-sidenav md-disable-scroll-target="body" class="md-sidenav-right md-whiteframe-4dp" md-component-id="edit">
  sdafafdsf
  asfdafsd
  fasdfasd
</md-sidenav>