<md-toolbar layout="row">
  <md-button>LISTNRIDE</md-button>
  <span flex></span>
  <md-button class="md-raised">List a Bike</md-button>
  <md-menu md-position-mode="target bottom">
      <md-button ng-click="$mdOpenMenu($event)">Learn More</md-button>
      <md-menu-content width="2">
        <md-menu-item>
          <md-button ng-click="">How it works</md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="">Rent a Bike</md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="">List a Bike</md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button disabled="disabled" ng-click="header.checkVoicemail()">Trust and Safety</md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  <md-button>sign-up</md-button>
  <md-button>login</md-button>
</md-toolbar>