<div layout="row" layout-wrap flex>
  <div flex-xs flex="50">
    <md-checkbox
      aria-label="City"
      ng-checked="categoryFilter.parent.isChecked()"
      md-indeterminate="categoryFilter.parent.isIndeterminate()"
      ng-click="categoryFilter.parent.toggleAll()"
      md-prevent-menu-close
    >
      <span ng-if="categoryFilter.parent.isChecked()">Un-</span>Select City All
    </md-checkbox>
  </div>
  <div class="demo-select-all-checkboxes" flex="100" ng-repeat="category in categoryFilter.parent.categories">
    <md-checkbox
      ng-checked="categoryFilter.parent.exists(category.id, categoryFilter.parent.selected)"
      ng-click="categoryFilter.parent.toggle(category.id, categoryFilter.parent.selected)"
      md-prevent-menu-close
    >
      {{ category.name }}
    </md-checkbox>
  </div>
</div>
