<div class="filter__category" layout="column" ng-repeat="category in categoryFilter.parent.categories track by $index">
  <div
    ng-click="categoryFilter.parent.toggle(category.catId, categoryFilter.parent.openSubs)"
    md-prevent-menu-close
    class="lnr-padding-top-double"
    layout="row"
    layout-align="space-between start"
  >
    <div layout="row" layout-align="space-between start">
      <md-checkbox
        aria-label="{{category.name}}"
        ng-checked="categoryFilter.parent.isChecked(category.catId)"
        ng-click="categoryFilter.parent.toggleAll($event, category.catId)"
        md-prevent-menu-close
        flex-15
      >
      </md-checkbox>
      <!--md-indeterminate="categoryFilter.parent.isIndeterminate(category.catId)"-->

      <div
        flex-85
        md-prevent-menu-close
        class="lnr-clickable"
      >
        {{category.name}}
      </div>
    </div>
    <div flex-10>
      <md-icon
        md-svg-src="app/assets/ui_icons/{{category.iconFileName}}"
        class="lnr-icn-sm md-color-foreground accessory-icon"
      >
      </md-icon>
    </div>
  </div>

  <div layout="row" layout-wrap flex ng-show="categoryFilter.parent.showSubs(category.catId)" layout-align="flex-start center" class="lnr-margin-left">
    <div flex="33" ng-repeat="subcategory in category.subcategories" class="lnr-padding-left-double">
      <md-checkbox
        ng-checked="categoryFilter.parent.exists(subcategory.id, categoryFilter.parent.currentCategories)"
        ng-click="categoryFilter.parent.toggle(subcategory.id, categoryFilter.parent.currentCategories)"
        md-prevent-menu-close
      >
        {{ subcategory.name }}
      </md-checkbox>
    </div>
  </div>

  <md-divider ng-if="$index !== categoryFilter.parent.categories.length - 1 "></md-divider>
</div>
