<div layout="row" layout-wrap flex ng-repeat="category in categoryFilter.parent.categories">
  <div flex-xs flex="50">
    <md-checkbox
      aria-label="{{category.name}}"
      ng-checked="categoryFilter.parent.isChecked(category.catId)"
      md-indeterminate="categoryFilter.parent.isIndeterminate(category.catId)"
      ng-click="categoryFilter.parent.toggleAll(category.catId)"
      md-prevent-menu-close
    >
      <span ng-if="categoryFilter.parent.isChecked(category.catId)">Un-</span>Select {{category.name}} All
    </md-checkbox>
  </div>
  <div class="demo-select-all-checkboxes" flex="100" ng-repeat="subcategory in category.subcategories">
    <md-checkbox
      ng-checked="categoryFilter.parent.exists(subcategory.id, categoryFilter.parent.selected)"
      ng-click="categoryFilter.parent.toggle(subcategory.id, categoryFilter.parent.selected)"
      md-prevent-menu-close
    >
      {{ subcategory.name }}
    </md-checkbox>
  </div>
</div>
