<md-dialog flex="65">

  <md-toolbar class="md-accent">
    <div class="md-toolbar-tools" layout-align="center center">
      <md-button class="md-icon-button">
        <md-icon></md-icon>
      </md-button>
      <span flex></span>
      <h2 class="md-headline">Bike Photos</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="galleryDialog.hide()">
        <md-icon md-svg-src="assets/ui_icons/icn_close_24.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div layout="column" style="height: 100%" layout="column">
      <md-tabs md-align-tabs="bottom" md-center-tabs md-dynamic-height md-swipe-content="true">
        <md-tab label="1" ng-if="galleryDialog.image_1 != null">
          <img style="max-width: 100%" ng-src="{{galleryDialog.image_1}}"></img>
        </md-tab>
        <md-tab label="2" ng-if="galleryDialog.image_2 != null">
          <img style="max-width: 100%" ng-src="{{galleryDialog.image_2}}"></img>
        </md-tab>
        <md-tab label="3" ng-if="galleryDialog.image_3 != null">
          <img style="max-width: 100%" ng-src="{{galleryDialog.image_3}}"></img>
        </md-tab>
        <md-tab label="4" ng-if="galleryDialog.image_4 != null">
          <img style="max-width: 100%" ng-src="{{galleryDialog.image_4}}"></img>
        </md-tab>
        <md-tab label="5" ng-if="galleryDialog.image_5 != null">
          <img style="max-width: 100%" ng-src="{{galleryDialog.image_5}}"></img>
        </md-tab>
      </md-tabs>
    </div>
  </md-dialog-content>

</md-dialog>