 <md-content class="single-column" ng-hide="categoryLanding.loading">
  <div id="hero-shot-small" class="lnr-preload-bg" style="background-image: url('{{ categoryLanding.data.header_image}}'); background-position: 50% 20%;" layout="column" layout-align="center center">
    <div class="lnr-page-title md-color-white" flex layout="column" layout-align="center center">
      <h1 class="md-display-1">
        {{ categoryLanding.title }}
      </h1>
    </div>
    <form class="lnr-search-bar md-whiteframe-3dp lnr-search-bar--fs18" layout="row" md-theme="default">
      <autocomplete
        autocomplete-id="home"
        flex="75"
        layout="column"
        location="categoryLanding.location"
        placeholder-id="{{ 'autocomplete.default-placeholder' | translate }}"
        place-changed="home.placeChanged(place)">
      </autocomplete>
      <md-button
        ng-click="categoryLanding.onSearchClick()"
        class="md-raised md-primary"
        id="submit"
        flex="25"
        style="min-width: 114px"
      >
        {{ 'shared.search-all' | translate }}
      </md-button>
    </form>
  </div>
  <br><br><br>
  <div class="content section" layout-padding>
    <div layout="row" layout-wrap layout-padding>
      <bike-card ng-repeat="bike in categoryLanding.data.bikes" seo="true" bike="bike" flex="100" flex-gt-xs="50" flex-gt-sm="25">
      </bike-card>
    </div>
    <br><br><br><br>
    <md-divider></md-divider>
  </div>

  <div class="content section" layout-padding layout layout-xs="column">
    <div flex="50" flex-xs="100">
      <!-- <div class="lnr-section-title" layout="column" layout-align="center center"> -->
        <!-- <h2 class="md-headline">{{ categoryLanding.data.texts.main.title }}</h2> -->
        <h2 class="md-headline">
          {{ categoryLanding.title }}
        </h2>
        <br>
      <!-- </div> -->
      <p class="md-body-1" style="margin: 7px">{{ categoryLanding.data.texts.main.description }}</p>
    </div>
    <div flex="50" flex-xs="100">
      <h2 class="md-headline">{{ 'seo.rent-category-bikes-in' | translate }}</h2>
      <br>
      <md-grid-list
        id="featuredTilesGrid"
        class="md-color-white lnr-m"
        md-cols="2" md-cols-gt-xs="2" md-cols-gt-sm="3" md-gutter="16px" md-row-height="1.5:1"
      >

        <md-grid-tile
          ng-repeat="category in categoryLanding.categories track by $index"
          class="tile"
          style="background-image: url({{category.imgFilePath}})">
          <a ng-if="categoryLanding.data.categories[category.dataName] < 8"
             ui-sref="search({location: categoryLanding.data.city, categories: category.subcategories})"
             target="_blank" layout-padding layout="column" layout-align="center center">
            <h3 class="md-title">{{ category.name }}</h3>
          </a>
          <a ng-if="categoryLanding.data.categories[category.dataName] >= 8"
             ui-sref="categoryLanding({city: categoryLanding.data.city, category: category.urlOld || category.url})"
             layout-padding layout="column" layout-align="center center">
            <h3 class="md-title">{{ category.name }}</h3>
          </a>
        </md-grid-tile>

      </md-grid-list>
    </div>
  </div>

  <div class="content section" layout="column" layout-align="center center">
    <br><br>
    <md-button ui-sref="search({location: categoryLanding.city})" class="md-xlrg md-raised md-primary">
    {{ 'shared.search-all-in' | translate }} {{ categoryLanding.city }}
    </md-button>
  </div>

  <br><br><br><br>
  <footer></footer>
</md-content>
