 <md-content class="single-column lnr-city-landing" ng-hide="cityLanding.loading">

   <section layout="row" class="lnr-city-landing-bg">
    <div flex-gt-xs="50" flex="100" layout="row" layout-align="end none" layout-padding class="lnr-city-landing-promo">
      <div layout="row" layout-padding layout-wrap class="lnr-city-landing-col">
        <div flex-gt-xs="90">
          <!--{{ cityLanding.headerTranslation | translate }} {{ cityLanding.translatedCity }}-->
          <h1 class="lnr-city-landing__title">Rent a bike in Berlin</h1>
          <p class="lnr-city-landing__descr" >Rent a road bike, city bike, or e-bike and enjoy Berlin on two wheels!</p>
          <form class="lnr-search-bar lnr-search-bar_city-landing" md-whiteframe="3" layout="row" md-theme="default">
            <autocomplete
                    autocomplete-id="home"
                    flex="auto"
                    layout="column"
                    location="cityLanding.location"
                    placeholder-id="{{ 'autocomplete.default-placeholder' | translate }}"
                    place-changed="home.placeChanged(place)">
            </autocomplete>
            <md-button
                    ng-click="cityLanding.onSearchClick()"
                    class="md-raised md-primary lnr-city-landing__button"
                    id="submit"
                    flex="40"
                    style="min-width: 114px"
            >
              {{ 'shared.search' | translate }}
            </md-button>
          </form>
        </div>
        <breadcrumbs data="cityLanding.breadcrumbs"></breadcrumbs>
      </div>
    </div>

    <div flex-gt-xs="50"  flex flex-order-xs="1" layout="column" class="map-column lnr-preload-bg" hide-xs>
      <ng-map
              ng-if="cityLanding.bikes !== undefined"
              id="searchMap"
              default-style="false"
              center="[{{cityLanding.mapOptions.lat}},{{cityLanding.mapOptions.lng}}]"
              zoom="{{cityLanding.mapOptions.zoom}}"
              on-click="cityLanding.onMapClick(event)"
              draggable="true"
              map-type-control="false"
              street-view-control="false"
              styles="{{cityLanding.colorScheme}}"
      >

        <info-window id="searchMapWindow">
          <div ng-non-bindable="">
            <bike-card
                    bike="cityLanding.selectedBike"
                    url-params="cityLanding.urlParams"
            ></bike-card>
          </div>
        </info-window>
      </ng-map>
    </div>
  </section>

  <section layout="column" layout-align="start center" layout-padding class="lnr-city-landing-content">
    <h2 class="lnr-city-landing__title lnr-center">Our most popular rental bikes in Berlin</h2>
    <p class="lnr-city-landing__descr lnr-m-0 lnr-center" >Carefully chosen from over 323 bikes in Berlin | Rent a bike in Berlin starting from 10€ per day | listnride!</p>

    <div layout="row" layout-wrap layout-padding class="lnr-city-landing-content">
      <bike-card ng-repeat="bike in cityLanding.data.bikes" seo="true" bike="bike" show-labels="true" flex="100" flex-gt-xs="50" flex-gt-sm="33">
      </bike-card>
    </div>
    <md-button ui-sref="search({location: cityLanding.city})" class="md-xlrg md-raised md-primary lnr-city-landing__button">Show all bikes</md-button>
  </section>

   <section layout="row" class="lnr-city-landing-bg lnr-city-landing-info">
     <div flex-gt-xs="50" flex="100" style="background-image: url('{{ cityLanding.data.header_image}}'); background-size: cover; background-position: center;"></div>
     <div layout="row" layout-align="center center" flex-gt-xs="50" flex="100" layout-padding>
       <ul layout="column" layout-align="space-around start" layout-padding>
        <li layout="row" layout-align="start center" ng-repeat="item in cityLanding.info">
          <md-icon md-svg-src="{{item.icon}}" class="lnr-icn-big-rounded md-color-primary"></md-icon>
          <div>
            <h3 class="lnr-city-landing__title">{{item.title}}</h3>
            <p class="lnr-city-landing__descr">{{item.description}}</p>
          </div>
        </li>
       </ul>
     </div>
   </section>

   <section layout="column" layout-align="start center" layout-padding class="lnr-city-landing-content">
     <h2 class="lnr-city-landing__title lnr-center">Make it electric</h2>
     <p class="lnr-city-landing__descr lnr-m-0 lnr-center">Berlin is great for renting e-bikes, taking you and </br> your gear with ease from A to B, for just 23€ per day</p>
     <div layout="row" layout-wrap layout-padding class="lnr-city-landing-content">
       <bike-card ng-repeat="bike in cityLanding.data.bikes" seo="true" bike="bike" show-labels="true" flex="100" flex-gt-xs="50" flex-gt-sm="33">
       </bike-card>
     </div>
     <md-button ui-sref="search({location: cityLanding.city})" class="md-xlrg md-raised md-primary lnr-city-landing__button">Show all bikes</md-button>
   </section>

   <section layout="column" layout-align="start center" layout-padding class="lnr-city-landing-bg">
     <h2 class="lnr-city-landing__title lnr-center">You can rent bikes from </br>the following brands</h2>
     <!--<div class="swiper-container">-->
       <!-- Additional required wrapper -->
       <!--<div class="swiper-wrapper">-->
       <!--&lt;!&ndash; Slides &ndash;&gt;-->
       <!--<div class="swiper-slide">Slide 1</div>-->
       <!--<div class="swiper-slide">Slide 2</div>-->
       <!--<div class="swiper-slide">Slide 3</div>-->
       <!--</div>-->
       <!--&lt;!&ndash; If we need pagination &ndash;&gt;-->
       <!--<div class="swiper-pagination"></div>-->

       <!--&lt;!&ndash; If we need navigation buttons &ndash;&gt;-->
       <!--<div class="swiper-button-prev"></div>-->
       <!--<div class="swiper-button-next"></div>-->

       <!--&lt;!&ndash; If we need scrollbar &ndash;&gt;-->
       <!--<div class="swiper-scrollbar"></div>-->
       <!--</div>-->
       <div class="lnr-city-landing-content" layout="row">
         <slick ng-if="cityLanding.categories.length"
                settings="cityLanding.slickConfig"
                class="lnr-city-landing-categories"
                flex="80"
                flex-offset="10"
         >
           <div ng-repeat="category in cityLanding.categories track by $index">
             <a ng-if="cityLanding.data.categories[category.dataName] < 8"
                ui-sref="search({location: cityLanding.data.city, categories: category.subcategories})"
                target="_blank" layout-padding layout="column" layout-align="center center">
               <h3 class="md-title">{{ category.name }}</h3>
             </a>
             <a ng-if="cityLanding.data.categories[category.dataName] >= 8"
                ui-sref="categoryLanding({city: cityLanding.data.city, category: category.urlOld || category.url})"
                layout-padding layout="column" layout-align="center center">
               <h3 class="md-title">{{ category.name }}</h3>
             </a>
           </div>
         </slick>
       </div>
   </section>

   <div class="content section" layout-padding layout layout-xs="column" ng-if="cityLanding.data.texts">
    <div flex="50" flex-xs="100">
      <h2 class="md-headline">{{ 'seo.rent-perfect-bikes-in' | translate }} {{ cityLanding.translatedCity }}</h2>
      <br>
      <p class="md-body-1" style="margin: 7px">{{ cityLanding.data.texts.main.description }}</p>
    </div>
    <div flex="50" flex-xs="100">
      <h2 class="md-headline">{{ 'seo.rent-category-bikes-in' | translate }}</h2>
      <br>
    </div>
  </div>

  <div class="content section" layout="column" layout-align="center center">
    <br><br>
    <md-button ui-sref="search({location: cityLanding.city})" class="md-xlrg md-raised md-primary lnr-city-landing__button">
    {{ 'shared.search-all-in' | translate }} {{ cityLanding.translatedCity }}
    </md-button>
  </div>


  <div class="content section" layout-padding ng-if="cityLanding.data.shops.length > 4">
    <br><br><br><br>
    <md-divider></md-divider>
    <div class="lnr-section-title" layout="column" layout-align="center center">
      <h2 class="md-headline">{{ 'seo.bike-shops-in' | translate }} {{ cityLanding.data.city }}</h2>
    </div>
    <md-grid-list id="featuredTilesGrid" class="md-color-white lnr-m" md-cols="2" md-cols-gt-xs="3" md-cols-gt-sm="{{ cityLanding.data.shops.length }}" md-gutter="16px" md-row-height="1:1">
      <md-grid-tile ng-repeat="shop in cityLanding.data.shops" class="tile" style="background-image: url({{ shop.profile_picture.profile_picture.url }});">
        <a ui-sref="user({userId: {{ shop.id }}})" target="_blank" layout-padding layout="column" layout-align="center  center">
        </a>
      </md-grid-tile>
    </md-grid-list>
  </div>

  <div class="content section" layout-padding ng-if="cityLanding.data.explore.content[0].image">
    <br><br><br><br>
    <md-divider></md-divider>
    <div class="lnr-section-title" layout="column" layout-align="center center">
      <h2 class="md-headline">{{ cityLanding.data.explore.title }}</h2>
    </div>

    <div class="md-body-1" layout="column" layout-gt-xs="row" layout-align="center" layout-padding>
      <div layout="column" flex-gt-xs="45">
        <h3 class="md-subhead">{{ cityLanding.data.explore.content[0].title }}</h3>
        <p ng-bind-html="cityLanding.data.explore.content[0].description"></p>
        <br>
        <md-card class="lnr-bike-card">
          <img class="md-card-image" src="{{ cityLanding.data.explore.content[0].image }}" alt="">
        </md-card>
        <br>
        <h3 class="md-subhead">{{ cityLanding.data.explore.content[1].title }}</h3>
        <p ng-bind-html="cityLanding.data.explore.content[1].description"></p>
      </div>
      <div layout="row" flex-gt-xs="10" layout-align="center">
        <md-divider></md-divider>
      </div>
      <div layout="column" flex-gt-xs="45">
        <md-card class="lnr-bike-card">
          <img class="md-card-image" src="{{ cityLanding.data.explore.content[1].image }}" alt="">
        </md-card>
        <br>
        <h3 class="md-subhead">{{ cityLanding.data.explore.content[2].title }}</h3>
        <p ng-bind-html="cityLanding.data.explore.content[2].description"></p>
        <br>
        <md-card class="lnr-bike-card">
          <img class="md-card-image" src="{{ cityLanding.data.explore.content[2].image }}" alt="">
        </md-card>
        <br>
        <h3 class="md-subhead">{{ cityLanding.data.explore.content[3].title }}</h3>
        <p ng-bind-html="cityLanding.data.explore.content[3].description"></p>
      </div>
    </div>
  </div>

  <br><br><br><br>
  <footer></footer>
</md-content>
