 <md-content class="single-column" ng-hide="cityLanding.loading"> 
  <div id="hero-shot-small" class="lnr-preload-bg" style="background-image: url('app/assets/ui_images/seo/berlin-ebikes.jpg'); background-position: 50% 20%;" layout="row" layout-align="center center">
    <div class="lnr-page-title md-color-white" flex layout="column" layout-align="center center">
      <h1 class="md-display-1">{{ 'seo.header' | translate }} {{ cityLanding.data.city }}</h1>
    </div>
  </div>
  <br><br><br>
  <div class="content section" layout-padding>
    <div layout-xs="column" layout="row" layout-wrap layout-padding>
      <bike-card ng-repeat="bike in cityLanding.data.bikes" seo="true" bike="bike" flex="100" flex-gt-xs="50" flex-gt-sm="25">
      </bike-card>
    </div>
    <br><br><br><br>
    <md-divider></md-divider>
  </div>

  <div class="content section" layout-padding layout>
    <div flex="50">
      <!-- <div class="lnr-section-title" layout="column" layout-align="center center"> -->
        <h2 class="md-headline">{{ cityLanding.data.texts.main.title }}</h2>
        <br>
      <!-- </div> -->
      <p class="md-body-1">{{ cityLanding.data.texts.main.description }} In faucibus mollis finibus. Etiam tristique faucibus ex in vehicula. Quisque tristique dapibus arcu a iaculis. Vivamus neque arcu, ultrices eu sagittis sed, venenatis id ante. Morbi ut scelerisque mauris. Nullam tristique in quam vitae cursus. Mauris efficitur cursus porta. Morbi in mattis velit, sed malesuada diam. Duis non dapibus diam, ac mattis sem. Donec vehicula odio quis dignissim pulvinar. Curabitur sed malesuada metus. Integer tincidunt a massa quis mattis. Fusce dolor est, dictum quis mi vel, facilisis malesuada elit. Proin ultricies, nisl sit amet molestie fringilla, ipsum lorem convallis quam, at venenatis neque justo vel elit. Proin ut dui eget lectus cursus interdum. Vivamus vulputate blandit quam ac vestibulum.</p>
    </div>
    <div flex="50">
      <!-- <div class="lnr-section-title" layout="column" layout-align="center center"> -->
        <h2 class="md-headline">Rent category bikes in {{ cityLanding.data.city }}</h2>
        <br>
      <!-- </div> -->
      <md-grid-list id="featuredTilesGrid" class="md-color-white lnr-margin" md-cols="1" md-cols-gt-xs="2" md-cols-gt-sm="3" md-gutter="16px" md-row-height="1.5:1">
        <md-grid-tile class="tile tile-berlin">
          <a ui-sref="cities-berlin" layout-padding layout="column" layout-align="center  center">
            <h3 class="md-title">{{ 'list.category.city' | translate }}</h3>
          </a>
        </md-grid-tile>
  
        <md-grid-tile class="tile tile-munich">
          <a ui-sref="cities-munich" target="_blank" layout-padding layout="column"   layout-align="center center">
            <h3 class="md-title">{{ 'list.category.race' | translate }}</h3>
          </a>
        </md-grid-tile>
  
        <md-grid-tile class="tile tile-amsterdam">
          <a ui-sref="cities-amsterdam" layout-padding layout="column" layout-align="center   center">
            <h3 class="md-title">{{ 'list.category.all-terrain' | translate }}</h3>
          </a>
        </md-grid-tile>
  
        <md-grid-tile class="tile tile-vienna">
          <a ui-sref="cities-vienna" layout-padding layout="column" layout-align="center  center">
            <h3 class="md-title">{{ 'list.category.kids' | translate }}</h3>
          </a>
        </md-grid-tile>

        <md-grid-tile class="tile tile-vienna">
          <a ui-sref="cities-vienna" layout-padding layout="column" layout-align="center  center">
            <h3 class="md-title">{{ 'list.category.electro' | translate }}</h3>
          </a>
        </md-grid-tile>

        <md-grid-tile class="tile tile-vienna">
          <a ui-sref="cities-vienna" layout-padding layout="column" layout-align="center  center">
            <h3 class="md-title">{{ 'list.category.special' | translate }}</h3>
          </a>
        </md-grid-tile>
      </md-grid-list>
    </div>
  </div>
  

  <div class="content section" layout-padding>
    <br><br><br><br>
    <md-divider></md-divider>
    <div class="lnr-section-title" layout="column" layout-align="center center">
      <h2 class="md-headline">{{ 'seo.bike-shops-in' | translate }} {{ cityLanding.data.city }}</h2>
    </div>
    <md-grid-list id="featuredTilesGrid" class="md-color-white lnr-margin" md-cols="1" md-cols-gt-xs="1" md-cols-gt-sm="{{ cityLanding.data.shops.length }}" md-gutter="16px" md-row-height="1:1">
      <md-grid-tile ng-repeat="shop in cityLanding.data.shops" class="tile" style="background-image: url({{ shop.profile_picture.profile_picture.url }});">
        <a ui-sref="user({userId: {{ shop.id }}})" target="_blank" layout-padding layout="column" layout-align="center  center">
          <h3 class="md-title">{{ shop.company_name }}</h3>
        </a>
      </md-grid-tile>
    </md-grid-list>
  </div>

  <div class="content section" layout-padding>
    <br><br><br><br>
    <md-divider></md-divider>
    <div class="lnr-section-title" layout="column" layout-align="center center">      
      <h2 class="md-headline">{{ cityLanding.data.explore.title }}</h2>
    </div>

    <div class="md-body-1" layout="column" layout-gt-xs="row" layout-align="center" layout-padding>
      <div layout="column" flex-gt-xs="45">
        <h3 class="md-subhead">{{ 'cities.berlin.about' | translate }}</h3>
        <p translate="cities.berlin.about-content"></p>
        <br>
        <md-card class="lnr-bike-card">
          <img class="md-card-image" src="app/assets/ui_images/citypages/berlin-routes.jpg" alt="">
        </md-card>
        <br>
        <h3 class="md-subhead">{{ 'cities.berlin.bike-routes' | translate }}</h3>
        <p translate="cities.berlin.bike-routes-content"></p>
      </div>
      <div layout="row" flex-gt-xs="10" layout-align="center">
        <md-divider></md-divider>
      </div>
      <div layout="column" flex-gt-xs="45">
        <md-card class="lnr-bike-card">
          <img class="md-card-image" src="app/assets/ui_images/citypages/berlin-shops.jpg" alt="">
        </md-card>
        <br>
        <h3 class="md-subhead">{{ 'cities.berlin.bike-shops' | translate }}</h3>
        <p translate="cities.berlin.bike-shops-content"></p>
        <br>
        <md-card class="lnr-bike-card">
          <img class="md-card-image" src="app/assets/ui_images/citypages/berlin-cafes.jpg" alt="">
        </md-card>
        <br>
        <h3 class="md-subhead">{{ 'cities.berlin.cafes-bars' | translate }}</h3>
        <p translate="cities.berlin.cafes-bars-content"></p>
      </div>
    </div>
  </div>

  <br><br><br><br>
  <footer></footer>
</md-content>
