 <md-content class="single-column" ng-hide="cityLanding.loading">
  <div id="hero-shot-small" class="lnr-preload-bg" style="background-image: url('{{ cityLanding.data.header_image}}'); background-position: 50% 20%;" layout="column" layout-align="center center">
    <div class="lnr-page-title md-color-white" flex layout="column" layout-align="center center">
      <h1 class="md-display-1">
        {{ cityLanding.headerTranslation | translate }} {{ cityLanding.translatedCity }}
      </h1>
    </div>
    <form class="lnr-search-bar md-whiteframe-3dp lnr-search-bar--fs18" layout="row" md-theme="default">
      <autocomplete
        autocomplete-id="home"
        flex="auto"
        layout="column"
        location="cityLanding.location"
        placeholder-id="{{ 'autocomplete.default-placeholder' | translate }}"
        place-changed="home.placeChanged(place)">
      </autocomplete>
      <md-button
        ng-click="cityLanding.onSearchClick()"
        class="md-raised md-primary"
        id="submit"
        flex="40"
        style="min-width: 114px"
      >
        {{ 'shared.search-all' | translate }}
      </md-button>
    </form>
  </div>
  <br><br><br>
  <div class="content section" layout-padding>
    <div layout="row"layout-padding >
      <breadcrumbs breadcrumbs-data="cityLanding.breadcrumbs"></breadcrumbs>
    </div>
    <div layout="row" layout-wrap layout-padding>
      <bike-card ng-repeat="bike in cityLanding.data.bikes" seo="true" bike="bike" show-labels="true" flex="100" flex-gt-xs="50" flex-gt-sm="25">
      </bike-card>
    </div>
    <br><br><br><br>
    <md-divider></md-divider>
  </div>

  <div class="content section" layout-padding layout layout-xs="column" ng-if="cityLanding.data.texts">
    <div flex="50" flex-xs="100">
      <h2 class="md-headline">{{ 'seo.rent-perfect-bikes-in' | translate }} {{ cityLanding.translatedCity }}</h2>
      <br>
      <p class="md-body-1" style="margin: 7px">{{ cityLanding.data.texts.main.description }}</p>
    </div>
    <div flex="50" flex-xs="100">
      <h2 class="md-headline">{{ 'seo.rent-category-bikes-in' | translate }}</h2>
      <br>
      <md-grid-list
        id="featuredTilesGrid"
        class="md-color-white lnr-m"
        md-cols="2" md-cols-gt-xs="2" md-cols-gt-sm="3" md-gutter="16px" md-row-height="1.5:1"
      >

        <md-grid-tile
          ng-repeat="category in cityLanding.categories track by $index"
          class="tile"
          style="background-image: url({{category.imgFilePath}})">
          <a ng-if="cityLanding.data.categories[category.dataName] < 8"
             ui-sref="search({location: cityLanding.data.city, categories: category.subcategories})"
             target="_blank" layout-padding layout="column" layout-align="center center">
            <h3 class="md-title">{{ category.name }}</h3>
          </a>
          <a ng-if="cityLanding.data.categories[category.dataName] >= 8"
             ui-sref="categoryLanding({city: cityLanding.data.city, category: category.urlOld || category.url})"
             layout-padding layout="column" layout-align="center center">
            <h3 class="md-title">{{ category.name }}</h3>
          </a>
        </md-grid-tile>

      </md-grid-list>
    </div>
  </div>

  <div class="content section" layout="column" layout-align="center center">
    <br><br>
    <md-button ui-sref="search({location: cityLanding.city})" class="md-xlrg md-raised md-primary">
    {{ 'shared.search-all-in' | translate }} {{ cityLanding.translatedCity }}
    </md-button>
  </div>


  <div class="content section" layout-padding ng-if="cityLanding.data.shops.length > 4">
    <br><br><br><br>
    <md-divider></md-divider>
    <div class="lnr-section-title" layout="column" layout-align="center center">
      <h2 class="md-headline">{{ 'seo.bike-shops-in' | translate }} {{ cityLanding.data.city }}</h2>
    </div>
    <md-grid-list id="featuredTilesGrid" class="md-color-white lnr-m" md-cols="2" md-cols-gt-xs="3" md-cols-gt-sm="{{ cityLanding.data.shops.length }}" md-gutter="16px" md-row-height="1:1">
      <md-grid-tile ng-repeat="shop in cityLanding.data.shops" class="tile" style="background-image: url({{ shop.profile_picture.profile_picture.url }});">
        <a ui-sref="user({userId: {{ shop.id }}})" target="_blank" layout-padding layout="column" layout-align="center  center">
        </a>
      </md-grid-tile>
    </md-grid-list>
  </div>

  <div class="content section" layout-padding ng-if="cityLanding.data.explore.content[0].image">
    <br><br><br><br>
    <md-divider></md-divider>
    <div class="lnr-section-title" layout="column" layout-align="center center">
      <h2 class="md-headline">{{ cityLanding.data.explore.title }}</h2>
    </div>

    <div class="md-body-1" layout="column" layout-gt-xs="row" layout-align="center" layout-padding>
      <div layout="column" flex-gt-xs="45">
        <h3 class="md-subhead">{{ cityLanding.data.explore.content[0].title }}</h3>
        <p ng-bind-html="cityLanding.data.explore.content[0].description"></p>
        <br>
        <md-card class="lnr-bike-card">
          <img class="md-card-image" src="{{ cityLanding.data.explore.content[0].image }}" alt="">
        </md-card>
        <br>
        <h3 class="md-subhead">{{ cityLanding.data.explore.content[1].title }}</h3>
        <p ng-bind-html="cityLanding.data.explore.content[1].description"></p>
      </div>
      <div layout="row" flex-gt-xs="10" layout-align="center">
        <md-divider></md-divider>
      </div>
      <div layout="column" flex-gt-xs="45">
        <md-card class="lnr-bike-card">
          <img class="md-card-image" src="{{ cityLanding.data.explore.content[1].image }}" alt="">
        </md-card>
        <br>
        <h3 class="md-subhead">{{ cityLanding.data.explore.content[2].title }}</h3>
        <p ng-bind-html="cityLanding.data.explore.content[2].description"></p>
        <br>
        <md-card class="lnr-bike-card">
          <img class="md-card-image" src="{{ cityLanding.data.explore.content[2].image }}" alt="">
        </md-card>
        <br>
        <h3 class="md-subhead">{{ cityLanding.data.explore.content[3].title }}</h3>
        <p ng-bind-html="cityLanding.data.explore.content[3].description"></p>
      </div>
    </div>
  </div>

  <br><br><br><br>
  <footer></footer>
</md-content>
