/* <booking-calendar> component container */
booking-calendar {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  max-width: 100%;
}

.booking-calendar {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  max-width: 100%;
}

/* Calendar controls START */
.booking-calendar-controls {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid rgba(255,255,255,0.12);
}

.booking-calendar-controls > * + *,
.booking-calendar-controls .md-icon-button {
  margin: 0 0 0 10px;
}

.booking-calendar-divider {
  margin-bottom: 10px;
}
/* Calendar controls END */

/* Bryntum Scheduler styles START */
.booking-calendar .scheduler-container {
  flex: 1 1 auto;
  max-width: 100%;
}

/* hide current time label (leave the line only) */
.booking-calendar .scheduler-container .b-sch-current-time > label {
  display: none;
}

.booking-calendar .b-tree-cell { 
  padding: 0;
}

.booking-calendar .b-tree-cell-inner {
  padding: 15px 20px !important; /* bryntum sets inline padding to leaf cells */
}

.booking-calendar .b-tree-expander {
  position: absolute;
  top: 15px;
  right: 5px;
}

.booking-calendar .bike-column img {
  height: 55px;
  margin-right: 10px;
  border: 1px solid rgba(0,0,0,0.12);
}
/* Bryntum Scheduler styles END */