 <md-content class="single-column">

  <!-- FAQs -->
  <div class="content lnr-faqs" layout-padding>
    <div style="margin: 60px auto" class="lnr-section-title" layout="column" layout-align="center center">
      <h2 class="md-headline">{{ 'help-and-service.header' | translate }}</h2>
    </div>

    <div class="md-body-1" layout="column" layout-gt-xs="row" layout-align="center none" layout-padding>
      <a ui-sref="faq({'#': 'group1'})" class="help__group-card" flex-gt-xs="25" layout="column" layout-align="none center" layout-margin>
        <md-icon class="lnr-icn-mlrg" md-svg-src="app/assets/ui_icons/help/1_getting-started-01.svg"></md-icon>
        <p class="md-subhead lnr-center">{{ 'help-and-service.faq.group-1.title' | translate }}</p>
      </a>

      <a ui-sref="faq({'#': 'group2'})" class="help__group-card" flex-gt-xs="25" layout="column" layout-align="none center" layout-margin>
        <md-icon class="lnr-icn-mlrg" md-svg-src="app/assets/ui_icons/help/2_renting-out-01.svg"></md-icon>
        <p class="md-subhead lnr-center">{{ 'help-and-service.faq.group-2.title' | translate }}</p>
      </a>

      <a ui-sref="faq({'#': 'group3'})" class="help__group-card" flex-gt-xs="25" layout="column" layout-wrap layout-align="none center" layout-margin>
        <md-icon class="lnr-icn-mlrg" md-svg-src="app/assets/ui_icons/help/3_renting-01.svg"></md-icon>
        <p class="md-subhead lnr-center">{{ 'help-and-service.faq.group-3.title' | translate }}</p>
      </a>

      <a ui-sref="faq({'#': 'group4'})" class="help__group-card" flex-gt-xs="25" layout="column" layout-align="none center" layout-margin>
        <md-icon class="lnr-icn-mlrg" md-svg-src="app/assets/ui_icons/help/4_payments-01.svg"></md-icon>
        <p class="md-subhead lnr-center">{{ 'help-and-service.faq.group-4.title' | translate }}</p>
      </a>

    </div>
    <div class="md-body-1" layout="column" layout-gt-xs="row" layout-align="center none" layout-padding>
      <a ui-sref="faq({'#': 'group5'})" class="help__group-card" flex-gt-xs="25" layout="column" layout-align="none center" layout-margin>
        <md-icon class="lnr-icn-mlrg" md-svg-src="app/assets/ui_icons/help/5_insurance-01.svg"></md-icon>
        <p class="md-subhead lnr-center">{{ 'help-and-service.faq.group-5.title' | translate }}</p>
      </a>

      <a ui-sref="faq({'#': 'group6'})" class="help__group-card" flex-gt-xs="25" layout="column" layout-align="none center" layout-margin>
        <md-icon class="lnr-icn-mlrg" md-svg-src="app/assets/ui_icons/help/6_booking-01.svg"></md-icon>
        <p class="md-subhead lnr-center">{{ 'help-and-service.faq.group-6.title' | translate }}</p>
      </a>

      <a ui-sref="faq({'#': 'group7'})" class="help__group-card" flex-gt-xs="25" layout="column" layout-wrap layout-align="none center" layout-margin>
        <md-icon class="lnr-icn-mlrg" md-svg-src="app/assets/ui_icons/help/7_vouchers-01.svg"></md-icon>
        <p class="md-subhead lnr-center">{{ 'help-and-service.faq.group-7.title' | translate }}</p>
      </a>

      <a ui-sref="faq({'#': 'group8'})" class="help__group-card" flex-gt-xs="25" layout="column" layout-align="none center" layout-margin>
        <md-icon class="lnr-icn-mlrg" md-svg-src="app/assets/ui_icons/help/8_ratings-01.svg"></md-icon>
        <p class="md-subhead lnr-center">{{ 'help-and-service.faq.group-8.title' | translate }}</p>
      </a>

    </div>
  </div>
  <!-- end FAQs -->


  <!-- TOP 10 FAQ -->
  <div class="content" layout-padding>
    <div class="lnr-section-title" layout="column" layout-align="center center">
      <h2 class="md-headline">{{ 'help-and-service.faq-header' | translate }}</h2>
    </div>

    <div class="md-body-1" layout="column" layout-gt-sm="row" layout-align="center none" layout-padding layout-margin>
      <div flex-gt-sm="45" layout="column">
        <!-- FAQ_1 -->
        <h3 class="md-subhead lnr-clickable lnr-arrow-left" ng-click="help1=!help1" ng-class="help1 ? 'accordion__tab--opened' : ''">
          {{ 'help-and-service.faqs.top.question-1' | translate }}
        </h3>
        <div ng-show="help1">
          <p class="md-body-1 accordion__text" translate="help-and-service.faqs.top.answer-1"></p>
        </div>
        <!-- FAQ_2 -->
        <h3 class="md-subhead lnr-clickable lnr-arrow-left" ng-click="help2=!help2" ng-class="help2 ? 'accordion__tab--opened' : ''">
          {{ 'help-and-service.faqs.top.question-2' | translate }}
        </h3>
        <div ng-show="help2">
          <p class="md-body-1 accordion__text" translate="help-and-service.faqs.top.answer-2"></p>
        </div>
        <!-- FAQ_3 -->
        <h3 class="md-subhead lnr-clickable lnr-arrow-left" ng-click="help3=!help3" ng-class="help3 ? 'accordion__tab--opened' : ''">
          {{ 'help-and-service.faqs.top.question-3' | translate }}
        </h3>
        <div ng-show="help3">
          <p class="md-body-1 accordion__text" translate="help-and-service.faqs.top.answer-3"></p>
        </div>
        <!-- FAQ_4 -->
        <h3 class="md-subhead lnr-clickable lnr-arrow-left" ng-click="help4=!help4" ng-class="help4 ? 'accordion__tab--opened' : ''">
          {{ 'help-and-service.faqs.top.question-4' | translate }}
        </h3>
        <div ng-show="help4">
          <p class="md-body-1 accordion__text" translate="help-and-service.faqs.top.answer-4"></p>
        </div>
        <!-- FAQ_5 -->
        <h3 class="md-subhead lnr-clickable lnr-arrow-left lnr-arrow-left--noborder" ng-click="help5=!help5" ng-class="help5 ? 'accordion__tab--opened' : ''">
          {{ 'help-and-service.faqs.top.question-5' | translate }}
        </h3>
        <div ng-show="help5">
          <p class="md-body-1 accordion__text" translate="help-and-service.faqs.top.answer-5"></p>
        </div>
      </div>

      <div flex-gt-sm="45" flex-gt-sm-offset="5" layout="column">
        <!-- FAQ_6 -->
        <h3 class="md-subhead lnr-clickable lnr-arrow-left" ng-click="help6=!help6" ng-class="help6 ? 'accordion__tab--opened' : ''">
          {{ 'help-and-service.faqs.top.question-6' | translate }}
        </h3>
        <div ng-show="help6">
          <p class="md-body-1 accordion__text" translate="help-and-service.faqs.top.answer-6"></p>
        </div>
        <!-- FAQ_7 -->
        <h3 class="md-subhead lnr-clickable lnr-arrow-left" ng-click="help7=!help7" ng-class="help7 ? 'accordion__tab--opened' : ''">
          {{ 'help-and-service.faqs.top.question-7' | translate }}
        </h3>
        <div ng-show="help7">
          <p class="md-body-1 accordion__text" translate="help-and-service.faqs.top.answer-7"></p>
        </div>
        <!-- FAQ_8 -->
        <h3 class="md-subhead lnr-clickable lnr-arrow-left" ng-click="help8=!help8" ng-class="help8 ? 'accordion__tab--opened' : ''">
          {{ 'help-and-service.faqs.top.question-8' | translate }}
        </h3>
        <div ng-show="help8">
          <p class="md-body-1 accordion__text" translate="help-and-service.faqs.top.answer-8"></p>
        </div>
        <!-- FAQ_9 -->
        <h3 class="md-subhead lnr-clickable lnr-arrow-left" ng-click="help9=!help9" ng-class="help9 ? 'accordion__tab--opened' : ''">
          {{ 'help-and-service.faqs.top.question-9' | translate }}
        </h3>
        <div ng-show="help9">
          <p class="md-body-1 accordion__text" translate="help-and-service.faqs.top.answer-9"></p>
        </div>
        <!-- FAQ_10 -->
        <h3 class="md-subhead lnr-clickable lnr-arrow-left lnr-arrow-left--noborder" ng-click="help10=!help10" ng-class="help10 ? 'accordion__tab--opened' : ''">
          {{ 'help-and-service.faqs.top.question-10' | translate }}
        </h3>
        <div ng-show="help10">
          <p class="md-body-1 accordion__text" translate="help-and-service.faqs.top.answer-10"></p>
        </div>
      </div>

    </div>
  </div>
  <!-- end TOP 10 FAQ -->

  <div class="content" layout-padding>
    <div class="lnr-section-title mt0" layout="column" layout-align="center center">
      <p class="md-body-2">
        {{ 'booking.footer.call-us' | translate }}
        <br>
        <a href="mailto:contact@listnride.com">{{ 'booking.footer.email-us' | translate }}</a>.</p>
      <div class="lnr-row-images" layout="row" layout-align="center center">
        <div class="lnr-row-images__item" layout="column" layout-align="center center">
          <img ng-src="app/assets/ui_images/request-flow/lnr_supportThumb_topbias@2x.png" alt="Tobias">
          <span>Tobias</span>
        </div>
        <div class="lnr-row-images__item" layout="column" layout-align="center center">
          <img ng-src="app/assets/ui_images/request-flow/lnr_supportThumb_patrick@2x.png" alt="Lena">
          <span>Patrick</span>
        </div>
      </div>
      <p class="md-caption">
        <b>{{ 'booking.footer.support' | translate }}</b>
      </p>
    </div>
  </div>

  <footer></footer>
</md-content>
