<md-dialog>

    <md-toolbar>
      <div class="md-toolbar-tools" layout-align="center center">
        <h2>{{ 'requests.booking-overview' | translate }}</h2>
      </div>
    </md-toolbar>

    <md-dialog-content layout="column" class="dialog-content">
      <div layout="column">
        <p class="md-title">Booking</p>
        <div layout="row">
          <span flex="50" class="md-body-2">{{ 'shared.from' | translate }}</span>
          <span flex="50" class="md-body-1">{{ bookingDialog.requests.request.start_date | date: "dd.MM.yyyy, HH:mm" }}</span>
        </div>
        <div layout="row">
          <span flex="50" class="md-body-2">{{ 'shared.to' | translate }}</span>
          <span flex="50" class="md-body-1">{{ bookingDialog.requests.request.end_date | date: "dd.MM.yyyy, HH:mm" }}</span>
        </div>
        <div layout="row">
          <span flex="50" class="md-body-2">{{ 'shared.duration' | translate }}</span>
          <span flex="50" class="md-body-1">{{ bookingDialog.duration }}</span>
        </div>
        <p><md-divider></md-divider></p>
        <p class="md-title">Price</p>
        <div layout="row">
          <span flex="50" class="md-body-2">{{ 'shared.subtotal' | translate }}</span>
          <span flex="50" class="md-body-1">{{ bookingDialog.requests.request.subtotal | currency: '€' }}</span>
        </div>
        <div layout="row">
          <span flex="50" class="md-body-2">{{ 'shared.lnr-fee' | translate }}</span>
          <span flex="50" class="md-body-1">{{ bookingDialog.requests.request.total - bookingDialog.request.subtotal | currency: '€' }}</span>
        </div>
        <div layout="row">
          <span flex="50" class="md-body-2">{{ 'shared.total' | translate }}</span>
          <span flex="50" class="md-body-2">{{ bookingDialog.requests.request.total | currency: '€'  }}</span>
        </div>
        <p><md-divider></md-divider></p>
        <br>
        <p class="md-caption lnr-center">By booking I accept the Terms and Conditions</p >
        <br>
        <div layout="row">
          <md-button class="md-raised md-warn" ng-click="bookingDialog.hide()">{{ 'shared.cancel' | translate }}</md-button>
          <span flex></span>
          <md-button class="md-raised md-primary" ng-click="bookingDialog.book()">{{ 'requests.book' | translate }}</md-button>
        </div>
      </div>
    </md-dialog-content>

</md-dialog>