<md-dialog>

    <md-toolbar>
      <div class="md-toolbar-tools" layout-align="center center">
        <h2>{{ 'requests.rating' | translate }}</h2>
      </div>
    </md-toolbar>

    <md-dialog-content layout="column" class="dialog-content" layout-margin layout-align="center">
      <p class="md-body-1 lnr-center">How did you like the overall experience?</p>
      <p class="md-body-1 lnr-center">{{ 'requests.ratings.description' | translate }}</p>
      <div layout="column" layout-align="center center">
        <input-stars max="5" ng-model="ratingDialog.rating"></input-stars>
        <p class="md-body-2 lnr-center" translate="requests.ratings.{{ratingDialog.rating}}"></p>
      </div>
      <br>
      <form name="ratingDialog.ratingForm">
        <div layout="column">
          <md-input-container class="md-input-container-compact">
            <textarea name="message" placeholder="{{ 'requests.ratings.rating_text_lister' | translate }}" ng-model=" ratingDialog.message" minlength="100" required rows="3" md-select-on-focus></textarea>
            <div ng-messages="ratingDialog.ratingForm.message.$error" role="alert">
              <div ng-message="required">This is required.</div>
              <div ng-message="minlength">Please write a few more words</div>
            </div>
          </md-input-container>
        </div>
        <div layout="row" layout-align="end">
          <md-button ng-disabled="!ratingDialog.ratingForm.$valid;" ng-click="ratingDialog.rate()" class="md-raised md-primary">{{ 'shared.send' | translate }}</md-button>
        </div>
      </form>
    </md-dialog-content>

</md-dialog>