<!-- All views except XS -->
<div flex layout="row" layout-fill style="background-color: #ffffff">

  <!-- Right Column displaying actual Chat -->
  <div flex-gt-sm="65" flex-sm="65" flex-order="2" layout="column" hide-xs>
    <md-progress-linear ng-if="requests.loadingChat" md-mode="query"></md-progress-linear>
    <div scroll-glue="requests.request.glued" class="chat" flex="85">
      <message ng-repeat="message in requests.request.messages" content="message.content" sender="message.sender" status="message.status" request="requests.request" confirm-booking="requests.confirmBooking()" show-rating-dialog="requests.showRatingDialog()"></message>
    </div>
    <form ng-submit="requests.sendMessage()" layout="row" layout-padding ng-if="requests.request.messages">
      <md-input-container class="ap-chat" flex md-no-float>
            <input ng-model="requests.message" placeholder="Write a message"></input>
      </md-input-container>
      <md-button type="submit">SEND</md-button>
    </form>
  </div>

  <!-- Left Column displaying list of all Requests -->
  <md-content flex class="requests-list" flex-order="1" md-whiteframe="1">
    <md-progress-linear ng-if="requests.loadingList" md-mode="query"></md-progress-linear>
    <div layout="column" layout-align="center center" layout-fill>
      <p class="center-text" ng-if="requests.requests.length == 0">As soon as you've made or got requests, they'll show up here</p>
    </div>
    <md-list md-no-ink ng-if="requests.requests != []">
          <div ng-repeat="request in requests.requests | orderBy: '-updated_at'">
            <md-list-item class="md-3-line" ng-click="requests.loadRequest(request.id)">
              <img ng-src="{{requests.profilePicture(request)}}" class="md-avatar" alt="{{item.who}}" />
              <div class="md-list-item-text" layout="column">
                <h3>{{request.ride.name}}</h3>
                <h4>{{request.timespan}}</h4>
              </div>
            </md-list-item>
            <md-divider ></md-divider>
          </div>
    </md-list>
  </md-content>

</div>