<!-- to avoid scrolling the content -->
<md-content class="content" flex layout="row" layout-fill>
  <md-tabs flex md-no-ink md-no-ink-bars md-center-tabs="true" md-selected="requests.selectedTab">

    <!-- requests: as a rider -->
    <md-tab label="As Rider">
      <!-- both columns be in same row -->
      <div flex layout="row" layout-fill class="lnr-tab-content-no-scroll">
        <!-- Right Column displaying actual Chat -->
        <div flex-gt-sm="75" flex-sm="70" flex-order="2" layout="column" hide-xs>
          <md-progress-linear class="md-accent" ng-if="requests.loadingChat" md-mode="query"></md-progress-linear>
          <div scroll-glue="requests.riderRequest.glued" class="chat" flex="90">
            <message ng-repeat="message in requests.riderRequest.messages" content="message.content" sender="message.sender" status="message.status"
              request="requests.riderRequest" confirm-booking="requests.confirmBooking('riderRequest')" show-rating-dialog="requests.showRatingDialog()"></message>
          </div>
          <form class="lnr-message-form" ng-submit="requests.sendMessage('riderRequest')" layout="row" layout-padding ng-if="requests.riderRequest.messages">
            <md-input-container class="ap-chat" flex md-no-float>
              <input ng-model="requests.message" placeholder="{{ 'requests.write-message' | translate }}"></input>
            </md-input-container>
            <md-input-container layout="row" hide-xs flex-gt-sm="20" flex="30">
              <md-button flex class="md-raised md-primary lnr-no-margin" type="submit">{{ 'shared.send' | translate }}</md-button>
            </md-input-container>
          </form>
        </div>
        <!-- Left Column displaying list of all Requests -->
        <!-- showing only as a rider -->
        <md-content flex class="requests-list" flex-order="1">
          <md-progress-linear class="md-accent" ng-if="requests.loadingList" md-mode="query"></md-progress-linear>
          <div layout="column" layout-align="center center" layout-fill ng-if="!requests.loadingList && requests.riderRequests.length == 0">
            <p class="lnr-center">{{ 'requests.no-requests-yet' | translate }}</p>
          </div>
          <md-list class="lnr-no-padding" md-no-ink ng-if="requests.riderRequests != []">
            <div ng-repeat="request in requests.riderRequests | orderBy: '-updated_at'">
              <md-list-item class="md-2-line" ng-click="requests.loadRequest(request.id, request.user.id)">
                <img ng-src="{{requests.profilePicture(request)}}" class="md-avatar" alt="{{item.who}}" />
                <div class="md-list-item-text" layout="column">
                  <h4 ng-if="request.last_message.is_read">{{request.ride.name}}</h4>
                  <p ng-if="request.last_message.is_read">{{request.timespan}}</p>
                  <h4 ng-if="!request.last_message.is_read" class="lnr-bold">{{request.ride.name}}</h4>
                  <p ng-if="!request.last_message.is_read" class="lnr-bold">{{request.timespan}}</p>
                </div>
              </md-list-item>
              <md-divider md-insets ng-if="!$lasts"></md-divider>
            </div>
          </md-list>
        </md-content>
      </div>
    </md-tab>

    <!-- requests: as a lister -->
    <md-tab label="As Lister">
      <!-- both columns be in same row -->
      <div flex layout="row" layout-fill class="lnr-tab-content-no-scroll">
        <!-- Right Column displaying actual Chat -->
        <div flex-gt-sm="75" flex-sm="70" flex-order="2" layout="column" hide-xs>
          <md-progress-linear class="md-accent" ng-if="requests.loadingChat" md-mode="query"></md-progress-linear>
          <div scroll-glue="requests.listerRequest.glued" class="chat" flex="90">
            <message ng-repeat="message in requests.listerRequest.messages" content="message.content" sender="message.sender" status="message.status"
              request="requests.listerRequest" confirm-booking="requests.confirmBooking('listerRequest')" show-rating-dialog="requests.showRatingDialog()"></message>
          </div>
          <form class="lnr-message-form" ng-submit="requests.sendMessage('listerRequest')" layout="row" layout-padding ng-if="requests.listerRequest.messages">
            <md-input-container class="ap-chat" flex md-no-float>
              <input ng-model="requests.message" placeholder="{{ 'requests.write-message' | translate }}"></input>
            </md-input-container>
            <md-input-container layout="row" hide-xs flex-gt-sm="20" flex="30">
              <md-button flex class="md-raised md-primary lnr-no-margin" type="submit">{{ 'shared.send' | translate }}</md-button>
            </md-input-container>
          </form>
        </div>
        <!-- Left Column displaying list of all Requests -->
        <md-content flex class="requests-list" flex-order="1">
          <md-progress-linear class="md-accent" ng-if="requests.loadingList" md-mode="query"></md-progress-linear>
          <div layout="column" layout-align="center center" layout-fill ng-if="!requests.loadingList && requests.listerRequests.length == 0">
            <p class="lnr-center">{{ 'requests.no-requests-yet' | translate }}</p>
          </div>
          <md-list class="lnr-no-padding" md-no-ink ng-if="requests.listerRequests != []">
            <div ng-repeat="request in requests.listerRequests | orderBy: '-updated_at'">
              <md-list-item class="md-2-line" ng-click="requests.loadRequest(request.id, request.user.id)">
                <img ng-src="{{requests.profilePicture(request)}}" class="md-avatar" alt="{{item.who}}" />
                <div class="md-list-item-text" layout="column">
                  <h4 ng-if="request.last_message.is_read">{{request.ride.name}}</h4>
                  <p ng-if="request.last_message.is_read">{{request.timespan}}</p>
                  <h4 ng-if="!request.last_message.is_read" class="lnr-bold">{{request.ride.name}}</h4>
                  <p ng-if="!request.last_message.is_read" class="lnr-bold">{{request.timespan}}</p>
                </div>
              </md-list-item>
              <md-divider md-insets ng-if="!$lasts"></md-divider>
            </div>
          </md-list>
        </md-content>
      </div>
    </md-tab>
  </md-tabs>
</md-content>