<md-progress-linear class="md-accent" ng-if="!user.loaded" md-mode="query"></md-progress-linear>
<md-content class="single-column" ng-if="user.loaded">
  <div class="content">

    <div class="lnr-margin-lrg" layout-xs="column" layout="row" layout-padding>
      <div flex-gt-xs="70" layout="row">
        <img class="lnr-profile-lrg" ng-src="{{user.user.profile_picture.profile_picture.url}}">
        <div layout="column" layout-align="center start" layout-padding>
          <h1 class="md-headline">{{user.user.first_name}} {{user.user.last_name}}</h1>
          <input-stars class="lnr-user-rating rating" max="5" ng-model="user.rating" readonly></input-stars>
          <span class="md-body-1">{{user.user.city}}, {{user.user.country}}</span>
        </div>
      </div>

      <md-divider hide-xs></md-divider>

      <div flex-gt-xs="30" flex-offset="5" layout="column" layout-align="center start" layout-padding>
        <h3 class="md-subhead">{{ 'user.verified-through' | translate }}</h3>
        <span class="md-body-1">
          <md-icon class="lnr-icn-sm lnr-margin-right" 
          md-svg-src="app/assets/ui_icons/icn_verified.svg"
          ng-class="user.user.confirmed_phone ? 'md-color-primary' : 'md-color-disabled'"></md-icon> 
          <md-tooltip ng-if="user.user.confirmed_phone" md-direction="left">{{ 'user.verified' | translate }}</md-tooltip>
          {{ 'shared.phone-number' | translate }}
        </span>
        <span class="md-body-1">
          <md-icon class="lnr-icn-sm lnr-margin-right"
          md-svg-src="app/assets/ui_icons/icn_verified.svg"
          ng-class="user.user.status > 0 ? 'md-color-primary' : 'md-color-disabled'"></md-icon>
          <md-tooltip ng-if="user.user.status > 0" md-direction="left">{{ 'user.verified' | translate }}</md-tooltip>
          {{ 'forms.email-address' | translate }}
        </span>
        <span class="md-body-1">
          <md-icon class="lnr-icn-sm lnr-margin-right"
          md-svg-src="app/assets/ui_icons/icn_verified.svg"
          ng-class="user.user.current_payment_method? 'md-color-primary' : 'md-color-disabled'"></md-icon>
          <md-tooltip ng-if="user.user.current_payment_method" md-direction="left">{{ 'user.verified' | translate }}</md-tooltip>
          {{ 'settings.payment-method' | translate }}
        </span>
      </div>
    </div>

    <md-divider></md-divider>

    <div layout="column" flex="90" layout-padding>
      <!-- description -->
      <div layout="row" layout-xs="column">
        <div flex-gt-xs="25">
          <h3 class="md-body-2">{{ 'forms.description' | translate }}</h3>
        </div>
        <div flex-gt-xs>
          <p class="md-body-1 lnr-margin-left">{{user.user.description}}</p>
        </div>
      </div>
      <!-- end description -->

      <!-- listings -->
      <div layout="row" layout-xs="column">
        <div flex-gt-xs="25">
          <h3 class="md-body-2">{{ 'user.own-bikes' | translate }}</h3>
        </div>
        <div flex-gt-xs layout="row" layout-wrap layout-padding>
          <bike-card ng-repeat="bike in user.user.rides" bike="bike" flex="100" flex-gt-xs="50" flex-gt-sm="50"></bike-card>
        </div>
      </div>
      <!-- end listings -->

      <!-- reviews -->
      <div layout="row" layout-xs="column">
        <div flex-gt-xs="25">
          <h3 class="md-body-2">{{ 'user.ratings' | translate }}</h3>
        </div>

        <div flex-gt-xs>
          <div layout="column">
            <rating ng-repeat="rating in user.user.ratings" data="rating"></rating>
          </div>
        </div>
      </div>
      <!-- end reviews -->
    </div>

  </div>

  <footer></footer>
</md-content>