<md-content id="footer" class="md-scroll-shrink" md-theme="lnr-dark">
  <div class="content" layout="column">
    <div layout="row" layout-xs="column" layout-padding>

      <div layout="column" layout-align="center start" flex="25" flex-sm="20" hide-sm hide-xs>
        <div>
          <md-icon class="lnr-icn-xlrg md-color-white" md-svg-src="app/assets/ui_icons/lnr_logo_full.svg">
        </div>
      </div>

      <div layout="row" layout-xs="column" layout-align="space-between start" flex>
        <div layout="column">
          <md-list>
            <md-subheader class="md-no-sticky">{{ 'shared.top-cities' | translate }}</md-subheader>
            <md-list-item class="md-body-1"><a class="lnr-link" ui-sref="search({ location: 'Berlin' })" >{{ 'shared.berlin' | translate }}</a></md-list-item>
            <md-list-item class="md-body-1"><a class="lnr-link" ui-sref="search({ location: 'Munich' })">{{ 'shared.munich' | translate }}</a></md-list-item>
            <md-list-item class="md-body-1"><a class="lnr-link" ui-sref="search({ location: 'Amsterdam' })">{{ 'shared.amsterdam' | translate }}</a></md-list-item>
            <md-list-item class="md-body-1"><a class="lnr-link" ui-sref="search({ location: 'Vienna' })">{{ 'shared.vienna' | translate }}</a></md-list-item>
          </md-list>
        </div>

        <div layout="column">
          <md-list>
            <md-subheader class="md-no-sticky">{{ 'shared.learn-more' | translate }}</md-subheader>
            <md-list-item class="md-body-1"><a class="lnr-link" ui-sref="howItWorks" analytics-on analytics-category="bottomnav link" analytics-event="click" analytics-label="{{ 'shared.how-it-works' | translate }}">{{ 'shared.how-it-works' | translate }}</a></md-list-item>
            <md-list-item class="md-body-1"><a class="lnr-link" ui-sref="rentingABike" analytics-on analytics-category="bottomnav link" analytics-event="click" analytics-label="{{ 'shared.renting-a-bike' | translate }}">{{ 'shared.renting-a-bike' | translate }}</a></md-list-item>
            <md-list-item class="md-body-1"><a class="lnr-link" ui-sref="listingABike" analytics-on analytics-category="bottomnav link" analytics-event="click" analytics-label="{{ 'shared.listing-a-bike' | translate }}">{{ 'shared.listing-a-bike' | translate }}</a></md-list-item>
            <md-list-item class="md-body-1"><a class="lnr-link" ui-sref="trustAndSafety" analytics-on analytics-category="bottomnav link" analytics-event="click" analytics-label="{{ 'shared.trust-and-safety' | translate }}">{{ 'shared.trust-and-safety' | translate }}</a></md-list-item>
            <md-list-item class="md-body-1"><a class="lnr-link" href="http://journal.listnride.com" target="_blank">{{ 'shared.journal' | translate }}</a></md-list-item>
          </md-list>
        </div>

        <div layout="column">
          <md-list>
            <md-subheader class="md-no-sticky">listnride</md-subheader>
            <md-list-item class="md-body-1"><a class="lnr-link" ui-sref="about" analytics-on analytics-category="bottomnav link" analytics-event="click" analytics-label="about">{{ 'footer.about' | translate }}</a></md-list-item>
            <md-list-item class="md-body-1"><a class="lnr-link" ui-sref="press" analytics-on analytics-category="bottomnav link" analytics-event="click" analytics-label="press">{{ 'footer.press' | translate }}</a></md-list-item>
            <md-list-item class="md-body-1"><a class="lnr-link" ui-sref="jobs-list" analytics-on analytics-category="bottomnav link" analytics-event="click" analytics-label="jobs">{{ 'footer.jobs' | translate }}</a></md-list-item>
            <md-list-item class="md-body-1"><a class="lnr-link" ui-sref="help" analytics-on analytics-category="bottomnav link" analytics-event="click" analytics-label="contact & support">{{ 'shared.contact' | translate }}</a></md-list-item>
          </md-list>
        </div>

        <div layout="column">
          <md-list>
            <md-subheader class="md-no-sticky">{{ 'footer.legal' | translate }}</md-subheader>
            <md-list-item class="md-body-1"><a class="lnr-link" ui-sref="terms" analytics-on analytics-category="bottomnav link" analytics-event="click" analytics-label="terms">{{ 'footer.terms-and-conditions' | translate }}</a></md-list-item>
            <md-list-item class="md-body-1"><a class="lnr-link" ui-sref="privacy" analytics-on analytics-category="bottomnav link" analytics-event="click" analytics-label="privacy">{{ 'footer.privacy-statement' | translate }}</a></md-list-item>
            <md-list-item class="md-body-1"><a class="lnr-link" ui-sref="imprint" analytics-on analytics-category="bottomnav link" analytics-event="click" analytics-label="imprint">{{ 'footer.imprint' | translate }}</a></md-list-item>
          </md-list>
        </div>

        <div layout="column">
          <md-list>
            <md-subheader class="md-no-sticky">{{ 'footer.language' | translate }}</md-subheader>
            <md-menu md-position-mode="target bottom">
              <md-button class="lnr-btn-lang md-lined md-right-arrow" md-no-ink ng-click="$mdOpenMenu($event)">{{ footer.language }}</md-button>
              <md-menu-content width="2">
                <md-menu-item>
                  <md-button md-no-ink ng-click="footer.switchLanguage('de')" analytics-on analytics-category="language " analytics-event="click" analytics-label="de">Deutsch</md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button md-no-ink ng-click="footer.switchLanguage('en')" analytics-on analytics-category="language " analytics-event="click" analytics-label="en">English</md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button md-no-ink ng-click="footer.switchLanguage('nl')" analytics-on analytics-category="language " analytics-event="click" analytics-label="nl">Nederlands</md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>

            <div id="iOSApp" class="lnr-link lnr-btn-ios">
              <a href="https://itunes.apple.com/de/app/list-n-ride/id992114091?l" target="_blank">
                <img src="app/assets/ui_images/app_store.png">
              </a>
            </div>
          </md-list>
        </div>

      </div>
    </div>

    <md-divider></md-divider>

    <div layout="row" layout-align="space-between center" layout-padding>
      <div>© 2016 List and Ride GmbH. <a class="lnr-link lnr-underline" ui-sref="imprint" analytics-on analytics-category="bottomnav link" analytics-event="click" analytics-label="imprint">{{ 'footer.imprint' | translate }}</a></div>
      <div layout="row" layout-align="space-between stretch" layout-padding>
        <a class="lnr-link" href="https://www.facebook.com/listnride" target="_blank">
          <md-icon class="lnr-icn-md md-color-white" md-svg-src="app/assets/ui_icons/icn_facebook.svg"></md-icon>
        </a>
        <a class="lnr-link" href="https://instagram.com/listnride" target="_blank">
          <md-icon class="lnr-icn-md md-color-white" md-svg-src="app/assets/ui_icons/icn_instagram.svg"></md-icon>
        </a>
      </div>
    </div>

  </div>
</md-content>