<md-dialog class="lnr-user-modal">

  <form ng-cloak name="signupForm" ng-submit="signupDialog.signup(signupForm)" novalidate>

    <div show-xs>
      <div class="md-toolbar-tools" layout-align="center center">
        <md-button class="md-icon-button">
          <md-icon></md-icon>
        </md-button>
        <span flex></span>
        <h2>{{ 'forms.sign-up' | translate }}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="signupDialog.hide()" analytics-on analytics-category="button" analytics-event="clicked" analytics-label="close signup modal">
          <md-icon md-svg-src="app/assets/ui_icons/icn_close_24.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </div>

    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <md-button
          ng-hide="signupDialog.business"
          ng-click="signupDialog.connectFb()"
          class="md-primary md-lined lnr-btn-fb"
          analytics-on
          analytics-category="sign up"
          analytics-event="clicked"
          analytics-label="facebook login button"
        >
          {{ 'forms.sign-up-with-facebook' | translate }}
        </md-button>

        <div class="lnr-middle-divider" ng-hide="signupDialog.business">
          {{ 'forms.or' | translate }}
        </div>

        <div class="sign-up-tip" ng-hide="!signupDialog.business">
          Please fill form with company contact person information.
        </div>

        <md-input-container ng-hide="!signupDialog.business">
          <label ng-class="{'text-error': signupDialog.businessError}">{{ 'forms.company-name' | translate }}</label>
          <input
            name="company_name"
            ng-model="signupDialog.companyName"
            ng-minlength="2"
            ng-class="{'input-invalid': signupDialog.businessError}"
            ng-required='signupDialog.business'
          >
          <div ng-messages="signupForm.company_name.$error" role="alert">
            <div ng-message="required">Please enter your company name.</div>
            <div ng-message="minlength">Company name should be longer than 2 characters</div>
          </div>
        </md-input-container>

        <div class="lnr-input-containers" layout="row">
          <md-input-container flex>
            <label>{{ 'forms.first-name' | translate }}</label>
            <input
              name="first_name"
              ng-model="signupDialog.firstName"
              required
              ng-maxlength="20"
              ng-disabled="signupDialog.businessError"
            >
            <div ng-messages="signupForm.first_name.$error" role="alert">
              <div ng-message="required">Please enter your first name.</div>
              <div ng-message="maxlength">First name shouldn't be longer than 20 characters</div>
            </div>
          </md-input-container>

          <md-input-container flex>
            <label>{{ 'forms.last-name' | translate }}</label>
            <input
              name="last_name"
              ng-model="signupDialog.lastName"
              required
              ng-maxlength="30"
              ng-disabled="signupDialog.businessError"
            >
            <div ng-messages="signupForm.last_name.$error" role="alert">
              <div ng-message="required">Please enter your last name.</div>
              <div ng-message="maxlength">Last name shouldn't exceed 30 characters</div>
            </div>
          </md-input-container>
        </div>

        <md-input-container>
          <label>{{ 'forms.email-address' | translate }}</label>
          <input
            name="email"
            ng-model="signupDialog.email"
            type="email"
            required
            ng-pattern="/(?!^[.+&'_-]*@.*$)(^[_\w\d+&'-]+(\.[_\w\d+&'-]*)*@[\w\d-]+(\.[\w\d-]+)*\.(([\d]{1,3})|([\w]{2,}))$)/i"
            ng-disabled="signupDialog.businessError"
          >
          <div ng-messages="signupForm.email.$error" role="alert">
              <div ng-message="required">Please enter your email address.</div>
              <div ng-message="email">Please enter a valid email address</div>
              <div ng-message="pattern">Please enter a valid email address</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>{{ 'forms.password' | translate }}</label>
          <input
            name="password"
            ng-model="signupDialog.password"
            type="password"
            required
            ng-minlength="6"
            ng-disabled="signupDialog.businessError"
          >
          <div ng-messages="signupForm.password.$error" role="alert">
            <div ng-message="required">Please provide a password</div>
            <div ng-message="minlength">Password should be at least 6 characters</div>
          </div>
        </md-input-container>
        
        <div class="md-dialog-buttons" layout="column">
          <md-button type="submit" class="md-accent md-raised" ng-disabled="signupDialog.signingUp || signupForm.$invalid" analytics-on analytics-category="sign up" analytics-event="clicked " analytics-label="listnride login button">{{ 'forms.sign-up' | translate }}</md-button>
        </div>
        <div class="sign-up-links" flex layout="row" layout-align="space-around center">
          <a class="lnr-link" ng-click="signupDialog.showLogin()">Member already?</a>
          <a class="lnr-link" ng-click="signupDialog.setBusiness()">Business?</a>
        </div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
