<md-dialog class="lnr-user-modal">
  <form name="updatePasswordForm" ng-submit="updatePasswordDialog.update()">
    <div show-xs>
      <div class="md-toolbar-tools" layout-align="center center">
        <md-button class="md-icon-button">
          <md-icon></md-icon>
        </md-button>
        <span flex></span>
        <h2 class="md-headline">
          {{ 'forms.please-change-password' | translate }}
        </h2>
        <span flex></span>
      </div>
    </div>

    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <div layout="row" layout-align="space-between center" class="lnr-input-containers">
          <md-input-container flex>
            <label>
              {{ 'forms.new-password' | translate }}
            </label>
            <input
              ng-model="updatePasswordDialog.new_password"
              name="newPassword"
              required
              type="password"
              md-autofocus
              ng-minlength="6"
              ng-maxlength="30"
            />
            <div ng-messages="updatePasswordForm.new_password.$error" role="alert">
              <div ng-message="required">
                {{ 'forms.errors.password-missing' | translate }}
              </div>
              <div ng-message="maxlength">
                {{ 'forms.errors.password-length' | translate }}
              </div>
              <div ng-message="minlength">
                {{ 'forms.errors.password-length' | translate }}
              </div>
            </div>
          </md-input-container >

          <md-input-container flex>
          <label>{{ 'forms.confirm-password' | translate }}</label>
          <input
            type="password"
            ng-model="updatePasswordDialog.confirm_password"
            name="confirmPassword"
            required
            ng-minlength="6"
            ng-maxlength="30"
          />
          <div ng-messages="updatePasswordForm.confirm_password.$error" role="alert">
            <div ng-message="required">
              {{ 'forms.errors.password-missing' | translate }}
            </div>
            <div ng-message="maxlength">
              {{ 'forms.errors.password-length' | translate }}
            </div>
            <div ng-message="minlength">
              {{ 'forms.errors.password-length' | translate }}
            </div>
          </div>
        </md-input-container>
        </div>

        <div class="md-dialog-buttons" layout="row" layout-align="center center">
          <md-button
            type="submit"
            class="md-primary md-raised"
            ng-disabled="updatePasswordForm.$invalid"
          >
            {{ 'forms.save-new-password' | translate }}
          </md-button>
        </div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
