/* Temporary code for a sticky header */
.header {
  position: fixed !important;
  top: 0px !important;
  width: 100%;
  z-index: 3;
}

html {
  background-color: #FFFFFF;
  min-width: 320px;
}

.preload {
  background-color: #EEEEEE;
}

.lnr-header {
  height: 60px !important;
}

.container {
  margin: 60px 0 0 0;
}

.single-column {
  position: absolute;
  width: 100%;
  height: 100%;
}

ui-view {
  position: relative;
}

/* This has to be set for all full-height layouts */
requests, search {
  position: absolute;
  height: 100%;
  width: 100%;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  background-position: 50% 50%;
  background-size: cover;
}

.profile-picture-big {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  /*background-position: 50% 50%;*/
  background-size: cover;
}

.profile-picture-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  min-width: 40px !important;
  max-width: 40px !important;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  padding: 0px !important!;
}

.content {
  max-width: 970px;
  margin: 0 auto;
}

.dialog-content {
  margin: 10px;
}

/* Add possibility to have centered toasts */
md-toast.md-center {
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

.md-input-container-compact {
  margin: 0.5em 0;
}

p {
  margin: 0.5em 0;
}

p.center-text {
  text-align: center;
}

#hero-shot {
  height: 60vh;
  background-size: cover;
  background-position: 50% 50%;
}

#hero-shot-overlay {
  max-width: 970px;
  margin: 0 auto;
}

@media (max-width: 599px) {
  bike #hero-shot {
    height: 45vh;
  }
}

bike #calendar {
  width: 100%;
  height: 100px;
  display: block;
}

bike .lister-image {
  height: 80px;
  width: 80px;
  background-size: cover;
  margin: 1em 1em 1em 0;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
}

bike .angular-google-map,
bike .angular-google-map-container {
  height: 300px;
  margin: 1em 0 0 0;
}

bike .accessory-icon {
  margin: 1em 1em 1em 0;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

bike .lock {
  background: url("../ui_images/icn_itm_lock.png") no-repeat;
  background-size: 40px 40px;
}

bike .helmet {
  background: url("../ui_images/icn_itm_helmet.png") no-repeat;
  background-size: 40px 40px;
}

bike .light {
  background: url("../ui_images/icn_itm_light.png") no-repeat;
  background-size: 40px 40px;
}

bike .basket {
  background: url("../ui_images/icn_itm_basket.png") no-repeat;
  background-size: 40px 40px;
}

bike .trailer {
  background: url("../ui_images/icn_itm_trailer.png") no-repeat;
  background-size: 40px 40px;
}

bike .childseat {
  background: url("../ui_images/icn_itm_childseat.png") no-repeat;
  background-size: 40px 40px;
}

requests .requests-list {
  background-color: #ffffff;
}

requests .subheader {
  background-color: #ffffff;
  height: 100px;
}

.chat {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: #efefef;
}

message .sent-message {
  background-color: #ffffff;
}

message .received-message {
  background-color: #ffffff;  
}

message .status-message {
  background-color: #ffffff;
}

@media (max-width: 599px) {
  md-dialog.md-dialog-fullscreen {
    min-height: 100%;
    min-width: 100%;
    border-radius: 0;
  }
  home #landing_section {
    height: 60vh;
  }
}

@media (min-width: 600px) {
  md-dialog.md-dialog-fullscreen {
    min-width: 400px !important;
    min-height: 0 !important;
    border-radius: 3px;
  }
}

home h1, home h2 {
  text-align: center;
}

home #landing_section {
  background-image: url("../ui_images/landing.jpg");
  background-position: 15% 100%;
  background-size: cover;
  height: 70vh;
}

home form {
  min-width: 315px;
  max-width: 400px !important;
  width: 70%;
}

home #searchBox {
  width: 300px;
}

home .section {
  margin-top: 64px;
}

home #listBike {
  height: 300px;
  background-size: cover;
  background-position: 15% 100%;
  background-image: url("../ui_images/landing.jpg");
}

home md-grid-list {
  margin: 8px;
}

home md-grid-list md-grid-tile {
  cursor: pointer;
  background-size: cover;
  color: white;
}

home md-grid-list md-grid-tile.tile1 {
  background-image: url("../ui_images/munich.jpg");
}

home md-grid-list md-grid-tile.tile2 {
  background-image: url("../ui_images/berlin.jpg");
  background-position: 45%;
}

home md-grid-list md-grid-tile.tile3 {
  background-image: url("../ui_images/amsterdam.jpg");
  background-position: 47%;
}

home md-grid-list md-grid-tile.tile4 {
  background-image: url("../ui_images/vienna.jpg");
}

footer,
footer .md-subheader.md-default-theme, .md-subheader {
  background-color: rgb(225, 225, 225);
}

footer md-list-item, footer md-list-item::before {
  min-height: 25px;
}

search ng-map {
  height: 100% !important;
}

search .map-column {
  height: 35%;
}

@media (min-width: 599px) {
  search .map-column {
    height: 100%;
  }
}

search #searchBox {
  width: 200px;
}

search ng-map md-card {
  max-width: 200px;
  margin: 0;
}
search ng-map .gm-style-iw {
  width: 200px !important;
}

bike-card md-card {
  cursor: pointer;
}

autocomplete #autocompleteSearch {
  width: 100%;
}

list md-tabs,
edit md-tabs {
  padding: 0 !important;
  width: 100%;
}

list md-tabs md-input-container,
edit md-tabs md-input-container {
  margin: 8px 0;
}

list md-tabs .col1,
edit md-tabs .col1 {
  min-height: 370px;
}

list md-tabs .img-preview,
edit md-tabs .img-preview {
  height: 100px;
  width: 150px;
  background-position: center;
  background-size: cover;
}

listings #myBikes {
  min-height: 350px;
  width: 100%;
}

listings #myBikes img {
  flex: 0 0 auto;
  cursor: pointer;
  width: 100%;
  height: auto;
  margin: 0;
}

listings #myBikes md-divider {
  margin: 0px 8px !important;
}

listings #myBikes .bike-actions .md-button {
  min-height: 25px;
  line-height: 25px;
}

listings #myBikes .bike-profile {
  background-color: white;
}

listings #myBikes .bike-profile.unavailable {
  background-color: rgb(245,245,245);
}