// #5FC693: primary color
// 4px    : border radius
// Added to material
// md-lined, md-right-arrow, md-input-container-compact

/*-----------------------------------------------------------------------------------*/
/* GENERAL
/*-----------------------------------------------------------------------------------*/

html {
  background-color: #FFFFFF;
  min-width: 320px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.34rem 0;
}

* {
  outline: 0;
}

strong {
  font-weight: 500;
}

.content {
  max-width: 1040px;
  margin: 0 auto;
}

.lnr-capitalize {
  text-transform: capitalize;
}

.lnr-center {
  text-align: center;
}

.lnr-white {
  color: #fff;
}

.lnr-margin-right {
  margin-right: 10px;
}

.lnr-link {
  cursor: pointer;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}

.lnr-link:hover,
.lnr-link:active {
  opacity: 0.6;
}

.lnr-middle-divider {
  display: inline-block;
  overflow: hidden;
  text-align: center;
  margin: 24px 0;
}

.lnr-middle-divider:before,
.lnr-middle-divider:after {
  background-color: rgba(206,212,216,1.0);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.lnr-middle-divider:before {
  right: 0.5em;
  margin-left: -50%;
}

.lnr-middle-divider:after {
  left: 0.5em;
  margin-right: -50%;
}

/* This has to be set for all full-height layouts */
ui-view {
  position: relative;
}

.single-column, requests, search {
  position: absolute;
  height: 100%;
  width: 100%;
}

.center-text {
  text-align: center;
}

.preload {
  background-color: #EEEEEE;
}

/*-----------------------------------------------------------------------------------*/
/* NAVBAR
/*-----------------------------------------------------------------------------------*/

.lnr-header {
  width: 100%;
  height: 60px;
  z-index: 3;
}

.lnr-header .md-toolbar-tools .lnr-header-logo {
  padding: 0;
}

.lnr-header .lnr-header-logo md-icon {
  width: 90px;
}

.lnr-header .md-lined {
  border-color: #ffffff;
}

.lnr-header .lnr-nav-menu .md-button {
  margin: 0 12px;
}

.lnr-header .lnr-nav-menu .md-button:not(.md-lined):not(.md-img) {
  padding: 12px 0;
}

.lnr-header .lnr-nav-menu .md-button.md-right-arrow {
  padding-right: 20px;
}

.lnr-header .lnr-nav-menu .md-button.md-img {
  padding: 0;
}

.lnr-header .lnr-nav-menu .md-img img {
  width: 37px;
  height: 37px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}


/*-----------------------------------------------------------------------------------*/
/* FRAMEWORK
/*-----------------------------------------------------------------------------------*/


.lnr-btn-fb {
  // border-color: #7ab2f8!important;
  border-color: #3b5998!important;
  background:  #3b5998!important;
  color: #fff!important;
}

/*-----------------------------------------------------------------------------------*/
/* USER MODALS
/*-----------------------------------------------------------------------------------*/

.lnr-user-modal {
  width: 450px;
}

.lnr-user-modal .md-button {
  margin: 0;
}

.lnr-user-modal .md-dialog-content {
  padding: 25px 30px;
  padding-top: 10px;
}

.md-input-container-compact {
  margin: -5px 0;
}

.lnr-input-containers .md-input-container,
.lnr-input-containers .md-input-container-compact {
  margin: 0 5px;
}

.lnr-input-containers .md-input-container:first-child,
.lnr-input-containers .md-input-container-compact:first-child {
  margin-left: 0;
}

.lnr-input-containers .md-input-container:last-child,
.lnr-input-containers .md-input-container-compact:last-child {
  margin-right: 0;
}


/*-----------------------------------------------------------------------------------*/
/* FOOTER
/*-----------------------------------------------------------------------------------*/

footer md-list-item,
footer md-list-item:before {
  min-height: 24px;
}

.lnr-btn-ios img {
  height: auto;
  width: 154px;
  padding: 0;
}

.lnr-btn-lang {
  width: 154px;
  text-align: left;
  padding-left: 14px;
}

/*-----------------------------------------------------------------------------------*/
/* SVG
/*-----------------------------------------------------------------------------------*/

.lnr-icn-sm {
  width: 24px;
  height: 24px;
}

.lnr-icn-md {
  width: 34px;
  height: 34px;
}

.lnr-icn-lrg {
  width: 48px;
  height: 48px;
}

.lnr-icn-mlrg {
  width: 58px;
  height: 58px;
}

.lnr-icn-xlrg {
  width: 120px;
  height: 120px;
}


/*-----------------------------------------------------------------------------------*/
/* HOME
/*-----------------------------------------------------------------------------------*/

home #landing-section {
  background: url(../ui_images/lnr_hero.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 78vh;
  overflow: visible;
}

.lnr-search-bar {
  width: 52%;
  max-width: 720px;
  margin-bottom: -30px;
  border-radius: 4px;
  overflow: hidden;
}

.lnr-search-bar label {
  display: none;
}

.lnr-search-bar autocomplete,
.lnr-search-bar input  {
  width: 100%;
  height: 60px;
  background: #fff;
  border: none;
  outline: none;
}

.lnr-search-bar input {
  padding: 0 16px;
}

.lnr-search-bar .md-button {
  margin: 0;
  border-radius: 0 4px 4px 0;
}

.lnr-section-title {
  margin-bottom: 24px;
}

home .section {
  margin-top: 90px;
}

home #listBike {
  height: 320px;
  padding: 24px 0;
  background-size: cover;
  background-position: 15% 40%;
  background-image: url(../ui_images/lnr_listabike.jpg);
}

home md-grid-list md-grid-tile {
  border-radius: 4px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50%;
  cursor: pointer;
}

home md-grid-list md-grid-tile.tile1 {
  background-image: url(../ui_images/lnr_munich.jpg);
}

home md-grid-list md-grid-tile.tile2 {
  background-image: url(../ui_images/lnr_london.jpg);
}

home md-grid-list md-grid-tile.tile3 {
  background-image: url(../ui_images/lnr_berlin.jpg);
}

home md-grid-list md-grid-tile.tile4 {
  background-image: url(../ui_images/lnr_dublin.jpg);
}

@media (max-width: 599px) {
  md-dialog.md-dialog-fullscreen {
    min-height: 100%;
    min-width: 100%;
    border-radius: 0;
  }

  home #landing-section {
    height: 60vh;
  }

  .lnr-search-bar {
    width: 90%
  }

  home md-grid-list md-grid-tile {
    border-radius: 0;
  }
}

@media (min-width: 600px) {
  md-dialog.md-dialog-fullscreen {
    min-width: 400px !important;
    min-height: 0 !important;
    border-radius: 3px;
  }
}

/*-----------------------------------------------------------------------------------*/
/*  BIKE CARD
/*-----------------------------------------------------------------------------------*/

bike-card md-card {
  cursor: pointer;
}

search bike-card md-card {
  // margin: 0;
}

bike-card md-card-title-text {
  padding: 0 8px;
}

bike-card md-card-title-text span {
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/*-----------------------------------------------------------------------------------*/
/*  BIKE DETAILS
/*-----------------------------------------------------------------------------------*/

#hero-shot {
  height: 55vh;
  background-size: cover;
  background-position: 50% 50%;
}

#hero-shot-overlay {
  max-width: 970px;
  margin: 0 auto;
}

@media (max-width: 599px) {
  bike #hero-shot {
    height: 45vh;
  }
}

.lnr-accessories md-icon {
  margin-right: 10px;
}

bike #calendar {
  width: 100%;
  height: 100px;
  display: block;
}

bike .lister-image {
  height: 70px;
  width: 70px;
  background-size: cover;
  margin: 1em 1em 1em 0;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
}

bike .accessory-icon {
  margin: 1em 1em 1em 0;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

bike .date-picker-wrapper {
  background: transparent;
  border: none;
}

bike .date-picker-wrapper .month-wrapper table {
  width: 100%;
}

bike .date-picker-wrapper .month-wrapper table .day.real-today {
  border-radius: 2px;
  background-color: #eee;
}

bike .date-picker-wrapper .month-wrapper table .day {
  padding: 8px 0;
}

/* Add possibility to have centered toasts */
md-toast.md-center {
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

requests .requests-list {
  background-color: #ffffff;
}

requests .subheader {
  background-color: #ffffff;
  height: 100px;
}

.chat {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: #efefef;
}

message .sent-message {
  background-color: #ffffff;
}

message .received-message {
  background-color: #ffffff;  
}

message .status-message {
  background-color: #ffffff;
}

search ng-map {
  height: 100% !important;
}

search .map-column {
  height: 35%;
}

@media (min-width: 599px) {
  search .map-column {
    height: 100%;
  }
}

search #searchBox {
  width: 200px;
}

search ng-map md-card {
  max-width: 200px;
  margin: 0;
}

search ng-map .gm-style-iw {
  width: 200px !important;
}

list md-tabs,
edit md-tabs {
  padding: 0 !important;
  width: 100%;
}

list md-tabs md-input-container,
edit md-tabs md-input-container {
  margin: 8px 0;
}

list md-tabs .col1,
edit md-tabs .col1 {
  min-height: 370px;
}

list md-tabs .img-preview,
edit md-tabs .img-preview {
  height: 100px;
  width: 150px;
  background-position: center;
  background-size: cover;
}

list md-tabs .md-whiteframe-1dp {
  background-color: white;
}

listings #myBikes {
  min-height: 350px;
  width: 100%;
}

listings #myBikes img {
  flex: 0 0 auto;
  cursor: pointer;
  width: 100%;
  height: auto;
  margin: 0;
}

listings #myBikes md-divider {
  margin: 0px 8px !important;
}

listings #myBikes .bike-actions .md-button {
  min-height: 25px;
  line-height: 25px;
}

listings #myBikes .bike-profile {
  background-color: white;
}

listings #myBikes .bike-profile.unavailable {
  background-color: rgb(245,245,245);
}