
/*------------ GLOBAL SETTINGS ------------*/

html>body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif!important;
  -webkit-font-smoothing: antialiased;
}

.lnr-column-right {
  display: none;
}

@media (min-width: 480px) {
  .lnr-column-right {
    display: block;
  }
}

@media (min-width: 480px) {
  .lnr-column-left {
    border-right: 1px solid rgba(225, 230, 230, 1.0);
    padding-right: 14px;
    min-height: 410px;
  }
}

#lnr-tab-bar {
  border-bottom: 0px;
  padding-bottom: 15px;
}

.lnr-button-bar {
  padding: 0;
}

.lnr-button-cell {
  padding: 0 !important;
  margin: 0 !important;
}

.lnr-row-top {
  border-bottom: 1px solid rgba(225, 230, 230, 1.0);
  margin-bottom: 10px;
}

@media (min-width: 480px) {
  .lnr-row-top {
    display: none;
  }
}

.lnr-row-bot {
  border-top: 1px solid rgba(225, 230, 230, 1.0);
  margin-top: 15px;
}

@media (min-width: 480px) {
  .lnr-row-bot {
    display: none;
  }
}

.text-invalid {
  color: rgb(221, 44, 0);
}

/*------------- INFO --------------*/

form#user-info {
  margin-top: 2px;
}

/*---------------------------------*/




/*------------ PAYMENT ------------*/

#sp-payment.md-button {
  min-width: 0;
}

#sp-payment label {
  font-weight: 600;
  color: rgb(85, 85, 85);
}

#sp-payment .mdl-grid {
  padding: 0 !important;
}

#sp-payment-form .mdl-cell {
  margin: 0 !important;
}

.md-button.lnr-paypal {
  margin: 7px 0px;
  width: 100%;
  background-color: hsl(205, 65%, 56%);
}

.mdl-grid {
  max-width: 640px;
  padding: 0 8px;
}

.mdl-grid--buttons {
  margin: 6px 0;
}

.md-color-foreground {
  color: rgb(85, 85, 85) !important;
}

md-icon.lnr-icn-lrg {
  width: 48px;
  height: 48px;
}

md-icon>img {
  border: none !important;
}

.lnr-margin-left {
  margin-left: 8px;
}

div.lnr-introtext {
  padding: 40px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif !important;
}

a.lnr-links {
  color: rgb(95, 198, 147) !important;
}

.md-subhead {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 24px;
  font-family: 'Roboto', sans-serif !important;
}

.md-subhead-sm {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 24px;
  color: #584e4e;
  font-family: 'Roboto', sans-serif !important;
}

.md-title-sm {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.01em;
  line-height: 24px;
  color: #584e4e;
  font-family: 'Roboto', sans-serif !important;
}


/*------------ PAYMENT ------------*/

#sp-payment.md-button {
  min-width: 0;
}

.md-button.lnr-paypal {
  margin: 0px;
  width: 100%;
  background-color: hsl(205, 65%, 56%);
}

.md-button.lnr-mastercard {
  margin: 0px;
  width: 100%;
  background-color: #d0782c;
}


/*------------ LOGO & HEADER ------------*/

#lnr-header-logo.mdl-layout__header-row {
  height: 60px;
  margin: 0;
  padding: 0 40px 0 24px;
}

lnr-header-text {
  position: absolute;
  right: 0px;
  padding: 24px;
  font-size: 12px;
}


/*------------ LAYOUT ------------*/

.layout,
.layout-column,
.layout-row {
  box-sizing: border-box;
  display: flex;
}

.layout-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}

.layout-align-space-around,
.layout-align-space-around-center,
.layout-align-space-around-start,
.layout-align-space-around-end,
.layout-align-space-around-stretch {
  justify-content: space-around;
}

.layout-align-start-start,
.layout-align-center-start,
.layout-align-end-start,
.layout-align-space-between-start,
.layout-align-space-around-start {
  -webkit-box-align: start;
  align-items: flex-start;
  align-content: flex-start;
}

.layout-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0px;
}

.lnr-input-containers {
  box-sizing: border-box;
  color: rgb(85, 85, 85);
  display: flex;
  flex-direction: row;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  height: 75px;
  outline-color: rgb(85, 85, 85);
  outline-style: none;
  outline-width: 0px;
  font-weight: 600;
}

.lnr-input-containers md-input-container {
  box-sizing: border-box;
  color: rgb(85, 85, 85);
  display: block;
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  height: 65px;
  font-weight: 600;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 4px;
  min-width: 0px;
  outline-color: rgb(85, 85, 85);
  outline-style: none;
  outline-width: 0px;
  position: relative;
  -webkit-box-direction: normal;
  -webkit-box-flex: 1;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.lnr-input-containers md-input-container .md-input {
  border-color: rgba(206, 212, 216, 0.9);
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  order: 2;
  display: block;
  margin-top: 0;
  background: none;
  padding: 0 16px;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  line-height: 40px;
  height: 40px;
  -ms-flex-preferred-size: 40px;
  width: 100%;
  box-sizing: border-box;
  float: left;
}

container.md-input-invalid .md-input {
  border-color: rgb(221, 44, 0);
}

.lnr-input-containers md-input-container:first-child {
  margin-left: 0;
}

.lnr-input-containers md-input-container:last-child {
  margin-right: 0;
}

.md-dialog-buttons .md-button {
  margin-top: 16px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

#time-range .label {
  font-weight: 400;
}

.md-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  min-height: 40px;
  min-width: 114px;
  line-height: 40px;
  vertical-align: middle;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  border-color: #ffffff;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  border: 0;
  padding: 0 6px;
  margin: 6px 8px;
  background: transparent;
  color: currentColor;
  white-space: nowrap;
  font-weight: 500;
  font-size: 14px;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.md-button.md-lrg {
  min-width: 200px;
}

.md-button {
  color: rgba(255, 255, 255, 0.95);
  background-color: rgb(95, 198, 147);
}

.lnr-back-button.md-button {
  color: rgb(85, 85, 85);
  border: 1px solid rgb(220, 220, 220);
  background-color: rgba(255, 255, 255, 0.95);
}

.lnr-tab-content {
  /*padding: 0 12px;*/
  padding: 0;
}

@media (min-width: 460px) {
  .lnr-tab-content {
    min-height: 460px;
    /*padding: 12px;*/
    padding: 0;
  }
}

lnr-horizontal-divider {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #e0e0e0;
}

lnr-vertical-divider {
  display: block;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(225, 230, 230, 1.0);
  margin: 16px 0px;
  padding: 0;
}

.mdl-list__item .mdl-list__item-primary-content {
  min-height: 8px;
  height: 8px;
}

.wizard-nav-button {
  padding: 0;
}

#lnr-header.mdl-layout__header {
  background-color: rgb(122, 178, 248);
}

.mdl-tabs__tab {
  text-transform: initial;
}

.lnr-list-sm>li {
  min-height: 40px !important;
  padding: 0px !important;
}


/*------------ DROPDOWN ------------*/

.lnr-dropdown-button {
  margin: 6px 0px;
  text-align: left;
  box-sizing: border-box;
  border-color: rgba(206, 212, 216, 0.9);
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 0 10px 0 16px;
  width: 100%;
  height: 40px;
}

.lnr-dropdown-button:hover,
.lnr-dropdown-button:focus {
  background-color: white;
}

.dropdown-calendar {
  position: relative;
  display: inline-block;
}

.dropdown-payment {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 120px;
  z-index: 90;
  border-color: rgba(206, 212, 216, 0.9);
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  max-height: 220px;
  min-height: 38px;
  top: 0px;
  overflow-y: scroll;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


/*------------ DATE SELECTION ------------*/

#bike-calendar-loader {
  padding: 42% 45%;
}

#bike-calendar {
  margin: 6px 6px;
}

.date-picker-wrapper {
  font-size: 12px !important;
  width: 100%;
}

.lnr-date-selector {
padding: 12px 16px;
}

.lnr-date-selector:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}

/*----------------- MDL Styles -------------*/

.mdl-button:hover {
  background-color: inherit !important;
}

.mdl-button[disabled][disabled], .mdl-button.mdl-button--disabled.mdl-button--disabled {
  color: rgb(255, 255, 255);
  border-color: rgba(225,230,230,1.0);
  background-color: rgba(206,212,216,0.9);
  cursor: not-allowed;
}
.mdl-button[disabled][disabled]:hover, .mdl-button.mdl-button--disabled.mdl-button--disabled {
  background-color: rgba(206,212,216,0.9) !important;
}

.mdl-textfield {
  padding: 0 !important;
}