<div flex layout="row" layout-xs="column" layout-fill>

  <div flex-xs="100" flex-gt-xs="70" flex-order-xs="2" layout="column">
    <div layout="column">
      <filter bikes="search.filteredBikes" initial-bikes="search.bikes" initial-values="search.initialValues" update-state="search.updateState"></filter>
    </div>

    <md-divider></md-divider>

    <md-content flex layout="column">

      <!-- city name for shown bikes -->
      <div layout="row" flex="500">
        <span flex></span>
        <div flex="30">
          <bike-sorter bikes="search.filteredBikes" categorized-bikes="search.categorizedFilteredBikes" titles="search.titles" location="search.latLng"></bike-sorter>
        </div>
      </div>

      <!-- no bikes found placeholder -->
      <div ng-if="search.bikes !== undefined && search.bikes.length == 0" layout="row" layout-align="center center" layout-padding>
        <span>{{ 'search.no-bikes' | translate }}</span>
      </div>

      <!-- bikes grid -->
      <!-- mobile:        1 bike each row -->
      <!-- tablet:        2 bikes each row -->
      <!-- desktop:       3 bikes each row -->
      <!-- larger screen: 4 bikes each row -->
      <cardgrid
        ng-repeat="filterBikes in search.categorizedFilteredBikes" 
        bikes="filterBikes.bikes"
        title="{{filterBikes.title}}"
        on-bike-hover="search.onBikeHover">
      </cardgrid>
      <!-- busy loader until bikes api resolves -->
      <div ng-show="search.bikes === undefined" flex layout="column" layout-align="center center">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
    </md-content>
  </div>

  <div flex flex-order-xs="1" layout="column" class="map-column lnr-preload-bg" hide-xs>
    <ng-map ng-if="search.bikes !== undefined"
      id="searchMap"
      default-style="false"
      center="[{{search.mapOptions.lat}},{{search.mapOptions.lng}}]"
      zoom="{{search.mapOptions.zoom}}"
      on-click="search.onMapClick(event)">

      <marker ng-repeat="bike in search.filteredBikes" 
              id="{{bike.id}}" 
              position="{{bike.lat_rnd}},{{bike.lng_rnd}}" 
              on-click="search.showBikeWindow(event, bike.id)">
      </marker>

      <info-window id="searchMapWindow" close-box-margin="0">
        <div ng-non-bindable="">
          <bike-card bike="search.selectedBike"></bike-card>
        </div>
      </info-window>
    </ng-map>
  </div>

</div>
