<div flex layout="row" layout-xs="column" layout-fill>

  <div flex-xs="100" flex-gt-xs="70" flex-order-xs="2" layout="column">
    <div layout="column">
      <filter bikes="search.filteredBikes" initial-bikes="search.bikes" initial-values="search.initialValues" update-state="search.updateState"></filter>

      <!-- <div layout=“row” layout-align="start start">
        <div class="column lnr-mv8">
          <input-range
            data="search.date"
            lnr-single-input
            clear-calendar-data="search.isClearDataRange"
            on-change="search.onDateChange">
          </input-range>
          <div class="lnr-right"><a class="lnr-link" ng-click="search.clearDate()">{{ 'shared.clear' | translate }}</a></div>
        </div>
      </div> -->
    </div>

    <md-divider></md-divider>

    <md-content flex layout="column">

      <!-- city name for shown bikes -->
      <div id="search-header" layout-padding>
        <h1 class="md-headline" layout-padding>{{ 'search.bikes-in' | translate }} {{search.location}}</h1>
      </div>

      <!-- no bikes found placeholder -->
      <div ng-if="search.bikes !== undefined && search.bikes.length == 0" layout="row" layout-align="center center" layout-padding>
        <span>{{ 'search.no-bikes' | translate }}</span>
      </div>

      <!-- bikes grid -->
      <!-- mobile:        1 bike each row -->
      <!-- tablet:        2 bikes each row -->
      <!-- desktop:       3 bikes each row -->
      <!-- larger screen: 4 bikes each row -->
      <cardgrid
        bikes="search.filteredBikes"
        title="< 1km Distance"
        on-bike-hover="search.onBikeHover">
      </cardgrid>

      <!-- busy loader until bikes api resolves -->
      <div ng-show="search.bikes === undefined" flex layout="column" layout-align="center center">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
    </md-content>
  </div>

  <div flex flex-order-xs="1" layout="column" class="map-column lnr-preload-bg" hide-xs>
    <ng-map ng-if="search.bikes !== undefined"
      id="searchMap"
      default-style="false"
      center="[{{search.mapOptions.lat}},{{search.mapOptions.lng}}]"
      zoom="{{search.mapOptions.zoom}}"
      on-click="search.onMapClick(event)">

      <marker ng-repeat="bike in search.filteredBikes" 
              id="{{bike.id}}" 
              position="{{bike.lat_rnd}},{{bike.lng_rnd}}" 
              on-click="search.showBikeWindow(event, bike.id)">
      </marker>

      <info-window id="searchMapWindow" close-box-margin="0">
        <div ng-non-bindable="">
          <bike-card bike="search.selectedBike"></bike-card>
        </div>
      </info-window>
    </ng-map>
  </div>

</div>
