<md-dialog class="lnr-verification-modal">

  <!--<md-toolbar class="md-accent" hide show-xs ng-hide="true">-->
    <!--<div class="md-toolbar-tools" layout-align="center center">-->
      <!--&lt;!&ndash;<md-button class="md-icon-button">&ndash;&gt;-->
        <!--&lt;!&ndash;<md-icon></md-icon>&ndash;&gt;-->
      <!--&lt;!&ndash;</md-button>&ndash;&gt;-->
      <!--&lt;!&ndash;<span flex></span>&ndash;&gt;-->
      <!--&lt;!&ndash;<h2 class="md-headline">Verify your Profile</h2>&ndash;&gt;-->
      <!--&lt;!&ndash;<span flex></span>&ndash;&gt;-->
      <!--<md-button class="md-icon-button" ng-click="verificationDialog.hide()">-->
        <!--<md-icon md-svg-src="app/assets/ui_icons/icn_close_24.svg" aria-label="Close dialog"></md-icon>-->
      <!--</md-button>-->
    <!--</div>-->
  <!--</md-toolbar>-->

  <md-dialog-content>
    <div class="md-dialog-content" layout="column" ng-style="{'display': verificationDialog.loaded ? '' : 'none'}">
      <md-tabs
        class="content"
        md-dynamic-height
        md-no-pagination
        md-no-ink
        md-no-ink-bar
        md-center-tabs="on"
        md-selected="verificationDialog.selectedIndex"
        ng-class="verificationDialog.mobileScreen ? 'verif-mobile' : 'verif-desktop'"
      >

        <md-button class="md-icon-button verif-close" ng-click="verificationDialog.hide()">
          <md-icon class="close-button" md-svg-src="app/assets/ui_icons/lnr_verification_close_btn.svg"></md-icon>
        </md-button>

        <md-tab label="⬤" layout="row" ng-disabled="true">
          <div class="tab-content verif-1" layout="column" layout-align="space-between start" md-on-select="verificationDialog.activeTab = 1">
            <div layout="column" layout-align="center center">
              <md-icon md-svg-src="app/assets/ui_icons/lnr_icon_verification.svg" class="verification-icon"></md-icon>

              <p hide-xs class="md-headline lnr-center">Please Verify your Account</p>
              <p ng-if="verificationDialog.invited" class="md-body-1 lnr-center">
                {{ 'verification.1.text-invited' | translate }}
              </p>
              <p class="md-body-1 lnr-center" ng-class="verificationDialog.mobileScreen ? '' : 'md-body-desktop'">
                {{ 'verification.1.text2' | translate }}
              </p>

              <md-button
                class="md-raised md-primary lnr-no-margin md-button md-ink-ripple lnr-start"
                ng-click="verificationDialog.next()"
              >
                Let's start
              </md-button>
              <p class="under-text">It only takes 1 minute.</p>
            </div>
          </div> 
        </md-tab>

        <md-tab label="⬤" layout="row" ng-if="!verificationDialog.hasProfilePicture" md-on-select="verificationDialog.activeTab = 2" ng-disabled="true">
          <div class="tab-content verif-2" layout="column">
            <div layout="column" layout-align="center center" hide show-xs >
              <div class="label label-public">public</div>
              <p class="md-headline">
                {{ verificationDialog.business ? 'verification.2.business-title' : 'verification.2.title' | translate }}
              </p>
            </div>

            <div layout="row" layout-align="center center" hide-xs >
              <p class="md-headline lnr-center">
                {{ verificationDialog.business ? 'verification.2.business-title' : 'verification.2.title' | translate }}
              </p>
              <div class="label label-public">public</div>
            </div>

            <p class="md-body-1 lnr-center" ng-class="verificationDialog.mobileScreen ? '' : 'md-body-desktop'">
              {{ verificationDialog.business ? 'verification.2.business-description' : 'verification.2.description' | translate }}
            </p>

            <form name="verificationDialog.descriptionForm" layout="column" layout-align="center center">
              <img
                ng-style="{'display': verificationDialog.profilePicture ? 'none' : ''}"
                class="lnr-profile-lrg lnr-clickable"
                ngf-select
                name="uncropedProfilePicture"
                ng-model="verificationDialog.profilePicture"
                accept="image/*"
                ngf-pattern="'image/*'"
                ngf-fix-orientation="true"
                ngf-background="verificationDialog.profilePicture || 'app/assets/ui_icons/lnr_verification_add_image.svg'"
                ngf-validate="verificationDialog.validateObj"
                ngf-model-invalid="verificationDialog.invalidFiles">
              </img>

              <div
                ng-style="{'display': verificationDialog.profilePicture ? '' : 'none'}"
                ngf-drop
                ng-model="verificationDialog.profilePicture"
                ngf-pattern="image/*"
                class="cropArea"
              >
                <img-crop
                  ng-style="{'display': verificationDialog.profilePicture ? '' : 'none'}"
                  image="verificationDialog.profilePicture  | ngfDataUrl"
                  result-image="verificationDialog.croppedDataUrl"
                  ng-init="croppedDataUrl=''">
                </img-crop>
              </div>

              <div ng-if="verificationDialog.invalidFiles.$error !== undefined" class="text-error" layout="column">
                <p>Image file, more than 20 mb</p>
              </div>
            </form>
            <br>
          </div>
        </md-tab>

        <md-tab label="⬤" layout="row" ng-if="!verificationDialog.newUser.has_description" md-on-select="verificationDialog.activeTab = 3" ng-disabled="true">
          <div class="tab-content verif-3" layout="column">
            <div layout="column" layout-align="center center" hide show-xs>
              <div class="label label-public">public</div>
              <p class="md-headline">{{ 'verification.3.title' | translate }}</p>
            </div>
            <div layout="row" layout-align="center center" hide-xs >
              <p class="md-headline lnr-center">{{ 'verification.3.title' | translate }}</p>
              <div class="label label-public">public</div>
            </div>
            <div layout="row" layout-align="center center" ng-class="verificationDialog.mobileScreen ? 'verif-textarea-mobile' : 'verif-textarea-desktop'">
              <md-input-container>
                <form name="verificationDialog.descriptionForm">
                  <textarea
                    required
                    md-no-resize
                    name="description"
                    minlength="100"
                    md-maxlength="800"
                    ng-model="verificationDialog.newUser.description"
                    rows="{{ verificationDialog.mobileScreen ? '9' : '5'}}">
                  </textarea>
                  <div ng-messages="verificationDialog.descriptionForm.description.$error" role="alert">
                    <div ng-message="minlength">{{ 'verification.3.label' | translate }}</div>
                  </div>
                </form>
              </md-input-container>
            </div>
          </div>
        </md-tab>

        <md-tab label="⬤" layout="row" ng-if="verificationDialog.newUser.status == 0" md-on-select="verificationDialog.activeTab = 4" ng-disabled="true">
            <div class="tab-content" layout="column">
              <p class="md-body-1 lnr-center" ng-class="verificationDialog.mobileScreen ? '' : 'md-body-desktop'">
                {{ 'verification.4.description' | translate }}
              </p>
              <div layout="row" layout-align="center center">
                <md-input-container flex>
                  <form name="emailForm">
                    <label>{{ 'forms.email-address' | translate }}</label>
                    <input disabled required name="email" ng-model="verificationDialog.newUser.email">
                  </form>
                </md-input-container>

                <md-input-container layout="row" flex="45">
                  <md-button flex class="md-raised md-primary lnr-btn-inline" ng-disabled="verificationDialog.user.status > 0" ng-click="verificationDialog.resendEmail()">{{ 'verification.resend-email' | translate }}</md-button>
                </md-input-container>
              </div>
              <p class="md-body-2 lnr-center" ng-if="verificationDialog.user.status > 0">{{ 'verification.4.email-verified' | translate }}</p>
            </div>
        </md-tab>

        <md-tab label="⬤" layout="row" ng-if="!verificationDialog.newUser.confirmed_phone" md-on-select="verificationDialog.activeTab = 5" ng-disabled="true">
            <div class="tab-content" layout="column">
              <p class="md-body-1 lnr-center" ng-class="verificationDialog.mobileScreen ? '' : 'md-body-desktop'">
                {{ 'verification.5.description' | translate }}
              </p>

              <div layout="row" layout-align="center center">
                <md-input-container flex>
                  <form name="verificationDialog.phoneForm" class="lnr-tel-int">
                    <label>{{ 'shared.phone-number' | translate }}</label>
                    <input
                      required
                      type="text"
                      international-phone-number
                      ng-model="verificationDialog.newUser.phone_number"
                      ng-pattern="/^\+(?:[0-9] ?){6,14}[0-9]$/"
                      name="phone_number"
                      preferred-countries="de, at, nl, ch, uk, fr, es, it, dk, pt, be, pl"
                    >
                    <div ng-messages="verificationDialog.phoneForm.phone_number.$error" role="alert">
                      <div ng-message="pattern">{{ 'verification.5.enter-valid-phone-nr' | translate }}</div>
                    </div>
                  </form>
                </md-input-container>
                <md-input-container layout="row" flex="45">
                  <md-button ng-if="!verificationDialog.sentConfirmationSms" ng-disabled="!verificationDialog.phoneForm.$valid || verificationDialog.user.confirmed_phone" flex class="md-raised md-primary lnr-btn-inline" ng-click="verificationDialog.sendSms()">{{ 'verification.5.send-confirmation-sms' | translate }}</md-button>
                  <md-button ng-if="verificationDialog.sentConfirmationSms" ng-disabled="!verificationDialog.phoneForm.$valid || verificationDialog.user.confirmed_phone" flex class="md-raised md-primary lnr-btn-inline" ng-click="verificationDialog.sendSms()">{{ 'verification.5.resend-confirmation-sms' | translate }}</md-button>
                </md-input-container>
              </div>

              <div layout="row" layout-align="center center">
                <md-input-container flex>
                  <form name="emailForm">
                    <label>{{ 'verification.5.sms-verification-code' | translate }}</label>
                    <input required name="confirmation_code" min-length="4" max-length="4" ng-model="verificationDialog.newUser.confirmation_code"></input>
                  </form>
                </md-input-container>
                <md-input-container layout="row" flex="45">
                  <md-button flex class="md-raised md-primary lnr-btn-inline" ng-disabled="verificationDialog.user.confirmed_phone" ng-click="verificationDialog.confirmPhone()">{{ 'verification.5.confirm-code' | translate }}</md-button>
                </md-input-container>
              </div>

              <p class="md-body-1 lnr-center" ng-if="verificationDialog.user.confirmed_phone">{{ 'verification.5.phone-nr-verified' | translate }}</p>
            </div>
        </md-tab>

        <md-tab label="⬤" layout="row" md-on-select="verificationDialog.activeTab = 6" ng-disabled="true">
          <div class="tab-content verif-6" layout="column">
            <div layout="column" layout-align="center center" hide show-xs>
              <div class="label label-private">private</div>
              <p class="md-headline">{{ 'verification.6.title' | translate }}</p>
            </div>
            <div layout="row" layout-align="center center" hide-xs >
              <p class="md-headline lnr-center">{{ 'verification.6.title' | translate }}</p>
              <div class="label label-private">private</div>
            </div>

            <form
              name="verificationDialog.addressForm"
              layout="column"
              class="md-body-1"
              ng-class="verificationDialog.mobileScreen ? '' : 'md-body-desktop'"
            >
              <autocomplete
                md-no-float
                autocomplete-id="verificationDialog"
                layout="column"
                location="verificationDialog.newUser.street"
                required
                required="true"
                class="md-block my-custom-class"
                place-changed="verificationDialog.fillAddress(place)">
              </autocomplete>

              <div class="lnr-input-containers" layout="row" hide-xs>
                <md-input-container md-no-float flex>
                  <input
                    required
                    name="zip"
                    ng-model="verificationDialog.newUser.zip"
                    placeholder="{{ 'list.location.zip' | translate }}"
                  >
                  <div ng-messages="verificationDialog.addressForm.zip.$error" role="alert">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>

                <md-input-container md-no-float flex>
                  <input
                    required
                    name="city"
                    ng-model="verificationDialog.newUser.city"
                    placeholder="{{ 'list.location.city' | translate }}"
                  >
                  <div ng-messages="verificationDialog.addressForm.city.$error" role="alert">
                    <div ng-message="required">This is required.</div>
                  </div>
                </md-input-container>
              </div>

              <md-input-container md-no-float hide show-xs>
                <input
                  required
                  name="zip"
                  ng-model="verificationDialog.newUser.zip"
                  placeholder="{{ 'list.location.zip' | translate }}"
                >
                <div ng-messages="verificationDialog.addressForm.zip.$error" role="alert">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>

              <md-input-container md-no-float hide show-xs>
                <input
                  required
                  name="city"
                  ng-model="verificationDialog.newUser.city"
                  placeholder="{{ 'list.location.city' | translate }}"
                >
                <div ng-messages="verificationDialog.addressForm.city.$error" role="alert">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>

              <md-input-container md-no-float class="md-block">
                <input
                  required
                  name="country"
                  ng-model="verificationDialog.newUser.country"
                  placeholder="{{ 'list.location.country' | translate }}"
                >
                <div ng-messages="verificationDialog.addressForm.country.$error" role="alert">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>

              <!--<md-input-container md-no-float>-->
                <!--<input-->
                  <!--name="vat"-->
                  <!--ng-model="verificationDialog.newUser.vat"-->
                  <!--placeholder="VAT"-->
                  <!--ng-required='verificationDialog.business'-->
                <!--&gt;-->
                <!--<div ng-messages="verificationDialog.addressForm.vat.$error" role="alert">-->
                  <!--<div ng-message="required">This is required.</div>-->
                <!--</div>-->
              <!--</md-input-container>-->
            </form>
          </div>
        </md-tab>
      </md-tabs>
      <div class="md-dialog-buttons" layout="row" layout-align="end center" hide-xs>
        <md-button
          class="md-raised md-primary lnr-no-margin md-button md-ink-ripple"
          ng-disabled="verificationDialog.nextDisabled()"
          ng-click="verificationDialog.next()"
          ng-style="{'display': verificationDialog.activeTab == 1 ? 'none' : ''}"
        >
          {{ 'shared.next' | translate }}
        </md-button>
      </div>

      <div class="md-dialog-buttons" layout="row" layout-align="center center" hide show-xs>
        <md-button
          class="md-raised md-primary lnr-no-margin md-button md-ink-ripple"
          ng-disabled="verificationDialog.nextDisabled()"
          ng-click="verificationDialog.next()"
          ng-style="{'display': verificationDialog.activeTab == 1 ? 'none' : ''}"
        >
          {{ 'shared.next' | translate }}
        </md-button>
      </div>
    </div>
  </md-dialog-content>
</md-dialog>
