 <md-content class="single-column"> 
  <div id="hero-shot-small" class="lnr-preload-bg" style="background-image: url('app/assets/ui_images/seo/berlin-ebikes.jpg'); background-position: 50% 20%;" layout="row" layout-align="center center">
    <div class="lnr-page-title md-color-white" flex layout="column" layout-align="center center">
      <h1 class="md-display-1">{{ seoLanding.data.texts.main.title }}</h1>
      <p class="md-subhead">{{ seoLanding.data.texts.main.description }}</p>
    </div>
  </div>

  <div class="content section" layout-padding>
    <div class="lnr-section-title" layout="column" layout-align="center center">
      <h2 class="md-headline">{{ seoLanding.data.texts.featured.title }}</h2>
      <p class="md-body-1">{{ seoLanding.data.texts.featured.description }}</p>
    </div>

    <div layout-xs="column" layout="row">
      <div layout="row" layout-wrap layout-padding>
        <bike-card ng-repeat="bike in seoLanding.bikes.slice(0,4)" seo="true" bike="bike" flex="100" flex-gt-xs="50" flex-gt-sm="25">
        </bike-card>
      </div>
    </div>
  </div>

  <div class="content section" layout-padding>
    <div class="lnr-section-title" layout="column" layout-align="center center">
      <h2 class="md-headline">{{ seoLanding.data.texts.more.title }}</h2>
      <p class="md-body-1">{{ seoLanding.data.texts.more.description }}</p>
    </div>

    <div layout-xs="column" layout="row">
      <div layout="row" layout-wrap layout-padding>
        <bike-card ng-repeat="bike in seoLanding.bikes.slice(4,8)" bike="bike" seo="true" flex="100" flex-gt-xs="50" flex-gt-sm="25">
        </bike-card>
      </div>
    </div>
  </div>

  <div class="content section" layout-padding>
    <md-divider></md-divider>
    <div class="lnr-section-title" layout="column" layout-align="center center">
      <h2 class="md-headline">{{ seoLanding.data.texts.selection.title }}</h2>
      <p class="md-body-1">{{ seoLanding.data.texts.selection.description }}</p>
    </div>
    <br>
    <md-divider></md-divider>
  </div>

  <div class="content section" layout-padding>
    <div class="lnr-section-title" layout="column" layout-align="center center">
      <h2 class="md-headline">{{ seoLanding.data.texts.related.title }}</h2>
      <p class="md-body-1">{{ seoLanding.data.texts.related.title }}</p>
    </div>

    <div layout-xs="column" layout="row">
      <div layout="row" layout-wrap layout-padding>
        <bike-card ng-repeat="bike in seoLanding.bikes.slice(9,12)" seo="true" bike="bike" flex="100" flex-gt-xs="50" flex-gt-sm="25">
        </bike-card>
      </div>
    </div>
  </div>

  <div id="featuredCities" class="content section" layout-align="start center">
    <div class="lnr-section-title" layout="column" layout-align="center center">
      <h2 class="md-headline">{{ 'seo.cities-title' | translate }}</h2>
    </div>
    
    <md-grid-list id="featuredTilesGrid" class="md-color-white lnr-margin" md-cols="1" md-cols-gt-xs="2" md-cols-gt-sm="4" md-gutter="16px" md-row-height="1.5:1">
      <md-grid-tile class="tile tile-berlin">
        <a ui-sref="search({location: 'Berlin'})" layout-padding layout="column" layout-align="center center" analytics-on analytics-category="city page" analytics-event="click" analytics-label="berlin">
          <h3 class="md-title">Berlin</h3>
        </a>
      </md-grid-tile>

      <md-grid-tile class="tile tile-munich">
        <a ui-sref="search({location: 'Munich'})" target="_blank" layout-padding layout="column" layout-align="center center" analytics-on analytics-category="city page" analytics-event="click" analytics-label="munich">
          <h3 class="md-title">Munich</h3>
        </a>
      </md-grid-tile>

      <md-grid-tile class="tile tile-amsterdam">
        <a ui-sref="search({location: 'Amsterdam'})" layout-padding layout="column" layout-align="center center" analytics-on analytics-category="city page" analytics-event="click" analytics-label="amsterdam">
          <h3 class="md-title">Amsterdam</h3>
        </a>
      </md-grid-tile>

      <md-grid-tile class="tile tile-vienna">
        <a ui-sref="search({location: 'Vienna'})" layout-padding layout="column" layout-align="center center" analytics-on analytics-category="city page" analytics-event="click" analytics-label="vienna">
          <h3 class="md-title">Vienna</h3>
        </a>
      </md-grid-tile>
    </md-grid-list>
  </div>

  <br><br><br><br>

  <footer></footer>
</md-content>